docker/master/package/node-sqlite3/examples/test.json
[{"id":"fd25f3d.341e11","type":"debug","z":"675c7943.c14b78","name":"debug-party","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":360,"wires":[]},{"id":"c93aafcc.b0e73","type":"debug","z":"675c7943.c14b78","name":"debug3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":260,"y":200,"wires":[]},{"id":"4375c30b.f72bac","type":"debug","z":"675c7943.c14b78","name":"debug-agree","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":520,"wires":[]},{"id":"66a46dda.6fe3e4","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkparty","x":720,"y":400,"wires":[]},{"id":"d088edea.e21aa","type":"dblite-redis-in","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"subscribe","name":"","topic":"dkconsensus","timeout":"30","x":70,"y":240,"wires":[["c93aafcc.b0e73"]]},{"id":"351a1707.387e08","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":50,"y":380,"wires":[[]]},{"id":"8806c83c.138978","type":"comment","z":"675c7943.c14b78","name":"Config: 3 masters 3 workers | 2 Masters (Virginia), 1 Master (SFO)","info":"","x":240,"y":40,"wires":[]},{"id":"e5594f73.073af","type":"comment","z":"675c7943.c14b78","name":"Master 1 (SFO)","info":"","x":80,"y":200,"wires":[]},{"id":"8920adc9.75177","type":"function","z":"675c7943.c14b78","name":"party-maker","func":"var ml = msg.payload;\n// var xy = {\"partyname\":\"John Mcguire\",\"stdate\":\"1976-03-02\",\"endate\":\"\",\"ptype\":\"Taker\"};\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\n// var lgrname = global.get('lgr');\n// var db = new dblite3.Database(lgrname);\nvar db = new dblite3.Database('/home/ec2-user/sqlite/sqlite-sync/data/lgr.db');\n\nvar partyInput = {};\nvar columnPassword = \"helloworld\";\npartyInput.name = ml.zp0name;\npartyInput.bday = ml.zp0stdate;\nvar ptype = (ml.zp0type).toUpperCase(); \npartyInput.ptype = ptype;\npartyInput.pw = partyInput.name.replace(/\\s+/g,'') + \n    partyInput.bday + columnPassword;\nlet hsns = hs.hashNSalt(partyInput.pw);\n\nasync function putData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"Insert into party (name, hashid, salt, stdate, ptype) values \"+\n            \"(?,?,?,?,?)\", partyInput.name, hsns.passwordHash, hsns.salt, \n            partyInput.bday, partyInput.ptype);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\nputData().then (function(data) {\n    node.log(data);\n    // node.send(msg);\n    // node.done();\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["fd25f3d.341e11","a6901864.d79728","b192c9.af0ecd38"]]},{"id":"6ff37e07.a561c","type":"debug","z":"675c7943.c14b78","name":"debug-asset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":440,"wires":[]},{"id":"baed96b8.c17e68","type":"function","z":"675c7943.c14b78","name":"asset-maker","func":"let mpl = msg.payload;\n// let xt = {\"name\":\"Devbnj\",\"location\":\"Sparta, New Jersey\",\"metadata\":\"\",\"qty\":\"1\",\"value\":\"100000\",\"atype\":\"Tangible\"};\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar lgrname = global.get('lgr');\nvar db = new dblite3.Database(lgrname);\n// var db = new dblite3.Database('/home/devbnjhp/sqlite/sqlite-sync/data/lgr.db');\n\nlet assetInput = {};\nassetInput.name = mpl.name;\nassetInput.location = mpl.location;\nvar atype = 'TANGIBLE';\natype = mpl.zp1type.toUpperCase();\nassetInput.atype = atype;\nassetInput.qty = mpl.qty;\nassetInput.value = mpl.value;\nassetInput.metadata = mpl.metadata;\nassetInput.tag = mpl.tag;\nvar columnPassword = \"helloworld\";\nassetInput.pwd = assetInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(assetInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO ASSET('HASHID','SALT','NAME','LOCATION','METADATA','ATYPE','QUANTITY','ASSET_VALUE','ASSETTAG')\"+\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, assetInput.name, assetInput.location, \n            assetInput.metadata, assetInput.atype, assetInput.qty, assetInput.value, assetInput.tag);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    // msg.payload = data;\n    node.log(data);\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":500,"wires":[["6ff37e07.a561c","841c0531.995c58","b192c9.af0ecd38"]]},{"id":"30b5abcc.259df4","type":"function","z":"675c7943.c14b78","name":"agree-maker","func":"let mpl = msg.payload;\n// var st = {\"name\":\"Devbnj\",\"sla\":\"Immediate\",\"warranty\":\"Limited\",\"agreed_value\":\"82000\",\"agtype\":\"Binding\"};\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar lgrname = global.get('lgr');\nvar db = new dblite3.Database(lgrname);\n// var db = new dblite3.Database('/home/devbnjhp/sqlite/sqlite-sync/data/lgr.db');\n\nlet agInput = {};\nagInput.name = mpl.name;\nagInput.sla = mpl.sla;\nvar atype = 'BINDING';\natype = (mpl.zp2type).toUpperCase();\nagInput.atype = atype;\nagInput.warranty = mpl.warranty;\nagInput.value = mpl.agreed_value;\nvar columnPassword = \"helloworld\";\nagInput.pwd = agInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(agInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO AGREEMENT('HASHID','SALT','NAME','SLA','ATYPE','WARRANTY','AGREED_VALUE')\"+\n            \" VALUES (?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, agInput.name, agInput.sla, \n            agInput.atype, agInput.warranty, agInput.value);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["4375c30b.f72bac","ee44ef99.a3826","b192c9.af0ecd38"]]},{"id":"90204635.605c78","type":"debug","z":"675c7943.c14b78","name":"debug-ddl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":240,"wires":[]},{"id":"fc7b06b9.e0fb48","type":"function","z":"675c7943.c14b78","name":"ledger ddl","func":"var dblite3 = global.get('dblite3').verbose();\nvar lgrname = global.get('lgr');\nvar db = new dblite3.Database(lgrname);\n\ndb.serialize(function() {\n    try {\n        var sqlddl = \"CREATE TABLE IF NOT EXISTS PARTY(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, PTYPE TEXT CHECK (PTYPE IN ('GIVER','TAKER','WITNESS','ATTORNEY','THIRDPARTY','REFEREE')), STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, ENDDATE DATETIME); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS ASSET(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, LOCATION TEXT NOT NULL, METADATA TEXT NOT NULL, ATYPE TEXT CHECK (ATYPE IN ('TANGIBLE','VIRTUAL','DIGITAL','INTANGIBLE')), ASSETTAG TEXT, QUANTITY REAL NOT NULL, ASSET_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME, BOMPORTFOLIO TEXT ); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS AGREEMENT(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, SLA TEXT, WARRANTY TEXT, ATYPE TEXT CHECK (ATYPE IN ('BINDING','NONBINDING','TRACEABLE','POLICY')), AGREED_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS LEDGER(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, GIVER TEXT, TAKER TEXT, ASSET TEXT, AGREEMENT TEXT, TRAN_AMT REAL, TRAN_QNTY REAL, JOURNAL_TYPE TEXT CHECK (JOURNAL_TYPE IN ('JOURNAL', 'VOUCHER', 'IOU', 'REDEMPTION', 'LEASE')), TRAN_TYPE TEXT CHECK (TRAN_TYPE IN ('REWARD', 'AQUISITION', 'LEND', 'BORROW', 'WIN', 'MERGE', 'VIEW', 'VOTE')), LD_DATE DATETIME DEFAULT CURRENT_TIMESTAMP); \"; \n        db.run(sqlddl);\n    } catch (err) {\n        db.close();\n        return msg;\n    }\n});\n\ndb.close();\nmsg.payload = \"done\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":400,"wires":[["90204635.605c78","ba02af05.d357","b192c9.af0ecd38"]]},{"id":"1ea134e6.d5e3bb","type":"inject","z":"675c7943.c14b78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":300,"wires":[["a32c652c.b6d708"]]},{"id":"4ab95151.7b6b7","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dksetup","x":720,"y":320,"wires":[]},{"id":"eda09f73.84011","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkasset","x":720,"y":480,"wires":[]},{"id":"475d69c1.428b38","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkagree","x":720,"y":560,"wires":[]},{"id":"17cdd58.018032b","type":"function","z":"675c7943.c14b78","name":"getData","func":"var x = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar getData = function (callback) {\n    db.serialize(function () {\n        var cntasset = 0;\n        var cntlgr = 0;\n        var cntag = 0;\n        var cntparty = 0;\n        var budget = 0;\n        var actual = 0;\n        var agreed = 0;\n        try {\n        db.all(\"SELECT count(asset_value) as c, sum(asset_value) as v FROM asset\", function (err, row1) {\n            cntasset = row1[0].c;\n            budget = row1[0].v;\n            console.log(row1);\n        });\n        db.all(\"SELECT count(agreed_value) as c2, sum(agreed_value) as v2 FROM agreement\", function (err, row3) {\n            cntag = row3[0].c2;\n            agreed = row3[0].v2;\n            console.log(row3);\n        });\n        db.all(\"SELECT count(name) as c3 FROM party\", function (err, row4) {\n            cntparty = row4[0].c3;\n            console.log(row4);\n        });\n        db.all(\"SELECT count(tran_amt) as c1, sum(tran_amt) as v1 FROM ledger\", function (err, row2) {\n            cntlgr = row2[0].c1;\n            actual = row2[0].v1;\n            console.log(row2);\n            callback({'budget': budget, 'actual': actual, 'agreed': agreed, \"cparty\": cntparty,\n                \"casset\": cntasset, \"cagree\": cntag, \"cledger\": cntlgr\n            })\n        });\n        } catch (err) {\n            db.close();\n            return msg;\n        }\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    var percent1 = (Number(data.actual) / Number(data.budget) *10);\n    var percent2 = (Number(data.actual) / Number(data.agreed) *10);\n    console.log(data);\n    var msg1 = {};\n    msg1.value1 = percent1;\n    msg1.value2 = percent2;\n    msg1.payload = {'Parties': data.cparty, 'Assets': data.casset, 'Agreements': data.cagree,\n    'Journals': data.cledger};\n    node.send(msg1, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":80,"y":680,"wires":[[]]},{"id":"dc902735.86d138","type":"file","z":"675c7943.c14b78","name":"cleanup","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":420,"y":240,"wires":[["8205b6c0.503e78"]]},{"id":"8205b6c0.503e78","type":"delay","z":"675c7943.c14b78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":300,"wires":[["fc7b06b9.e0fb48"]]},{"id":"fa8a2a3.6a8fdd8","type":"redis-instance","z":"675c7943.c14b78","server":"20d5f788.cb8598","name":"","topic":"redis","location":"flow","block":false,"x":590,"y":40,"wires":[]},{"id":"f1bd0af8.2ef358","type":"http in","z":"675c7943.c14b78","name":"","url":"/master","method":"get","upload":false,"swaggerDoc":"","x":70,"y":160,"wires":[["b192c9.af0ecd38"]]},{"id":"45182976.d6e408","type":"template","z":"675c7943.c14b78","name":"master","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<title>dataknox master</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-address-card-o,.fa-bank,.fa-legal,.fa-file {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n{{#payload}}\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-{{#dell}}{{clr}}{{/dell}} w3-card w3-left-align w3-large\">\n    {{#skel}}\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-{{#dell}}{{clr}}{{/dell}}\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"#\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n    <a href=\"#{{zp0}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp0}}</a>\n    <a href=\"#{{zp1}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp1}}</a>\n    <a href=\"#{{zp2}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp2}}</a>\n    <a href=\"#{{zp3}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp3}}</a>\n    <a href=\"#{{zp4}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp4}}</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n    <a href=\"#{{zp0}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp0}}</a>\n    <a href=\"#{{zp1}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp1}}</a>\n    <a href=\"#{{zp2}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp2}}</a>\n    <a href=\"#{{zp3}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp3}}</a>\n    <a href=\"#{{zp4}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp4}}</a>\n  </div>\n  {{/skel}}\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-{{#dell}}{{clr}}{{/dell}} w3-center\" style=\"padding:64px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\"><img src=\"https://www.chainbelow.org/img/dataknox_logo.png\" class=\"w3-image\" alt=\"dataknox\" style=\"width:33%\" /></h1>\n  <p class=\"w3-xlarge\">provenance * append only * high performance * encrypted * immutable</p>\n  <button class=\"w3-button w3-black w3-padding-large w3-large w3-margin-top\" onclick=\"document.getElementById('getstart').style.display='block'\" style=\"font-weight:900;\">Initialize</button>\n</header>\n\n<!-- Modal -->\n<div id=\"getstart\" class=\"w3-modal\">\n    <div class=\"w3-modal-content w3-card-4 w3-animate-top\">\n      <header class=\"w3-container w3-theme-l1\"> \n        <span onclick=\"document.getElementById('getstart').style.display='none'\"\n        class=\"w3-button w3-display-topright\">×</span>\n        <h4>Getting Started</h4>\n        <h5>Setup will create new database files (both) in master \n          and worker nodes and setup a new database with tables. \n          Give it about 5 secs to complete <i class=\"fa fa-refresh\"></i></h5>\n      </header>\n      <div class=\"w3-padding\">\n        <p>Are you sure, you want to initialize the network?</p>\n        <p><a class=\"w3-btn w3-hover-purple\" href=\"setupstart\">GO</a></p>\n      </div>\n      <footer class=\"w3-container w3-theme-l1\">\n        <p>Chainbelow Dataknox Engine</p>\n      </footer>\n    </div>\n</div>\n{{#dell}}\n<div class=\"w3-container w3-padding 64\">\n    <h2 class=\"w3-center\">This server's ip {{ip}}, running at {{loc}}, geo {{geo}}, timezone {{tz}}</h2>\n</div>\n{{/dell}}\n\n<!-- First Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-padding-64 w3-container\" id=\"{{zp0}}\">\n  <div class=\"w3-content\">\n    <div class=\"w3-twothird\">\n      <h1>{{zp0}}</h1>\n      <h5 class=\"w3-padding-32\">{{zp0}} represents the 'person' aspect of the {{zp3}}. \n          {{zp0}} is the human role in the transaction. The {{zp0}} \n          repository maintains the parties involved whose identities are carefully hashed.</h5>\n      <form class=\"w3-container w3-card-4\" id=\"formzp0\" name=\"formzp0\" action=\"zp0start\" method=\"POST\">\n        <label class=\"w3-text-black\">Name</label>\n        <input class=\"w3-input w3-border\" type=\"text\" name=\"zp0name\" id=\"zp0name\" required>\n         \n        <label class=\"w3-text-blue\">Start date</label>\n        <input class=\"w3-input w3-border\" type=\"date\" name=\"zp0stdate\" id=\"zp0stdate\" required>\n\n        <label class=\"w3-text-blue\">End date</label>\n        <input class=\"w3-input w3-border\" type=\"date\" name=\"zp0endate\" id=\"zp0endate\">\n\n        <label class=\"w3-text-blue\">Classification</label>\n        <p><select class=\"w3-select\" name=\"zp0type\" id=\"zp0type\" required>\n            <option value=\"\" disabled selected>Choose {{zp0}} type</option>\n            {{/skel}}\n            {{#zp0type}}\n            <option value=\"{{name}}\">{{name}}</option>\n            {{/zp0type}}\n        </select></p>\n        <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp0btn\">Register</button>\n         \n        </form>\n    </div>\n\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-address-card-o w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}}\"></i>\n    </div>\n  </div>\n</div>\n\n<!-- Second Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp1}}\">\n{{/skel}}\n  <div class=\"w3-content\">\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-bank w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n    </div>\n\n    {{#skel}}\n    <div class=\"w3-twothird\">\n      <h1>{{zp1}}</h1>\n      <h5 class=\"w3-padding-32\">{{zp1}}s are exchanged between {{zp0}}(s) for money \n        or other {{zp1}}(s). {{zp1}}(s) are tangible or intangible. \n        {{zp1}}(s) have a perceived monetary value.</h5>\n\n      <form class=\"w3-container w3-card-4\" id=\"formzp1\" name=\"formzp1\" action=\"zp1start\" method=\"POST\">\n            <label class=\"w3-text-black\">Name</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"name\" id=\"name\" required>\n            <label class=\"w3-text-blue\">Location</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"location\" id=\"location\" required>\n            <label class=\"w3-text-blue\">Metadata</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"metadata\" id=\"metadata\">\n            <label class=\"w3-text-blue\">Quantity</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"qty\" id=\"qty\" required>\n            <label class=\"w3-text-blue\">Value</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"value\" id=\"value\" required>\n            <label class=\"w3-text-blue\">Tag</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"tag\" id=\"tag\">\n            <p><select class=\"w3-select\" name=\"zp1type\" id=\"zp1type\" required>\n                <option value=\"\" disabled selected>Choose {{zp1}} type</option>\n                {{/skel}}\n                {{#zp1type}}\n                <option value=\"{{name}}\">{{name}}</option>\n                {{/zp1type}}\n            </select></p>\n            <p>&nbsp;</p>\n          <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp1btn\">Register</button>\n        </form>\n\n    </div>\n  </div>\n</div>\n\n<!-- Third Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-padding-64 w3-container\" id=\"{{zp2}}\">\n        <div class=\"w3-content\">\n          <div class=\"w3-twothird\">\n            <h1>{{zp2}}</h1>\n            <h5 class=\"w3-padding-32\">{{zp2}} represents the contract between the \n                {{zp0}}(s) involved, negotiated value of the {{zp1}}, terms and conditions, \n                policies and warranty.</h5>\n      \n            <form class=\"w3-container w3-card-4\" id=\"formzp2\" name=\"formzp2\" action=\"zp2start\" method=\"POST\">\n              <label class=\"w3-text-black\">Name</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"name\" id=\"name\" required>\n               \n              <label class=\"w3-text-blue\">SLA</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"sla\" id=\"sla\">\n      \n              <label class=\"w3-text-blue\">Warranty</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"warranty\" id=\"warranty\">\n      \n              <label class=\"w3-text-blue\">Agreed Value</label>\n              <input class=\"w3-input w3-border\" type=\"number\" name=\"agreed_value\" id=\"agreed_value\" required>\n\n              <p><select class=\"w3-select\" name=\"zp2type\" id=\"zp2type\" required>\n                  <option value=\"\" disabled selected>Choose {{zp2}} type</option>\n                  {{/skel}}\n                  {{#zp2type}}\n                  <option value=\"{{name}}\">{{name}}</option>\n                  {{/zp2type}}\n              </select></p>\n\n              <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp2btn\">Register</button>\n            </form>\n          </div>\n      \n          <div class=\"w3-third w3-center\">\n            <i class=\"fa fa-legal w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}}\"></i>\n          </div>\n        </div>\n</div>\n\n<!-- Fourth Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp3}}\">\n{{/skel}}  \n        <div class=\"w3-content\">\n          <div class=\"w3-third w3-center\">\n            <i class=\"fa fa-file w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n          </div>\n          {{#skel}}\n          <div class=\"w3-twothird\">\n            <h1>{{zp3}}</h1>\n            <h5 class=\"w3-padding-32\">{{zp3}}(s) are transactions between parties on {{zp1}}(s) based on {{zp2}}. \n                {{zp3}}(s) are append only. {{zp3}}(s) maintain the hash keys of the parties, \n                {{zp1}}(s) and {{zp2}}(s) involved. </h5>\n            {{/skel}}\n            <form class=\"w3-container w3-card-4\" id=\"formzp3\" name=\"formzp3\" action=\"zp3start\" method=\"POST\">\n                <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"jbutton\">Load</button>\n            </form>\n      \n          </div>\n        </div>\n</div>\n\n<!-- Fifth Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp4}}\">\n  {{/skel}}\n    <div class=\"w3-content\">\n      <div class=\"w3-third w3-center\">\n        <i class=\"fa fa-bank w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n      </div>\n      {{#skel}}\n      <div class=\"w3-twothird\">\n        <h1>{{zp4}}</h1>\n        <h5 class=\"w3-padding-32\">Ledger analytics.</h5>\n        {{/skel}}\n        <form class=\"w3-container w3-card-4\" id=\"formanal\" name=\"formanal\" action=\"analstart\" method=\"POST\">\n          <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"fetchbtn\">Fetch Data</button>\n        </form>\n        <p>&nbsp;</p>\n        <div id=\"chart_div\" style=\"width: 400px; height: 240px;\"></div>  \n      </div>\n    </div>\n</div>\n{{/payload}}\n  \n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n\n// document on load\n$(document).ready( () => {\n});\n</script>\n\n</body>\n</html>\n","output":"str","x":990,"y":140,"wires":[["681729b9.fc89b8"]]},{"id":"681729b9.fc89b8","type":"http response","z":"675c7943.c14b78","name":"","statusCode":"","headers":{},"x":1070,"y":200,"wires":[]},{"id":"f6e609b7.db59b8","type":"http in","z":"675c7943.c14b78","name":"","url":"zp0start","method":"post","upload":false,"swaggerDoc":"","x":80,"y":460,"wires":[["8920adc9.75177"]]},{"id":"1f847303.cab41d","type":"http in","z":"675c7943.c14b78","name":"","url":"zp1start","method":"post","upload":false,"swaggerDoc":"","x":80,"y":500,"wires":[["baed96b8.c17e68"]]},{"id":"75584338.ff422c","type":"http in","z":"675c7943.c14b78","name":"","url":"zp2start","method":"post","upload":false,"swaggerDoc":"","x":80,"y":560,"wires":[["30b5abcc.259df4"]]},{"id":"7d808e2f.3b963","type":"http in","z":"675c7943.c14b78","name":"","url":"zp3start","method":"post","upload":false,"swaggerDoc":"","x":80,"y":600,"wires":[["cb9dcd74.12861"]]},{"id":"cf98878e.b10548","type":"http response","z":"675c7943.c14b78","name":"","statusCode":"","headers":{},"x":710,"y":600,"wires":[]},{"id":"bdea6220.267aa","type":"http in","z":"675c7943.c14b78","name":"","url":"/setupstart","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["a32c652c.b6d708"]]},{"id":"cb9dcd74.12861","type":"function","z":"675c7943.c14b78","name":"qry3","func":"var hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar lgrname = global.get('lgr');\nvar db = new dblite3.Database(lgrname);\n// var db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar getData = function (callback) {\n    var res = {};\n    // var party;\n    // var asset;\n    // var agree;\n    db.serialize(function () {\n        try {\n            db.all(\"SELECT name, hashid FROM Party;\", function (err, row) {\n                res.party = row;\n            })\n            db.all(\"SELECT name, hashid FROM Agreement;\", function (err, row) {\n                res.agree = row;\n            })\n            db.all(\"SELECT name, hashid FROM Asset;\", function (err, row) {\n                res.asset = row;\n                //res.party = party;\n                //res.agree = agree;\n                //res.asset = asset;\n                callback(res);\n            })\n        } catch (err) {\n            callback(res);\n        }\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    // var msg1 = xmsg;\n    msg.payload = data;\n    console.log(data);\n    node.send(msg, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":290,"y":600,"wires":[["261664ce.c2a5bc","8b7fd7fa.850758"]]},{"id":"8b7fd7fa.850758","type":"template","z":"675c7943.c14b78","name":"journal","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<title>dataknox journal</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-address-card-o,.fa-bank,.fa-legal,.fa-file {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-red w3-card w3-left-align w3-large\">\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"master\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n    <a href=\"master\" class=\"w3-bar-item w3-button w3-padding-large\">Home</a>\n  </div>\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-red w3-center\" style=\"padding:32px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\">dataknox journal</h1>\n  <p class=\"w3-xlarge\">append only * distributed ledger * high transactional</p>\n</header>\n\n<!-- Journal Grid -->\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"journal\">\n        <div class=\"w3-content\">\n          <div class=\"w3-twothird\">\n            <form class=\"w3-container w3-card-4\" id=\"formjournal\" name=\"formjournal\" action=\"journalend\" method=\"POST\">\n                <p><select class=\"w3-select\" name=\"txgiver\" id=\"txgiver\" required>\n                    <option value=\"\" disabled selected>Choose giver</option>\n                    {{#payload}}\n                    {{#party}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/party}}\n                    {{/payload}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txtaker\" id=\"txtaker\" required>\n                    <option value=\"\" disabled selected>Choose taker</option>\n                    {{#payload}}\n                    {{#party}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/party}}\n                    {{/payload}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txasset\" id=\"txasset\" required>\n                    <option value=\"\" disabled selected>Choose asset</option>\n                    {{#payload}}\n                    {{#asset}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/asset}}\n                    {{/payload}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txagree\" id=\"txagree\" required>\n                    <option value=\"\" disabled selected>Choose agreement</option>\n                    {{#payload}}\n                    {{#agree}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/agree}}\n                    {{/payload}}\n                </select></p>\n                <label class=\"w3-text-black\">Quantity</label>\n                  <input class=\"w3-input w3-border\" type=\"number\" name=\"txqnty\" id=\"txqnty\" required>\n                  <label class=\"w3-text-blue\">Amount</label>\n                  <input class=\"w3-input w3-border\" type=\"number\" name=\"txamt\" id=\"txamt\" required>\n                  <p>&nbsp;</p>\n                  <button class=\"w3-btn w3-xtra-large w3-red\" id=\"journalbtn\">Submit Journal</button>\n            </form>\n      \n          </div>\n        </div>\n</div>\n      \n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n</script>\n\n</body>\n</html>\n","output":"str","x":550,"y":600,"wires":[["cf98878e.b10548"]]},{"id":"261664ce.c2a5bc","type":"debug","z":"675c7943.c14b78","name":"debug-journal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":660,"wires":[]},{"id":"b16d9638.5779c8","type":"function","z":"675c7943.c14b78","name":"write-ledger","func":"var pld = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar lgrname = global.get('lgr');\nvar db = new dblite3.Database(lgrname);\n// var db = new dblite3.Database('/home/devbnjhp/sqlite/sqlite-sync/data/lgr.db');\n\nvar columnPassword = \"helloworld\";\nlet hsns = hs.hashNSalt(columnPassword);\n\nvar giver=\"\", taker=\"\", asset=\"\", agree=\"\", qty = 0, value = 0;\nvar putData = function (callback) {\n    db.serialize(function () {\n        giver = pld.txgiver;\n        taker = pld.txtaker;\n        asset = pld.txasset;\n        agree = pld.txagree;\n        qty = pld.txqnty;\n        value = pld.txamt;\n        var sqls = \"INSERT INTO LEDGER (hashid, salt, giver, taker, asset, agreement, tran_qnty, tran_amt, journal_type, tran_type) \"+\n            \" VALUES (?,?,?,?,?,?,?,?,?,?)\"\n        db.run(sqls, hsns.passwordHash, hsns.salt,\n            giver, taker, asset, agree, qty, value, \"JOURNAL\", \"AQUISITION\");\n        var xobj = {};\n        xobj.pw = hsns.passwordHash;\n        xobj.salt =  hsns.salt;\n        xobj.giver = giver;\n        xobj.taker = taker;\n        xobj.asset = asset;\n        xobj.agree = agree;\n        xobj.qty = qty;\n        xobj.value = value;\n        xobj.jtype = \"JOURNAL\";\n        xobj.ttype = \"AQUISITION\";\n        callback (xobj);\n    });\n}\n\nputData(function(data) {\n    db.close();\n    msg.payload = data;\n    msg.topic = \"dkledger\";\n    node.send(msg);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["261664ce.c2a5bc","8b7fd7fa.850758","6fc1320b.c41a2c"]]},{"id":"1888ff20.ce03f1","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkledger","x":660,"y":700,"wires":[]},{"id":"3f66e32d.c8570c","type":"http in","z":"675c7943.c14b78","name":"","url":"journalend","method":"post","upload":false,"swaggerDoc":"","x":80,"y":640,"wires":[["b16d9638.5779c8","261664ce.c2a5bc"]]},{"id":"f52679a5.9bc658","type":"file in","z":"675c7943.c14b78","name":"startfile","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":620,"y":180,"wires":[["2eadeebe.7287b2"]]},{"id":"6614bd59.4270d4","type":"inject","z":"675c7943.c14b78","name":"template1","topic":"","payload":"{\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Asset\",\"zp2\":\"Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Giver\"},{\"name\":\"Taker\"},{\"name\":\"Witness\"},{\"name\":\"Third-Party\"},{\"name\":\"Attorney\"},{\"name\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\"},{\"name\":\"Virtual\"},{\"name\":\"Digital\"},{\"name\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\"},{\"name\":\"Non Binding\"},{\"name\":\"Traceable\"},{\"name\":\"Policy\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["df068f39.61a6"]]},{"id":"1669f10b.a08eef","type":"file","z":"675c7943.c14b78","name":"startfile","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":460,"y":100,"wires":[["90204635.605c78"]]},{"id":"2eadeebe.7287b2","type":"json","z":"675c7943.c14b78","name":"","property":"payload","action":"","pretty":false,"x":810,"y":140,"wires":[["4f4e2973.578448"]]},{"id":"ba02af05.d357","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["90bd42e7.b644b"]]},{"id":"a6901864.d79728","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["66a46dda.6fe3e4"]]},{"id":"841c0531.995c58","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":570,"y":500,"wires":[["eda09f73.84011"]]},{"id":"ee44ef99.a3826","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":570,"y":560,"wires":[["475d69c1.428b38"]]},{"id":"6fc1320b.c41a2c","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":700,"wires":[["1888ff20.ce03f1"]]},{"id":"78bf67f2.fd3608","type":"inject","z":"675c7943.c14b78","name":"template2","topic":"","payload":"{\"skel\":{\"zp0\":\"People\",\"zp1\":\"Investment\",\"zp2\":\"Policy\",\"zp3\":\"Transactions\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"red\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Giver\"},{\"name\":\"Taker\"},{\"name\":\"Witness\"},{\"name\":\"Third-Party\"},{\"name\":\"Attorney\"},{\"name\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\"},{\"name\":\"Virtual\"},{\"name\":\"Digital\"},{\"name\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\"},{\"name\":\"Non Binding\"},{\"name\":\"Traceable\"},{\"name\":\"Policy\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":120,"wires":[["df068f39.61a6"]]},{"id":"4f4e2973.578448","type":"change","z":"675c7943.c14b78","name":"","rules":[{"t":"set","p":"payload.config.lgr","pt":"msg","to":"lgr","tot":"global"},{"t":"set","p":"payload.config.redis","pt":"msg","to":"redis","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":200,"wires":[["45182976.d6e408"]]},{"id":"98a57f93.fde56","type":"http in","z":"675c7943.c14b78","name":"","url":"/config","method":"get","upload":false,"swaggerDoc":"","x":100,"y":760,"wires":[["8a87d6cd.a70658"]]},{"id":"8a87d6cd.a70658","type":"template","z":"675c7943.c14b78","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Th<!DOCTYPE html>\n<html lang=\"en\">\n<title>dataknox configuration</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-file {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-red w3-card w3-left-align w3-large\">\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-{{#dell}}{{clr}}{{/dell}}\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"#\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n  </div>\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-red w3-center\" style=\"padding:64px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\"><img src=\"https://www.chainbelow.org/img/dataknox_logo.png\" class=\"w3-image w3-grayscale\" style=\"width:33%\" /></h1>\n  <p class=\"w3-xlarge\">provenance * append only * high performance * encrypted * immutable</p>\n</header>\n\n<!-- First Grid -->\n<div class=\"w3-row-padding w3-padding-64 w3-container\">\n  <div class=\"w3-content\">\n    <div class=\"w3-twothird\">\n      <h1>dataknox configuration</h1>\n      <h5 class=\"w3-padding-32\">Please complete the configuration carefully.</h5>\n      <form class=\"w3-container w3-card-4\" id=\"formco\" name=\"formco\" action=\"zp9config\" method=\"POST\">\n        <label class=\"w3-text-black\">JSON Config File</label>\n        <textarea class=\"w3-input w3-border\" rows=\"18\" cols=\"70\" name=\"conf\" id=\"conf\" required>\n                {\n                    \"skel\":\n                    {\"zp0\": \"Party\", \"zp1\": \"Asset\", \"zp2\": \"Agreement\", \"zp3\": \"Ledger\", \"zp4\": \"Dashboard\"},\n                    \"dell\":\n                    {\"clr\": \"blue\", \"ip\":\"localhost\", \"locn\":\"Sparta, NJ\", \"geo\":\"\"},\n                    \"zp0type\":\n                    [{\"name\":\"Giver\"},{\"name\":\"Taker\"},{\"name\":\"Witness\"},{\"name\":\"Third-Party\"},{\"name\":\"Attorney\"},{\"name\":\"Referee\"}],\n                    \"zp1type\":\n                    [{\"name\":\"Tangible\"},{\"name\":\"Virtual\"},{\"name\":\"Digital\"},{\"name\":\"Intangible\"}],\n                    \"zp2type\":\n                    [{\"name\":\"Binding\"},{\"name\":\"Non Binding\"},{\"name\":\"Traceable\"},{\"name\":\"Policy\"}],\n                    \"config\":\n                    {\"lgr\":\"/home/devbnjhp/sqlite/sqlite-sync/data/lgr.db\", \"redis\":\"47.254.67.33\"}\n                }\n        </textarea>       \n        <button class=\"w3-btn w3-xtra-large w3-red\" id=\"cobtn\">Write</button>\n         \n        </form>\n    </div>\n\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-file w3-padding-64 w3-text-red\"></i>\n    </div>\n  </div>\n</div>\n\n \n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n\n// document on load\n$(document).ready( () => {\n});\n</script>\n\n</body>\n</html>\n","output":"str","x":280,"y":760,"wires":[["829e9006.83a4e"]]},{"id":"5bece561.358e5c","type":"file","z":"675c7943.c14b78","name":"startfile","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":340,"y":860,"wires":[["afb97ce7.5e0c5","8a87d6cd.a70658","6450fbd7.15c8a4"]]},{"id":"829e9006.83a4e","type":"http response","z":"675c7943.c14b78","name":"","statusCode":"","headers":{},"x":610,"y":760,"wires":[]},{"id":"9c7a2225.c5a2e","type":"http in","z":"675c7943.c14b78","name":"","url":"/zp9config","method":"post","upload":false,"swaggerDoc":"","x":100,"y":800,"wires":[["c3b6172f.4961f8"]]},{"id":"afb97ce7.5e0c5","type":"debug","z":"675c7943.c14b78","name":"debug-config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":800,"wires":[]},{"id":"c3b6172f.4961f8","type":"function","z":"675c7943.c14b78","name":"objmaker","func":"var pld = msg.payload;\nlet foo = env.get(\"USER\");\nmsg.filename = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/dataknox.file\";\nvar obj = {};\ntry {\n    var npl = JSON.stringify(pld); //.replace(/[\\\\r]/g, \"\");\n    obj = JSON.parse(npl);\n    msg.payload = obj.conf;\n} catch (err) {\n    // do nothing;\n}    \nreturn msg;","outputs":1,"noerr":0,"x":180,"y":860,"wires":[["5bece561.358e5c"]]},{"id":"df068f39.61a6","type":"function","z":"675c7943.c14b78","name":"filenamer","func":"let foo = env.get(\"USER\");\nmsg.filename = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/dataknox.file\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["1669f10b.a08eef"]]},{"id":"b192c9.af0ecd38","type":"function","z":"675c7943.c14b78","name":"filenamer","func":"let foo = env.get(\"USER\");\nmsg.filename = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/dataknox.file\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["f52679a5.9bc658"]]},{"id":"a32c652c.b6d708","type":"function","z":"675c7943.c14b78","name":"filenamer","func":"let foo = env.get(\"USER\");\nmsg.filename = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["dc902735.86d138"]]},{"id":"6450fbd7.15c8a4","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkconfig","x":620,"y":840,"wires":[]},{"id":"90bd42e7.b644b","type":"dblite-redis-command","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"auth","name":"rediscli","topic":"S@nskr1t12345","params":"{\"PASSWORD\":\"S@nskr1t12345\"}","paramsType":"json","payloadType":"json","block":false,"x":560,"y":340,"wires":[["4ab95151.7b6b7"]]},{"id":"20d5f788.cb8598","type":"dblite-redisConfig","z":"","name":"master-redis","options":"127.0.0.1","cluster":false,"optionsType":"str"}]