worker-dotnode-red/flows_devbnj.json
[{"id":"e1daed12.932d1","type":"tab","label":"Flow Worker 3 SFO","disabled":false,"info":""},{"id":"ff5ca012.9ff81","type":"tab","label":"Flow Debugger","disabled":false,"info":""},{"id":"f765ebd1.1aadc8","type":"tab","label":"Flow Insurance","disabled":false,"info":""},{"id":"901918e3.289968","type":"dblite-append","z":"","db":"/home/devb/sqlite/sqlite-sync/data/ledger.db"},{"id":"8b0ce7f3.c799e8","type":"dblite-redisConfig","z":"","name":"remote","options":"47.254.67.33","cluster":false,"optionsType":"str"},{"id":"b9669a69.de8f18","type":"dblite-redisConfig","z":"","name":"Far-Remote","options":"47.90.204.172","cluster":false,"optionsType":"str"},{"id":"138af1b4.0c74ae","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#fe0008","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"dltlite (worker)","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":3,"py":0}}},{"id":"8e945b40.0018a8","type":"ui_tab","z":"","d":true,"name":"Dept 1 Reporting","icon":"poll","order":1,"disabled":false,"hidden":false},{"id":"a87b299.7ee2dd8","type":"ui_group","z":"","name":"Department 1","tab":"8e945b40.0018a8","order":1,"disp":true,"width":18,"collapse":true},{"id":"7e00d2f3.60e4cc","type":"dblite-redisConfig","z":"","name":"Local","options":"localhost","cluster":false,"optionsType":"str"},{"id":"2863f61a.6e0eea","type":"ui_tab","z":"","d":true,"name":"Dept 2 Reporting","icon":"poll","order":2,"disabled":false,"hidden":false},{"id":"87bab99a.48b728","type":"ui_group","z":"","name":"Department 2","tab":"2863f61a.6e0eea","order":1,"disp":true,"width":12,"collapse":true},{"id":"cb034496.0d2da8","type":"ui_tab","z":"","d":true,"name":"Test Automated","icon":"power","order":3,"disabled":false,"hidden":false},{"id":"af6bac0b.2ded1","type":"ui_group","z":"","name":"Load Data","tab":"cb034496.0d2da8","order":1,"disp":true,"width":12,"collapse":true},{"id":"a0c797ef.316068","type":"ui_tab","z":"","name":"From Master","icon":"device_hub","order":4,"disabled":false,"hidden":false},{"id":"f7afc07d.19649","type":"ui_group","z":"","name":"Report","tab":"a0c797ef.316068","order":1,"disp":true,"width":"10","collapse":false},{"id":"f5bf16d.adb8be8","type":"ui_group","z":"","name":"Details","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"6a04a397.86c87c","type":"ui_group","z":"","name":"Destroy and Purge Sandbox","tab":"90b07fa6.a3062","order":1,"disp":true,"width":12,"collapse":false},{"id":"90b07fa6.a3062","type":"ui_tab","z":"","d":true,"name":"Housekeeping","icon":"change_history","order":7,"disabled":false,"hidden":false},{"id":"3c627a33.9106e6","type":"ui_spacer","name":"spacer","group":"af6bac0b.2ded1","order":3,"width":12,"height":1},{"id":"347cd950.f394c6","type":"ui_spacer","name":"spacer","group":"a87b299.7ee2dd8","order":1,"width":18,"height":1},{"id":"41d54fd8.a74ec","type":"ui_group","z":"","name":"Gauge 1","tab":"a0c797ef.316068","order":2,"disp":true,"width":"6","collapse":false},{"id":"74a6f70f.d89898","type":"ui_group","z":"","name":"Gauge 2","tab":"a0c797ef.316068","order":3,"disp":true,"width":"6","collapse":false},{"id":"15aaca1e.68c676","type":"debug","z":"e1daed12.932d1","name":"debug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":180,"wires":[]},{"id":"36514da0.af1bf2","type":"debug","z":"e1daed12.932d1","name":"debug2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":100,"wires":[]},{"id":"70a5e66b.4ebbc8","type":"comment","z":"e1daed12.932d1","name":"swap the topic / payload","info":"","x":720,"y":420,"wires":[]},{"id":"300616ee.b536da","type":"comment","z":"e1daed12.932d1","name":"acknowledge master","info":"","x":710,"y":460,"wires":[]},{"id":"2da3ceb3.9dac72","type":"redis-instance","z":"e1daed12.932d1","server":"8b0ce7f3.c799e8","name":"Redis Near","topic":"redis","location":"flow","block":false,"x":660,"y":60,"wires":[]},{"id":"b5120e07.e2b59","type":"comment","z":"e1daed12.932d1","name":"Config: 3 masters 3 workers | 2 workers (Virginia), 1 worker (SFO)","info":"","x":270,"y":20,"wires":[]},{"id":"cf0f2b9b.d2f3d8","type":"redis-instance","z":"f765ebd1.1aadc8","server":"8b0ce7f3.c799e8","name":"","topic":"redis","location":"flow","block":false,"x":590,"y":260,"wires":[]},{"id":"e11e40a0.42a4b","type":"dblite-redis-out","z":"f765ebd1.1aadc8","server":"8b0ce7f3.c799e8","command":"publish","name":"","topic":"insure","x":540,"y":320,"wires":[]},{"id":"30bed63e.2e958a","type":"inject","z":"f765ebd1.1aadc8","name":"","topic":"","payload":"{\"person\":\"harry\",\"task\":\"XYZ\",\"time\":32,\"unit\":\"days\",\"stage\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["e11e40a0.42a4b","d66ece99.bc24d"]]},{"id":"12d6ff87.d92c8","type":"inject","z":"f765ebd1.1aadc8","name":"","topic":"","payload":"{\"person\":\"sally\",\"task\":\"ABC\",\"time\":18,\"unit\":\"days\",\"stage\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":380,"wires":[["e11e40a0.42a4b","d66ece99.bc24d"]]},{"id":"42dae4d.86ffd1c","type":"inject","z":"f765ebd1.1aadc8","name":"","topic":"","payload":"{\"complete\": 1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["e11e40a0.42a4b","d66ece99.bc24d"]]},{"id":"77cee0cf.648e9","type":"ui_form","z":"f765ebd1.1aadc8","name":"form-bond","label":"James Bond","group":"a87b299.7ee2dd8","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true},{"label":"Task Name","value":"task","type":"text","required":true},{"label":"Bugeted Days","value":"time","type":"number","required":true},{"label":"Unit","value":"unit","type":"text","required":true},{"label":"Stage (1-10)","value":"stage","type":"number","required":true}],"formValue":{"name":"","task":"","time":"","unit":"","stage":""},"payload":"","submit":"send","cancel":"cancel","topic":"","x":100,"y":60,"wires":[["d66ece99.bc24d","e11e40a0.42a4b"]]},{"id":"8b4f746f.4e67e8","type":"ui_form","z":"f765ebd1.1aadc8","name":"form-suzy","label":"Suzy Quatro","group":"a87b299.7ee2dd8","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true},{"label":"Task","value":"task","type":"text","required":true},{"label":"Bugeted Days","value":"time","type":"number","required":true},{"label":"Unit","value":"unit","type":"text","required":true},{"label":"Stage (1-10)","value":"stage","type":"number","required":true}],"formValue":{"name":"","task":"","time":"","unit":"","stage":""},"payload":"","submit":"Send","cancel":"cancel","topic":"","x":100,"y":100,"wires":[["e11e40a0.42a4b"]]},{"id":"828c626e.5d17e","type":"ui_form","z":"f765ebd1.1aadc8","name":"form-daniels","label":"Jack Daniels","group":"87bab99a.48b728","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true},{"label":"Task Name","value":"task","type":"text","required":true},{"label":"Bugeted Days","value":"time","type":"number","required":true},{"label":"Unit","value":"unit","type":"text","required":true},{"label":"Stage (1-10)","value":"stage","type":"number","required":true}],"formValue":{"name":"","task":"","time":"","unit":"","stage":""},"payload":"","submit":"Send to Supervisor","cancel":"cancel","topic":"","x":110,"y":160,"wires":[["e11e40a0.42a4b"]]},{"id":"931ded34.989f3","type":"ui_form","z":"f765ebd1.1aadc8","name":"form-doe","label":"Jane Doe","group":"87bab99a.48b728","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true},{"label":"Task","value":"task","type":"text","required":false},{"label":"Bugeted Days","value":"time","type":"number","required":true},{"label":"Unit","value":"unit","type":"text","required":true},{"label":"Stage (1-10)","value":"stage","type":"number","required":true}],"formValue":{"name":"","task":"","time":"","unit":"","stage":""},"payload":"","submit":"Send","cancel":"cancel","topic":"","x":100,"y":200,"wires":[["e11e40a0.42a4b"]]},{"id":"fd049bd9.2d3438","type":"ui_form","z":"f765ebd1.1aadc8","name":"form-smith","label":"Joe Smith","group":"87bab99a.48b728","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true},{"label":"Task","value":"task","type":"text","required":true},{"label":"Bugeted Days","value":"time","type":"number","required":true},{"label":"Unit","value":"unit","type":"text","required":true},{"label":"Stage (1-10)","value":"stage","type":"number","required":true}],"formValue":{"name":"","task":"","time":"","unit":"","stage":""},"payload":"","submit":"Send","cancel":"cancel","topic":"","x":100,"y":240,"wires":[["e11e40a0.42a4b"]]},{"id":"d66ece99.bc24d","type":"debug","z":"f765ebd1.1aadc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":80,"wires":[]},{"id":"cd4ee507.0d4198","type":"ui_button","z":"f765ebd1.1aadc8","name":"","group":"af6bac0b.2ded1","order":2,"width":0,"height":0,"passthru":false,"label":"Generate Data'N-Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":540,"wires":[["4eb66bd.a1a6294"]]},{"id":"4eb66bd.a1a6294","type":"function","z":"f765ebd1.1aadc8","name":"","func":"var pl = msg.payload;\nvar p = [\"James Bond\", \"Suzy Quatro\", \"Jack Daniels\", \"Jane Doe\", \"Joe Smith\"];\nvar t = [\"Task1\", \"Task2\", \"Task3\"];\nvar d = [10,20,30,40,50,60];\nvar s = [1,2,3,4,5,6,7,8,9,10];\nvar x = Math.random();\nmsg.payload = {\"person\":p[Math.ceil(x*4)], \"task\":t[Math.ceil(x*2)], \"time\":d[Math.ceil(x*5)], \"unit\":\"days\", \"stage\":s[Math.ceil(x*9)]};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["e11e40a0.42a4b","ef56d980.eb0178","4e43665b.746128"]]},{"id":"d3d0c65.08f0938","type":"ui_button","z":"f765ebd1.1aadc8","name":"","group":"af6bac0b.2ded1","order":1,"width":0,"height":0,"passthru":false,"label":"Complete Transactions","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":720,"wires":[["493da2b5.2a9f1c"]]},{"id":"493da2b5.2a9f1c","type":"function","z":"f765ebd1.1aadc8","name":"","func":"msg.payload = {\"complete\": 1};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["e11e40a0.42a4b"]]},{"id":"ef56d980.eb0178","type":"debug","z":"f765ebd1.1aadc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":740,"wires":[]},{"id":"4e43665b.746128","type":"ui_text","z":"f765ebd1.1aadc8","group":"af6bac0b.2ded1","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":350,"y":580,"wires":[]},{"id":"450a72c7.67495c","type":"function","z":"e1daed12.932d1","name":"party-maker","func":"var ml = msg.payload;\n// var xy = {\"partyname\":\"John Mcguire\",\"stdate\":\"1976-03-02\",\"endate\":\"\",\"ptype\":\"Taker\"};\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar partyInput = {};\nvar columnPassword = \"helloworld\";\npartyInput.name = ml.zp0name;\npartyInput.bday = ml.zp0stdate;\nvar ptype = 'GIVER';\nptype = (ml.zp0type).toUpperCase(); \npartyInput.ptype = ptype;\npartyInput.pw = partyInput.name.replace(/\\s+/g,'') + \n    partyInput.bday + columnPassword;\nlet hsns = hs.hashNSalt(partyInput.pw);\n\nasync function putData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"Insert into party (name, hashid, salt, stdate, ptype) values \"+\n            \"(?,?,?,?,?)\", partyInput.name, hsns.passwordHash, hsns.salt, \n            partyInput.bday, partyInput.ptype);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\nputData().then (function(data) {\n    // console.log(data);\n    // msg.payload = data;\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["15aaca1e.68c676"]]},{"id":"6fe5e715.168db8","type":"function","z":"e1daed12.932d1","name":"asset-maker","func":"let mpl = msg.payload;\n// let xt = {\"name\":\"Devbnj\",\"location\":\"Sparta, New Jersey\",\"metadata\":\"\",\"qty\":\"1\",\"value\":\"100000\",\"atype\":\"Tangible\"};\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nlet assetInput = {};\nassetInput.name = mpl.name;\nassetInput.location = mpl.location;\nvar atype = 'TANGIBLE';\natype = mpl.zp1type.toUpperCase();\nassetInput.atype = atype;\nassetInput.qty = mpl.qty;\nassetInput.value = mpl.value;\nassetInput.metadata = mpl.metadata;\nassetInput.tag = mpl.tag;\nvar columnPassword = \"helloworld\";\nassetInput.pwd = assetInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(assetInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO ASSET('HASHID','SALT','NAME','LOCATION','METADATA','ATYPE','QUANTITY','ASSET_VALUE','ASSETTAG')\"+\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, assetInput.name, assetInput.location, \n            assetInput.metadata, assetInput.atype, assetInput.qty, assetInput.value, assetInput.tag);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    // msg.payload = data;\n    node.log(data);\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["15aaca1e.68c676"]]},{"id":"d9edc3e6.2a98f","type":"function","z":"e1daed12.932d1","name":"agree-maker","func":"let mpl = msg.payload;\n// var st = {\"name\":\"Devbnj\",\"sla\":\"Immediate\",\"warranty\":\"Limited\",\"agreed_value\":\"82000\",\"agtype\":\"Binding\"};\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nlet agInput = {};\nagInput.name = mpl.name;\nagInput.sla = mpl.sla;\nvar atype = 'BINDING';\natype = (mpl.zp2type).toUpperCase();\nagInput.atype = atype;\nagInput.warranty = mpl.warranty;\nagInput.value = mpl.agreed_value;\nvar columnPassword = \"helloworld\";\nagInput.pwd = agInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(agInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO AGREEMENT('HASHID','SALT','NAME','SLA','ATYPE','WARRANTY','AGREED_VALUE')\"+\n            \" VALUES (?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, agInput.name, agInput.sla, \n            agInput.atype, agInput.warranty, agInput.value);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["15aaca1e.68c676"]]},{"id":"34224d05.204332","type":"function","z":"e1daed12.932d1","name":"getParty","func":"var dt = msg.payload;\nvar options = [];\nvar row;\nfor (var i =0; i < dt.length; i++) {\n    row = dt[i];\n    var optsData = \"{\\\"\"+row.NAME+\"\\\": \\\"\"+row.HASHID+\"\\\"}\";\n    console.log('optsData', optsData);\n    var obj = JSON.parse(optsData);\n    options.push(obj);\n}\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[[]]},{"id":"e314c21d.d35f6","type":"function","z":"e1daed12.932d1","name":"ledger ddl","func":"var pld = msg.payload;\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\ndb.serialize(function() {\n    if (pld == \"done\") {\n    var sqlddl = \"CREATE TABLE IF NOT EXISTS PARTY(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, PTYPE TEXT CHECK (PTYPE IN ('GIVER','TAKER','WITNESS','ATTORNEY','THIRDPARTY','REFEREE')), STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, ENDDATE DATETIME); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS ASSET(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, LOCATION TEXT NOT NULL, METADATA TEXT NOT NULL, ATYPE TEXT CHECK (ATYPE IN ('TANGIBLE','VIRTUAL','DIGITAL','INTANGIBLE')), ASSETTAG TEXT, QUANTITY REAL NOT NULL, ASSET_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME, BOMPORTFOLIO TEXT ); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS AGREEMENT(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, SLA TEXT, WARRANTY TEXT, ATYPE TEXT CHECK (ATYPE IN ('BINDING','NONBINDING','TRACEABLE','POLICY')), AGREED_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS LEDGER(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, GIVER TEXT, TAKER TEXT, ASSET TEXT, AGREEMENT TEXT, TRAN_AMT REAL, TRAN_QNTY REAL, JOURNAL_TYPE TEXT CHECK (JOURNAL_TYPE IN ('JOURNAL', 'VOUCHER', 'IOU', 'REDEMPTION', 'LEASE')), TRAN_TYPE TEXT CHECK (TRAN_TYPE IN ('REWARD', 'AQUISITION', 'LEND', 'BORROW', 'WIN', 'MERGE', 'VIEW', 'VOTE')), LD_DATE DATETIME DEFAULT CURRENT_TIMESTAMP); \"; \n    db.run(sqlddl);\n    }\n});\n\ndb.close();\nmsg.payload = \"done\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["36514da0.af1bf2"]]},{"id":"bcf14dac.dd4f9","type":"dblite-redis-in","z":"e1daed12.932d1","server":"8b0ce7f3.c799e8","command":"subscribe","name":"","topic":"dksetup","timeout":0,"x":90,"y":120,"wires":[["7f7d7dfc.bb3d54"]]},{"id":"52b85ed0.706e5","type":"dblite-redis-in","z":"e1daed12.932d1","server":"8b0ce7f3.c799e8","command":"subscribe","name":"","topic":"dkparty","timeout":0,"x":90,"y":180,"wires":[["23edabfe.a84c04"]]},{"id":"41ef1f8c.e2a6d","type":"dblite-redis-in","z":"e1daed12.932d1","server":"8b0ce7f3.c799e8","command":"subscribe","name":"","topic":"dkasset","timeout":0,"x":90,"y":260,"wires":[["e122fbf0.c311b8"]]},{"id":"375ab748.a9fb38","type":"dblite-redis-in","z":"e1daed12.932d1","server":"8b0ce7f3.c799e8","command":"subscribe","name":"","topic":"dkagree","timeout":0,"x":100,"y":320,"wires":[["dc0d6125.357b9"]]},{"id":"34188d63.238bd2","type":"inject","z":"ff5ca012.9ff81","name":"drop party","topic":"","payload":"drop table party;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["b981f803.f3fc88"]]},{"id":"8fdc2b83.c69bf8","type":"inject","z":"ff5ca012.9ff81","name":"select party","topic":"","payload":"select * from party;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["b981f803.f3fc88"]]},{"id":"92e49852.ade248","type":"debug","z":"ff5ca012.9ff81","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":40,"wires":[]},{"id":"a18fab79.cc9c78","type":"inject","z":"ff5ca012.9ff81","name":"select asset","topic":"","payload":"Select * from asset;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["b981f803.f3fc88"]]},{"id":"b5b0c70e.022aa8","type":"inject","z":"ff5ca012.9ff81","name":"select agreement","topic":"","payload":"select * from agreement;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["b981f803.f3fc88"]]},{"id":"52c3948e.a721fc","type":"inject","z":"ff5ca012.9ff81","name":"pragma party","topic":"","payload":"PRAGMA table_info(party);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["b981f803.f3fc88"]]},{"id":"ac8a0698.45c368","type":"inject","z":"ff5ca012.9ff81","name":"pragma asset","topic":"","payload":"PRAGMA table_info(asset);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["b981f803.f3fc88"]]},{"id":"9e9cbcc2.0c06e","type":"inject","z":"ff5ca012.9ff81","name":"pragma ledger","topic":"","payload":"PRAGMA table_info(ledger);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":508,"y":383,"wires":[["b981f803.f3fc88"]]},{"id":"a1e05d28.4c1c5","type":"inject","z":"ff5ca012.9ff81","name":"pragma agreement","topic":"","payload":"PRAGMA table_info(agreement);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":220,"wires":[["b981f803.f3fc88"]]},{"id":"19b7464e.7db92a","type":"inject","z":"ff5ca012.9ff81","name":"select ledger","topic":"","payload":"select * from ledger;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["b981f803.f3fc88"]]},{"id":"b981f803.f3fc88","type":"function","z":"ff5ca012.9ff81","name":"Sql Qry","func":"// console.log('pld', pld);\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\nvar rset = [];\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            var pld = msg.payload;\n            db.each(pld, function (err, row) {\n                res.push(row);\n            }, function() {\n                resolve (res);\n            })\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    // console.log(data);\n    msg.payload = data;\n    // msg.complete = true;\n    node.send(msg);\n});\n\nreturn\n\n","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["92e49852.ade248"]]},{"id":"ca5ee2b0.01cbd","type":"inject","z":"ff5ca012.9ff81","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":640,"wires":[["e0628a1.7306c78"]]},{"id":"e0628a1.7306c78","type":"file","z":"ff5ca012.9ff81","name":"","filename":"/home/devb/sqlite/sqlite-sync/data/lgr.db","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":420,"y":640,"wires":[["dd347632.fc87a8"]]},{"id":"dd347632.fc87a8","type":"debug","z":"ff5ca012.9ff81","name":"debug7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":700,"wires":[]},{"id":"b7ed512c.8358f","type":"function","z":"e1daed12.932d1","name":"write-ledger","func":"var row = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar pw=\"\",salt=\"\",giver=\"\",taker=\"\",asset=\"\",agree=\"\",qty=0,value=0;\nvar putData = function (callback) {\n    pw = row.pw;\n    salt = row.salt;\n    giver = row.giver;\n    taker = row.taker;\n    asset = row.asset;\n    agree = row.agree;\n    qty = row.qty;\n    value = row.value;    \n    db.serialize(function () {\n        var sqls = \"INSERT INTO LEDGER (hashid, salt, giver, taker, asset, agreement, tran_qnty, tran_amt, journal_type, tran_type) \"+\n            \" VALUES (?,?,?,?,?,?,?,?,?,?)\"\n        db.run(sqls, pw, salt, giver, taker, asset, agree, qty, value, \"JOURNAL\", \"AQUISITION\");\n        // stmt.finalize();\n        callback (row);\n    });\n}\n\nputData(function(data) {\n    db.close();\n    var msg1 = {};\n    msg1.payload = data;\n    node.send(msg1);\n    node.done();\n});\n\nreturn;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["15aaca1e.68c676"]]},{"id":"ea9fcff6.c4bbc","type":"dblite-redis-in","z":"e1daed12.932d1","server":"8b0ce7f3.c799e8","command":"subscribe","name":"","topic":"dkledger","timeout":0,"x":100,"y":380,"wires":[["193231b2.a0685e"]]},{"id":"e562b349.90aa1","type":"ui_button","z":"e1daed12.932d1","name":"","group":"f7afc07d.19649","order":1,"width":0,"height":0,"passthru":false,"label":"Fetch Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":560,"wires":[["1e62f081.29c3cf"]]},{"id":"1e62f081.29c3cf","type":"function","z":"e1daed12.932d1","name":"getData","func":"var x = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar getData = function (callback) {\n    db.serialize(function () {\n        var cntasset = 0;\n        var cntlgr = 0;\n        var cntag = 0;\n        var cntparty = 0;\n        var budget = 0;\n        var actual = 0;\n        var agreed = 0;\n        db.all(\"SELECT count(asset_value) as c, sum(asset_value) as v FROM asset\", function (err, row1) {\n            cntasset = row1[0].c;\n            budget = row1[0].v;\n            console.log(row1);\n        });\n        db.all(\"SELECT count(agreed_value) as c2, sum(agreed_value) as v2 FROM agreement\", function (err, row3) {\n            cntag = row3[0].c2;\n            agreed = row3[0].v2;\n            console.log(row3);\n        });\n        db.all(\"SELECT count(name) as c3 FROM party\", function (err, row4) {\n            cntparty = row4[0].c3;\n            console.log(row4);\n        });\n        db.all(\"SELECT count(tran_amt) as c1, sum(tran_amt) as v1 FROM ledger\", function (err, row2) {\n            cntlgr = row2[0].c1;\n            actual = row2[0].v1;\n            console.log(row2);\n            callback({'budget': budget, 'actual': actual, 'agreed': agreed, \"cparty\": cntparty,\n                \"casset\": cntasset, \"cagree\": cntag, \"cledger\": cntlgr\n            })\n        });\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    var percent1 = (Number(data.actual) / Number(data.budget) *10);\n    var percent2 = (Number(data.actual) / Number(data.agreed) *10);\n    console.log(data);\n    var msg1 = {};\n    msg1.value1 = percent1;\n    msg1.value2 = percent2;\n    msg1.payload = {'Parties': data.cparty, 'Assets': data.casset, 'Agreements': data.cagree,\n    'Journals': data.cledger};\n    node.send(msg1, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["8b276158.e266d","1305b50d.6dd6eb","63ddd7f8.9ac188"]]},{"id":"8b276158.e266d","type":"ui_gauge","z":"e1daed12.932d1","name":"","group":"41d54fd8.a74ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual vs Agreement value","label":"units","format":"{{value2}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":600,"wires":[]},{"id":"1305b50d.6dd6eb","type":"ui_gauge","z":"e1daed12.932d1","name":"","group":"74a6f70f.d89898","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual vs Asset","label":"units","format":"{{value1}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":640,"wires":[]},{"id":"63ddd7f8.9ac188","type":"ui_text","z":"e1daed12.932d1","group":"f7afc07d.19649","order":2,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-center","x":540,"y":560,"wires":[]},{"id":"12c14e6a.52fc22","type":"ui_text","z":"e1daed12.932d1","group":"f7afc07d.19649","order":3,"width":"10","height":"10","name":"","label":"Data","format":"{{msg.payload}}","layout":"row-left","x":530,"y":520,"wires":[]},{"id":"93aa00d2.a9993","type":"ui_button","z":"ff5ca012.9ff81","name":"","group":"6a04a397.86c87c","order":2,"width":0,"height":0,"passthru":false,"label":"Cleanup","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":700,"wires":[["e0628a1.7306c78"]]},{"id":"be69f37b.28b15","type":"ui_text","z":"ff5ca012.9ff81","group":"6a04a397.86c87c","order":1,"width":0,"height":0,"name":"","label":"","format":"Use this to clean up (during / after demo)","layout":"row-left","x":310,"y":720,"wires":[]},{"id":"bf08592a.ebffe8","type":"dblite-redis-in","z":"e1daed12.932d1","server":"8b0ce7f3.c799e8","command":"subscribe","name":"","topic":"sync","timeout":0,"x":80,"y":660,"wires":[["abafae2c.a7026"]]},{"id":"abafae2c.a7026","type":"function","z":"e1daed12.932d1","name":"undumper","func":"'use strict;'\n\nvar strpld = msg.payload;\nvar pld = JSON.parse(strpld);\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\ndb.serialize(function() {\n    try {\n        var sqlddl = \"CREATE TABLE IF NOT EXISTS PARTY(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, PTYPE TEXT CHECK (PTYPE IN ('GIVER','TAKER','WITNESS','ATTORNEY','THIRDPARTY','REFEREE')), STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, ENDDATE DATETIME); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS ASSET(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, LOCATION TEXT NOT NULL, METADATA TEXT NOT NULL, ATYPE TEXT CHECK (ATYPE IN ('TANGIBLE','VIRTUAL','DIGITAL','INTANGIBLE')), ASSETTAG TEXT, QUANTITY REAL NOT NULL, ASSET_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME, BOMPORTFOLIO TEXT ); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS AGREEMENT(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, SLA TEXT, WARRANTY TEXT, ATYPE TEXT CHECK (ATYPE IN ('BINDING','NONBINDING','TRACEABLE','POLICY')), AGREED_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS LEDGER(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, GIVER TEXT, TAKER TEXT, ASSET TEXT, AGREEMENT TEXT, TRAN_AMT REAL, TRAN_QNTY REAL, JOURNAL_TYPE TEXT CHECK (JOURNAL_TYPE IN ('JOURNAL', 'VOUCHER', 'IOU', 'REDEMPTION', 'LEASE')), TRAN_TYPE TEXT CHECK (TRAN_TYPE IN ('REWARD', 'AQUISITION', 'LEND', 'BORROW', 'WIN', 'MERGE', 'VIEW', 'VOTE')), LD_DATE DATETIME DEFAULT CURRENT_TIMESTAMP); \"; \n        db.run(sqlddl);\n    } catch (err) {\n        // ignore;\n    }    \n\n    try {\n        var party;\n        var sql = \"INSERT OR IGNORE INTO party (name, hashid, salt, ptype, stdate, enddate) values (?,?,?,?,?,?)\";\n        for (var i=0; i<pld.party.length; i++) {\n            party = pld.party[i];\n            db.run(sql, party.NAME, party.HASHID, party.SALT, party.PTYPE, party.STDATE, party.ENDDATE);  \n        }\n\n        var agree;\n        sql = \"insert or ignore into agreement (HASHID,SALT,NAME,SLA,WARRANTY,ATYPE,AGREED_VALUE,STDATE, EXPDATE) \" +\n            \"values (?,?,?,?,?,?,?,?,?)\"; \n        for (i=0; i<pld.agree.length; i++) {\n            agree = pld.agree[i];\n            db.run(sql, agree.HASHID, agree.SALT, agree.NAME, agree.SLA, agree.WARRANTY, \n            agree.ATYPE, agree.AGREED_VALUE, agree.STDATE, agree.EXPDATE);\n        }\n\n        var lgr;\n        sql = \"insert or ignore into ledger(HASHID,SALT,GIVER,TAKER,ASSET,AGREEMENT,TRAN_AMT,TRAN_QNTY,JOURNAL_TYPE,TRAN_TYPE,LD_DATE) \" +\n            \"values (?,?,?,?,?,?,?,?,?,?,?)\"; \n        for (i=0; i<pld.ledger.length; i++) {\n            lgr = pld.ledger[i];\n            db.run(sql, lgr.HASHID, lgr.SALT, lgr.GIVER, lgr.TAKER, lgr.ASSET, \n            lgr.AGREEMENT, lgr.TRAN_AMT, lgr.TRAN_QNTY, lgr.JOURNAL_TYPE, lgr.TRAN_TYPE, lgr.LD_DATE);\n        }\n\n        var asset;\n        sql = \"INSERT or IGNORE into asset (hashid,salt,name,LOCATION,METADATA,ATYPE,QUANTITY,ASSET_VALUE,ASSETTAG,STDATE,EXPDATE,BOMPORTFOLIO) \" +\n            \"values (?,?,?,?,?,?,?,?,?,?,?,?)\"; \n        for (i=0; i<pld.asset.length; i++) {\n            asset = pld.asset[i];\n            db.run(sql, asset.HASHID, asset.SALT, asset.NAME, asset.LOCATION, asset.METADATA, asset.ATYPE, asset.QUANTITY, asset.ASSET_VALUE, \n            asset.ASSETTAG, asset.STDATE, asset.EXPDATE, asset.BOMPORTFOLIO);\n        }\n\n    } catch (err) {\n        console.log(err);\n        // ignore\n    }\n});\n\ndb.close();\nmsg.payload = pld;\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":700,"wires":[["65a21989.fcb5f8"]]},{"id":"65a21989.fcb5f8","type":"debug","z":"e1daed12.932d1","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":700,"wires":[]},{"id":"6cda2159.ea686","type":"file","z":"e1daed12.932d1","name":"delete","filename":"/home/devb/sqlite/sqlite-sync/data/lgr.db","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":310,"y":60,"wires":[["412524b3.65728c"]]},{"id":"412524b3.65728c","type":"delay","z":"e1daed12.932d1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":60,"wires":[["e314c21d.d35f6"]]},{"id":"19587672.dc358a","type":"http in","z":"e1daed12.932d1","name":"","url":"worker","method":"get","upload":false,"swaggerDoc":"","x":120,"y":480,"wires":[["f4b25b70.b581b8"]]},{"id":"f4b25b70.b581b8","type":"template","z":"e1daed12.932d1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{result}}\n","output":"str","x":480,"y":400,"wires":[["62738bc1.ba0ce4","15aaca1e.68c676"]]},{"id":"62738bc1.ba0ce4","type":"http response","z":"e1daed12.932d1","name":"","statusCode":"","headers":{},"x":540,"y":480,"wires":[]},{"id":"2732b4b2.964b9c","type":"function","z":"e1daed12.932d1","name":"","func":"pld = msg.payload;\nstr = JSON.stringify(pld, null, \"\\t\"); \nmsg.result = str;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[[]]},{"id":"7f7d7dfc.bb3d54","type":"function","z":"e1daed12.932d1","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":150,"y":60,"wires":[["6cda2159.ea686"]]},{"id":"23edabfe.a84c04","type":"function","z":"e1daed12.932d1","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nenc = JSON.parse(enc);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["450a72c7.67495c","bfc6f024.7fa8b"]]},{"id":"e122fbf0.c311b8","type":"function","z":"e1daed12.932d1","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nenc = JSON.parse(enc);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":210,"y":260,"wires":[["6fe5e715.168db8","bfc6f024.7fa8b"]]},{"id":"dc0d6125.357b9","type":"function","z":"e1daed12.932d1","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nenc = JSON.parse(enc);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["d9edc3e6.2a98f","bfc6f024.7fa8b"]]},{"id":"193231b2.a0685e","type":"function","z":"e1daed12.932d1","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nenc = JSON.parse(enc);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["b7ed512c.8358f","bfc6f024.7fa8b"]]},{"id":"bfc6f024.7fa8b","type":"function","z":"e1daed12.932d1","name":"","func":"var pld = msg.payload;\nvar str = JSON.stringify(pld, null, 2);\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["12c14e6a.52fc22"]]}]