docker/master/flows_master.json
[{"id":"93c96974.769e18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"675c7943.c14b78","type":"tab","label":"Flow Prod Master","disabled":false,"info":""},{"id":"643885a.c2cfe7c","type":"tab","label":"Flow API","disabled":false,"info":""},{"id":"20d5f788.cb8598","type":"dblite-redisConfig","z":"","name":"master-redis","options":"{\"port\":6379,\"host\":\"127.0.0.1\",\"password\":\"Sanskr1t1ngT0Englize\"}","cluster":false,"optionsType":"json"},{"id":"d052b556.86e658","type":"ui_group","z":"","name":"Report","tab":"4407636c.3340ec","order":1,"disp":true,"width":18,"collapse":false},{"id":"4407636c.3340ec","type":"ui_tab","z":"","name":"From Master","icon":"device_hub","order":4,"disabled":false,"hidden":false},{"id":"7cf5ce6e.aea24","type":"inject","z":"93c96974.769e18","name":"drop party","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"drop table party;","payloadType":"str","x":100,"y":60,"wires":[["e2aa3185.bdba4"]]},{"id":"f416ff6.9aca2","type":"inject","z":"93c96974.769e18","name":"select party","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select * from party;","payloadType":"str","x":110,"y":100,"wires":[["e2aa3185.bdba4"]]},{"id":"c50ed00.bc9883","type":"debug","z":"93c96974.769e18","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":40,"wires":[]},{"id":"24e8e03.bbca72","type":"inject","z":"93c96974.769e18","name":"select asset","props":[{"p":"payload","v":"Select * from asset;","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Select * from asset;","payloadType":"str","x":110,"y":160,"wires":[["e2aa3185.bdba4"]]},{"id":"52c570ba.63652","type":"inject","z":"93c96974.769e18","name":"select agreement","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select * from agreement;","payloadType":"str","x":120,"y":220,"wires":[["e2aa3185.bdba4"]]},{"id":"804edba2.09cbb8","type":"inject","z":"93c96974.769e18","name":"pragma party","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PRAGMA table_info(party);","payloadType":"str","x":110,"y":360,"wires":[["e2aa3185.bdba4"]]},{"id":"efffde7a.f8382","type":"inject","z":"93c96974.769e18","name":"pragma asset","props":[{"p":"payload","v":"PRAGMA table_info(asset);","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PRAGMA table_info(asset);","payloadType":"str","x":110,"y":400,"wires":[["e2aa3185.bdba4"]]},{"id":"32fb96bb.624d6a","type":"inject","z":"93c96974.769e18","name":"pragma ledger","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PRAGMA table_info(ledger);","payloadType":"str","x":468,"y":383,"wires":[["e2aa3185.bdba4"]]},{"id":"908ffa9.10aac08","type":"inject","z":"93c96974.769e18","name":"pragma agreement","props":[{"p":"payload","v":"PRAGMA table_info(agreement);","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PRAGMA table_info(agreement);","payloadType":"str","x":450,"y":220,"wires":[["e2aa3185.bdba4"]]},{"id":"2972ec25.d9bea4","type":"inject","z":"93c96974.769e18","name":"select ledger","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select * from ledger;","payloadType":"str","x":110,"y":280,"wires":[["e2aa3185.bdba4"]]},{"id":"e2aa3185.bdba4","type":"function","z":"93c96974.769e18","name":"Sql Qry","func":"// console.log('pld', pld);\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/data/lgr.db');\nvar rset = [];\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            var pld = msg.payload;\n            db.each(pld, function (err, row) {\n                res.push(row);\n            }, function() {\n                resolve (res);\n            })\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    // console.log(data);\n    msg.payload = data;\n    // msg.complete = true;\n    node.send(msg);\n});\n\nreturn\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["c50ed00.bc9883"]]},{"id":"3ba1b0f8.af24d","type":"debug","z":"675c7943.c14b78","name":"debug-party","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":420,"wires":[]},{"id":"79982073.4c0cb","type":"debug","z":"675c7943.c14b78","name":"debug3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":160,"wires":[]},{"id":"e38a6543.841f18","type":"debug","z":"675c7943.c14b78","name":"debug-agree","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":580,"wires":[]},{"id":"90350214.bddf2","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkparty","x":740,"y":460,"wires":[]},{"id":"fdb54b1c.167618","type":"dblite-redis-in","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"subscribe","name":"","topic":"dkconsensus","timeout":"30","x":90,"y":240,"wires":[["79982073.4c0cb"]]},{"id":"149d34f3.25f8cb","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[[]]},{"id":"a2d2ac98.527d2","type":"comment","z":"675c7943.c14b78","name":"Config: 3 masters 3 workers | 2 Masters (Virginia), 1 Master (SFO)","info":"","x":640,"y":40,"wires":[]},{"id":"efc0a0b3.2f071","type":"comment","z":"675c7943.c14b78","name":"Master 1 (SFO)","info":"","x":100,"y":200,"wires":[]},{"id":"d4475f32.d6a3e","type":"function","z":"675c7943.c14b78","name":"party-maker","func":"var ml = msg.payload;\nconsole.log('payload', ml);\n// var xy = {\"partyname\":\"John Mcguire\",\"stdate\":\"1976-03-02\",\"endate\":\"\",\"ptype\":\"Taker\"};\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\n// let foo = env.get(\"USER\");\nvar lgrname = \"/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar partyInput = {};\nvar columnPassword = \"helloworld\";\npartyInput.name = ml.zp0name;\npartyInput.bday = ml.zp0stdate;\nvar ptype = (ml.zp0type).toUpperCase(); \npartyInput.ptype = ptype;\npartyInput.pw = partyInput.name.replace(/\\s+/g,'') + \n    partyInput.bday + columnPassword;\nlet hsns = hs.hashNSalt(partyInput.pw);\n\nconsole.log ('partyInput', partyInput);\n\nasync function putData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        // db.serialize(function () {\n            db.run(\"Insert into party (name, hashid, salt, stdate, ptype) values \"+\n            \"(?,?,?,?,?)\", partyInput.name, hsns.passwordHash, hsns.salt, \n            partyInput.bday, partyInput.ptype, function(err, row) {\n                if (err) {\n                    console.log('Insert error', err.message);\n                } else {\n                    console.log('Insert done');\n                }\n            });\n        //})\n    })\n\n    let result = await promise;\n    return result;\n}\n\nputData().then (function(data) {\n    node.log(data);\n    // node.send(msg);\n    // node.done();\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":420,"wires":[["3ba1b0f8.af24d","67228330.e0050c","5ec9796a.a8e6a8"]]},{"id":"270f0239.eab18e","type":"debug","z":"675c7943.c14b78","name":"debug-asset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":500,"wires":[]},{"id":"bbcbf891.4bec68","type":"function","z":"675c7943.c14b78","name":"asset-maker","func":"let mpl = msg.payload;\n// let xt = {\"name\":\"Devbnj\",\"location\":\"Sparta, New Jersey\",\"metadata\":\"\",\"qty\":\"1\",\"value\":\"100000\",\"atype\":\"Tangible\"};\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nlet assetInput = {};\nassetInput.name = mpl.name;\nassetInput.location = mpl.location;\nvar atype = 'TANGIBLE';\natype = mpl.zp1type.toUpperCase();\nassetInput.atype = atype;\nassetInput.qty = mpl.qty;\nassetInput.value = mpl.value;\nassetInput.metadata = mpl.metadata;\nassetInput.tag = mpl.tag;\nvar columnPassword = \"helloworld\";\nassetInput.pwd = assetInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(assetInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO ASSET('HASHID','SALT','NAME','LOCATION','METADATA','ATYPE','QUANTITY','ASSET_VALUE','ASSETTAG')\"+\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, assetInput.name, assetInput.location, \n            assetInput.metadata, assetInput.atype, assetInput.qty, assetInput.value, assetInput.tag);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    // msg.payload = data;\n    node.log(data);\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":500,"wires":[["270f0239.eab18e","1d7e86c0.aa0fe9","5ec9796a.a8e6a8"]]},{"id":"ccc10ea0.3eb37","type":"function","z":"675c7943.c14b78","name":"agree-maker","func":"let mpl = msg.payload;\n// var st = {\"name\":\"Devbnj\",\"sla\":\"Immediate\",\"warranty\":\"Limited\",\"agreed_value\":\"82000\",\"agtype\":\"Binding\"};\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nlet agInput = {};\nagInput.name = mpl.name;\nagInput.sla = mpl.sla;\nvar atype = 'BINDING';\natype = (mpl.zp2type).toUpperCase();\nagInput.atype = atype;\nagInput.warranty = mpl.warranty;\nagInput.value = mpl.agreed_value;\nagInput.p_value = mpl.p_value;\nagInput.settle = mpl.settle;\nvar columnPassword = \"helloworld\";\nagInput.pwd = agInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(agInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO AGREEMENT('HASHID','SALT','NAME','SLA','ATYPE','WARRANTY','AGREED_VALUE','PERCEIVED_VALUE','SETTLEMENT')\"+\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, agInput.name, agInput.sla, \n            agInput.atype, agInput.warranty, agInput.value, agInput.p_value, agInput.settle);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":580,"wires":[["e38a6543.841f18","e3f65533.70e4c8","5ec9796a.a8e6a8"]]},{"id":"8c02abf6.84ca38","type":"debug","z":"675c7943.c14b78","name":"debug-ddl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":280,"wires":[]},{"id":"f402c969.8e9628","type":"function","z":"675c7943.c14b78","name":"ledger ddl","func":"var dblite3 = global.get('dblite3').verbose();\n// var lgrname = global.get('lgr');\nlet foo = env.get(\"USER\");\nvar lgrname = \"/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\ndb.serialize(function() {\n    try {\n    var sqlddl = \"CREATE TABLE IF NOT EXISTS PARTY(ID \" +\n        \"INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, \" +\n        \"SALT TEXT, NAME TEXT NOT NULL, PTYPE TEXT \" +\n        \"CHECK (PTYPE IN ('GIVER','TAKER','WITNESS','ATTORNEY', \" +\n        \"'THIRDPARTY','REFEREE')), STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, \" +\n        \"ENDDATE DATETIME); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS ASSET(ID \" +\n        \"INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, \" +\n        \"SALT TEXT, NAME TEXT NOT NULL, LOCATION TEXT NOT NULL, METADATA TEXT \" +\n        \"NOT NULL, ATYPE TEXT CHECK (ATYPE IN ('TANGIBLE','VIRTUAL', \" +\n        \"'DIGITAL','INTANGIBLE','LOYALTY')), ASSETTAG TEXT, QUANTITY REAL NOT NULL, \" +\n        \"ASSET_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, \" +\n        \"EXPDATE DATETIME, BOMPORTFOLIO TEXT ); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS AGREEMENT(ID INTEGER PRIMARY \" +\n        \"KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT \" +\n        \"NOT NULL, SLA TEXT, WARRANTY TEXT, ATYPE TEXT CHECK (ATYPE IN ('BINDING', \" +\n        \"'NONBINDING','TRACEABLE','POLICY')), AGREED_VALUE REAL \" +\n        \"NOT NULL, PERCEIVED_VALUE REAL, SETTLEMENT TEXT CHECK (SETTLEMENT IN \" +\n        \"('CASH', 'CREDIT', 'POINTS', 'FOREIGN CURR', 'BARTER', 'EXCHANGE')), \" +\n        \"STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE \" +\n        \"DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS LEDGER(ID INTEGER PRIMARY \" +\n        \"KEY AUTOINCREMENT, HASHID TEXT UNIQUE, PREVHASHID TEXT, SALT TEXT, GIVER TEXT, \" +\n        \"TAKER TEXT, ASSET TEXT, AGREEMENT TEXT, TRAN_AMT REAL, TRAN_QNTY \" +\n        \"REAL, NONTRAN_AMT REAL, SETTLEMENT TEXT CHECK (SETTLEMENT IN \" +\n        \"('CASH','CREDIT','POINTS','FOREIGN CURR','BARTER', 'EXCHANGE','PAYABLE','RECEIVABLE')), \" +\n        \"JOURNAL_TYPE TEXT CHECK (JOURNAL_TYPE IN ('JOURNAL', 'ADJUST', \" +\n        \"'VOUCHER', 'IOU', 'REDEMPTION', 'LEASE', 'INVOICE', 'CR.NOTE', 'DB.NOTE')), TRAN_TYPE TEXT CHECK \" +\n        \"(TRAN_TYPE IN ('REWARD', 'AQUISITION', 'LEND', 'BORROW', 'WIN', \" +\n        \"'MERGE', 'VIEW', 'VOTE')), LD_DATE DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS patient (id INTEGER primary key, \" +\n        \"txid TEXT not null, salt TEXT, ts REAL DEFAULT current_timestamp, \" +\n        \"resource_type text default 'Patient', status INTEGER not null, \" +\n        \"resource text not null); \";\n    db.run(sqlddl);\n    \n    } catch (err) {\n        db.close();\n        return msg;\n    }\n});\n\ndb.close();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["8c02abf6.84ca38","25bfe3e1.150abc","5ec9796a.a8e6a8"]]},{"id":"ee78852d.033e88","type":"inject","z":"675c7943.c14b78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["675e84b2.0eac2c"]]},{"id":"696dd6e6.c5c168","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dksetup","x":740,"y":320,"wires":[]},{"id":"901e702e.86a27","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkasset","x":740,"y":540,"wires":[]},{"id":"83ecf6f5.ba6c48","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkagree","x":740,"y":620,"wires":[]},{"id":"c514ddae.07907","type":"function","z":"675c7943.c14b78","name":"getData","func":"var x = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar getData = function (callback) {\n    db.serialize(function () {\n        var cntasset = 0;\n        var cntlgr = 0;\n        var cntag = 0;\n        var cntparty = 0;\n        var budget = 0;\n        var actual = 0;\n        var agreed = 0;\n        try {\n        db.all(\"SELECT count(asset_value) as c, sum(asset_value) as v FROM asset\", function (err, row1) {\n            cntasset = row1[0].c;\n            budget = row1[0].v;\n            console.log(row1);\n        });\n        db.all(\"SELECT count(agreed_value) as c2, sum(agreed_value) as v2 FROM agreement\", function (err, row3) {\n            cntag = row3[0].c2;\n            agreed = row3[0].v2;\n            console.log(row3);\n        });\n        db.all(\"SELECT count(name) as c3 FROM party\", function (err, row4) {\n            cntparty = row4[0].c3;\n            console.log(row4);\n        });\n        db.all(\"SELECT count(tran_amt) as c1, sum(tran_amt) as v1 FROM ledger\", function (err, row2) {\n            cntlgr = row2[0].c1;\n            actual = row2[0].v1;\n            console.log(row2);\n            callback({'budget': budget, 'actual': actual, 'agreed': agreed, \"cparty\": cntparty,\n                \"casset\": cntasset, \"cagree\": cntag, \"cledger\": cntlgr\n            })\n        });\n        } catch (err) {\n            db.close();\n            return msg;\n        }\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    var percent1 = (Number(data.actual) / Number(data.budget) *10);\n    var percent2 = (Number(data.actual) / Number(data.agreed) *10);\n    console.log(data);\n    var msg1 = {};\n    msg1.value1 = percent1;\n    msg1.value2 = percent2;\n    msg1.payload = {'Parties': data.cparty, 'Assets': data.casset, 'Agreements': data.cagree,\n    'Journals': data.cledger};\n    node.send(msg1, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":720,"y":1240,"wires":[[]]},{"id":"2d015b9f.673e54","type":"delay","z":"675c7943.c14b78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":200,"wires":[["f402c969.8e9628"]]},{"id":"320a7c71.778994","type":"redis-instance","z":"675c7943.c14b78","server":"20d5f788.cb8598","name":"","topic":"redis","location":"flow","block":false,"x":790,"y":80,"wires":[]},{"id":"e4712bf7.0f95f8","type":"http in","z":"675c7943.c14b78","name":"","url":"/master","method":"get","upload":false,"swaggerDoc":"","x":90,"y":160,"wires":[["5ec9796a.a8e6a8"]]},{"id":"bfd3b0d3.9144f","type":"template","z":"675c7943.c14b78","name":"master","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<title>dltlite master</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-address-card-o,.fa-bank,.fa-legal,.fa-file {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n{{#payload}}\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-{{#dell}}{{clr}}{{/dell}} w3-card w3-left-align w3-large\">\n    {{#skel}}\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-{{#dell}}{{clr}}{{/dell}}\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"#\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n    <a href=\"#{{zp0}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp0}}</a>\n    <a href=\"#{{zp1}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp1}}</a>\n    <a href=\"#{{zp2}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp2}}</a>\n    <a href=\"#{{zp3}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp3}}</a>\n    <a href=\"#{{zp4}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp4}}</a>\n    <a href=\"#patient\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">FHIR-Patient</a>\n    <a href=\"config\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">Config</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n    <a href=\"#{{zp0}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp0}}</a>\n    <a href=\"#{{zp1}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp1}}</a>\n    <a href=\"#{{zp2}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp2}}</a>\n    <a href=\"#{{zp3}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp3}}</a>\n    <a href=\"#{{zp4}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp4}}</a>\n    <a href=\"#patient\" class=\"w3-bar-item w3-button w3-padding-large\">FHIR-Patient</a>\n    <a href=\"config\" class=\"w3-bar-item w3-button w3-padding-large\">Config</a>\n  </div>\n  {{/skel}}\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-{{#dell}}{{clr}}{{/dell}} w3-center\" style=\"padding:64px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\">dltlite</h1>\n  <h2>{{#co}}{{name}}{{/co}}</h2>\n  <p class=\"w3-xlarge\">append only * nimble * high performance * encrypted * immutable</p>\n  <button class=\"w3-button w3-black w3-padding-large w3-large w3-margin-top\" onclick=\"document.getElementById('getstart').style.display='block'\" style=\"font-weight:900;\">Initialize</button>\n</header>\n\n<!-- Modal -->\n<div id=\"getstart\" class=\"w3-modal\">\n    <div class=\"w3-modal-content w3-card-4 w3-animate-top\">\n      <header class=\"w3-container w3-theme-l1\"> \n        <span onclick=\"document.getElementById('getstart').style.display='none'\"\n        class=\"w3-button w3-display-topright\">×</span>\n        <h4>Getting Started</h4>\n        <h5>Setup will create new database files (both) in master \n          and worker nodes and setup a new database with tables. \n          Give it about 5 secs to complete <i class=\"fa fa-refresh\"></i></h5>\n      </header>\n      <div class=\"w3-padding\">\n        <p>Are you sure, you want to initialize the network?</p>\n        <p><a class=\"w3-btn w3-hover-purple\" href=\"setupstart\">GO</a></p>\n      </div>\n      <footer class=\"w3-container w3-theme-l1\">\n        <p>{{#co}}{{name}}{{/co}}</p>\n        <p>dltlite engine</p>\n      </footer>\n    </div>\n</div>\n{{#dell}}\n<div class=\"w3-container w3-padding 64\">\n    <h2 class=\"w3-center\">This server's ip {{ip}}, running at {{loc}}, geo {{geo}}, timezone {{tz}}</h2>\n</div>\n{{/dell}}\n\n<!-- First Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-padding-64 w3-container\" id=\"{{zp0}}\">\n  <div class=\"w3-content\">\n    <div class=\"w3-twothird\">\n      <h1>{{zp0}}</h1>\n      <h5 class=\"w3-padding-32\">{{zp0}} represents the 'person' aspect of the {{zp3}}. \n          {{zp0}} is the human role in the transaction. The {{zp0}} \n          repository maintains the parties involved whose identities are carefully hashed.</h5>\n      <form class=\"w3-container w3-card-4\" id=\"formzp0\" name=\"formzp0\" action=\"zp0start\" method=\"POST\">\n        <label class=\"w3-text-black\">Name</label>\n        <input class=\"w3-input w3-border\" type=\"text\" name=\"zp0name\" id=\"zp0name\" required>\n         \n        <label class=\"w3-text-blue\">Start date</label>\n        <input class=\"w3-input w3-border\" type=\"date\" name=\"zp0stdate\" id=\"zp0stdate\" required>\n\n        <label class=\"w3-text-blue\">End date</label>\n        <input class=\"w3-input w3-border\" type=\"date\" name=\"zp0endate\" id=\"zp0endate\">\n\n        <label class=\"w3-text-blue\">Classification</label>\n        <p><select class=\"w3-select\" name=\"zp0type\" id=\"zp0type\" required>\n            <option value=\"\" disabled selected>Choose {{zp0}} type</option>\n            {{/skel}}\n            {{#zp0type}}\n            <option value=\"{{orig}}\">{{name}}</option>\n            {{/zp0type}}\n        </select></p>\n        <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp0btn\">Register</button>\n         \n        </form>\n    </div>\n\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-address-card-o w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}}\"></i>\n    </div>\n  </div>\n</div>\n\n<!-- Second Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp1}}\">\n{{/skel}}\n  <div class=\"w3-content\">\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-bank w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n    </div>\n\n    {{#skel}}\n    <div class=\"w3-twothird\">\n      <h1>{{zp1}}</h1>\n      <h5 class=\"w3-padding-32\">{{zp1}}s are exchanged between {{zp0}}(s) for money \n        or other {{zp1}}(s). {{zp1}}(s) are tangible or intangible. \n        {{zp1}}(s) have a perceived monetary value.</h5>\n\n      <form class=\"w3-container w3-card-4\" id=\"formzp1\" name=\"formzp1\" action=\"zp1start\" method=\"POST\">\n            <label class=\"w3-text-black\">Name</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"name\" id=\"name\" required>\n            <label class=\"w3-text-blue\">Location</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"location\" id=\"location\" required>\n            <label class=\"w3-text-blue\">Metadata</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"metadata\" id=\"metadata\">\n            <label class=\"w3-text-blue\">Quantity</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"qty\" id=\"qty\" required>\n            <label class=\"w3-text-blue\">Value</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"value\" id=\"value\" required>\n            <label class=\"w3-text-blue\">Tag</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"tag\" id=\"tag\">\n            <p><select class=\"w3-select\" name=\"zp1type\" id=\"zp1type\" required>\n                <option value=\"\" disabled selected>Choose {{zp1}} type</option>\n                {{/skel}}\n                {{#zp1type}}\n                <option value=\"{{orig}}\">{{name}}</option>\n                {{/zp1type}}\n            </select></p>\n            <p>&nbsp;</p>\n          <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp1btn\">Register</button>\n        </form>\n\n    </div>\n  </div>\n</div>\n\n<!-- Third Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-padding-64 w3-container\" id=\"{{zp2}}\">\n        <div class=\"w3-content\">\n          <div class=\"w3-twothird\">\n            <h1>{{zp2}}</h1>\n            <h5 class=\"w3-padding-32\">{{zp2}} represents the contract between the \n                {{zp0}}(s) involved, negotiated value of the {{zp1}}, terms and conditions, \n                policies and warranty.</h5>\n      \n            <form class=\"w3-container w3-card-4\" id=\"formzp2\" name=\"formzp2\" action=\"zp2start\" method=\"POST\">\n              <label class=\"w3-text-black\">Name</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"name\" id=\"name\" required>\n               \n              <label class=\"w3-text-blue\">SLA</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"sla\" id=\"sla\">\n      \n              <label class=\"w3-text-blue\">Warranty</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"warranty\" id=\"warranty\">\n      \n              <label class=\"w3-text-blue\">Agreed Value</label>\n              <input class=\"w3-input w3-border\" type=\"number\" name=\"agreed_value\" id=\"agreed_value\" required>\n\n              <label class=\"w3-text-blue\">Perceived Value</label>\n              <input class=\"w3-input w3-border\" type=\"number\" name=\"p_value\" id=\"p_value\" required>\n\n              <p><select class=\"w3-select\" name=\"zp2settle\" id=\"zp2settle\" required>\n                  <option value=\"\" disabled selected>Choose settlement</option>\n                  {{/skel}}\n                  {{#zp2settle}}\n                  <option value=\"{{orig}}\">{{name}}</option>\n                  {{/zp2settle}}\n              </select></p>\n                {{#skel}}\n              <p><select class=\"w3-select\" name=\"zp2type\" id=\"zp2type\" required>\n                  <option value=\"\" disabled selected>Choose {{zp2}} type</option>\n                  {{/skel}}\n                  {{#zp2type}}\n                  <option value=\"{{orig}}\">{{name}}</option>\n                  {{/zp2type}}\n              </select></p>\n\n              <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp2btn\">Register</button>\n            </form>\n          </div>\n      \n          <div class=\"w3-third w3-center\">\n            <i class=\"fa fa-legal w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}}\"></i>\n          </div>\n        </div>\n</div>\n\n<!-- Fourth Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp3}}\">\n{{/skel}}  \n        <div class=\"w3-content\">\n          <div class=\"w3-third w3-center\">\n            <i class=\"fa fa-file w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n          </div>\n          {{#skel}}\n          <div class=\"w3-twothird\">\n            <h1>{{zp3}}</h1>\n            <h5 class=\"w3-padding-32\">{{zp3}}(s) are transactions between parties on {{zp1}}(s) based on {{zp2}}. \n                {{zp3}}(s) are append only. {{zp3}}(s) maintain the hash keys of the parties, \n                {{zp1}}(s) and {{zp2}}(s) involved. </h5>\n            {{/skel}}\n            <form class=\"w3-container w3-card-4\" id=\"formzp3\" name=\"formzp3\" action=\"zp3start\" method=\"POST\">\n                <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"jbutton\">Load</button>\n            </form>\n      \n          </div>\n        </div>\n</div>\n\n<!-- Sixth Grid -->\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"patient\">\n        <div class=\"w3-content\">\n          <div class=\"w3-twothird\">\n            <h1>Patient Transactions</h1>\n            <h5 class=\"w3-padding-32\">FHIR Patient Package (Compliant with HL7 FHIR R4 Patient, Release 1). Demographics and other \n                administrative information about an individual or animal receiving care or other health-related services. </h5>\n            <form class=\"w3-container w3-card-4\" id=\"formzp6\" name=\"formzp6\" action=\"zp6start\" method=\"POST\">\n              <label class=\"w3-text-black\">ID</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"patid\" id=\"patid\" required>\n               \n              <label class=\"w3-text-blue\">Status</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"patstat\" id=\"patstat\" required>\n      \n              <label class=\"w3-text-blue\">Resource</label>\n              <textarea class=\"w3-input w3-border\" rows=\"9\" cols=\"70\" name=\"patres\" id=\"patres\" required>\n{\n    \"resourceType\": \"Patient\",\n    \"id\": \"example\",\n    \"text\": {\n        \"status\": \"generated\",\n        \"div\": \"<div><label>Name</label><label>Peter James Chalmers</label><label>Address</label><label>534 Erewhon, Pleasantville, Vic, 3999</label><label>Contacts</label><label>Home: unknown. Work: (03) 5555 6473</label><label>Id</label><label>MRN: 12345 (Acme Healthcare)</label></div>\"\n    },\n    \"identifier\": [\n        {\n            \"use\": \"usual\",\n            \"type\": {\n                \"coding\": [\n                    {\n                        \"system\": \"http://terminology.hl7.org/CodeSystem/v2-0203\",\n                        \"code\": \"MR\"\n                    }\n                ]\n            },\n            \"system\": \"urn:oid:1.2.36.146.595.217.0.1\",\n            \"value\": \"12345\",\n            \"period\": {\n                \"start\": \"2001-05-06\"\n            },\n            \"assigner\": {\n                \"display\": \"Acme Healthcare\"\n            }\n        }\n    ],\n    \"active\": true,\n    \"name\": [\n        {\n            \"use\": \"official\",\n            \"family\": \"Chalmers\",\n            \"given\": [\n                \"Peter\",\n                \"James\"\n            ]\n        },\n        {\n            \"use\": \"usual\",\n            \"given\": [\n                \"Jim\"\n            ]\n        },\n        {\n            \"use\": \"maiden\",\n            \"family\": \"Windsor\",\n            \"given\": [\n                \"Peter\",\n                \"James\"\n            ],\n            \"period\": {\n                \"end\": \"2002\"\n            }\n        }\n    ],\n    \"telecom\": [\n        {\n            \"use\": \"home\"\n        },\n        {\n            \"system\": \"phone\",\n            \"value\": \"(03) 5555 6473\",\n            \"use\": \"work\",\n            \"rank\": 1\n        },\n        {\n            \"system\": \"phone\",\n            \"value\": \"(03) 3410 5613\",\n            \"use\": \"mobile\",\n            \"rank\": 2\n        },\n        {\n            \"system\": \"phone\",\n            \"value\": \"(03) 5555 8834\",\n            \"use\": \"old\",\n            \"period\": {\n                \"end\": \"2014\"\n            }\n        }\n    ],\n    \"gender\": \"male\",\n    \"birthDate\": \"1974-12-25\",\n    \"_birthDate\": {\n        \"extension\": [\n            {\n                \"url\": \"http://hl7.org/fhir/StructureDefinition/patient-birthTime\",\n                \"valueDateTime\": \"1974-12-25T14:35:45-05:00\"\n            }\n        ]\n    },\n    \"deceasedBoolean\": false,\n    \"address\": [\n        {\n            \"use\": \"home\",\n            \"type\": \"both\",\n            \"text\": \"534 Erewhon St PeasantVille, Rainbow, Vic  3999\",\n            \"line\": [\n                \"534 Erewhon St\"\n            ],\n            \"city\": \"PleasantVille\",\n            \"district\": \"Rainbow\",\n            \"state\": \"Vic\",\n            \"postalCode\": \"3999\",\n            \"period\": {\n                \"start\": \"1974-12-25\"\n            }\n        }\n    ],\n    \"contact\": [\n        {\n            \"relationship\": [\n                {\n                    \"coding\": [\n                        {\n                            \"system\": \"http://terminology.hl7.org/CodeSystem/v2-0131\",\n                            \"code\": \"N\"\n                        }\n                    ]\n                }\n            ],\n            \"name\": {\n                \"family\": \"du Marché\",\n                \"_family\": {\n                    \"extension\": [\n                        {\n                            \"url\": \"http://hl7.org/fhir/StructureDefinition/humanname-own-prefix\",\n                            \"valueString\": \"VV\"\n                        }\n                    ]\n                },\n                \"given\": [\n                    \"Bénédicte\"\n                ]\n            },\n            \"telecom\": [\n                {\n                    \"system\": \"phone\",\n                    \"value\": \"+33 (237) 998327\"\n                }\n            ],\n            \"address\": {\n                \"use\": \"home\",\n                \"type\": \"both\",\n                \"line\": [\n                    \"534 Erewhon St\"\n                ],\n                \"city\": \"PleasantVille\",\n                \"district\": \"Rainbow\",\n                \"state\": \"Vic\",\n                \"postalCode\": \"3999\",\n                \"period\": {\n                    \"start\": \"1974-12-25\"\n                }\n            },\n            \"gender\": \"female\",\n            \"period\": {\n                \"start\": \"2012\"\n            }\n        }\n    ],\n    \"managingOrganization\": {\n        \"reference\": \"Organization/1\"\n    }\n}\n              </textarea>\n              <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"patbutton\">Save</button>\n            </form>\n          </div>\n          <div class=\"w3-third w3-center\">\n            <i class=\"fa fa-heartbeat w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}}\" style=\"font-size:64px;\" aria-hidden=\"true\"></i>\n          </div>\n        </div>\n</div>\n\n<!-- Fifth Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp4}}\">\n  {{/skel}}\n    <div class=\"w3-content\">\n      <div class=\"w3-third w3-center\">\n        <i class=\"fa fa-bank w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n      </div>\n      {{#skel}}\n      <div class=\"w3-twothird\">\n        <h1>{{zp4}}</h1>\n        <h5 class=\"w3-padding-32\">Ledger analytics.</h5>\n        {{/skel}}\n        <p>&nbsp;</p>\n        <div id=\"chart_div\" style=\"width: 400px; height: 240px;\"></div>  \n      </div>\n    </div>\n</div>\n{{/payload}}\n\n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019-20, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4 class=\"w3-margin w3-xlarge\">Built by DevB Inc. Copyright 2019-20, All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n\n// document on load\n$(document).ready( () => {\n});\n</script>\n\n</body>\n</html>\n","output":"str","x":1010,"y":240,"wires":[["ba69f9c3.dc3438"]]},{"id":"ba69f9c3.dc3438","type":"http response","z":"675c7943.c14b78","name":"","statusCode":"","headers":{},"x":1150,"y":240,"wires":[]},{"id":"a3b74f4c.7652","type":"http in","z":"675c7943.c14b78","name":"","url":"/master/zp0start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["d4475f32.d6a3e"]]},{"id":"552cd88e.33b018","type":"http in","z":"675c7943.c14b78","name":"","url":"master/zp1start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":500,"wires":[["bbcbf891.4bec68"]]},{"id":"88ea1fba.d40e2","type":"http in","z":"675c7943.c14b78","name":"","url":"master/zp2start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":580,"wires":[["ccc10ea0.3eb37"]]},{"id":"24b785f3.bda07a","type":"http in","z":"675c7943.c14b78","name":"","url":"master/zp3start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":660,"wires":[["d9fc434b.7fd19"]]},{"id":"3893b72a.6462c8","type":"http response","z":"675c7943.c14b78","name":"","statusCode":"","headers":{},"x":1010,"y":680,"wires":[]},{"id":"44c32cb2.895db4","type":"http in","z":"675c7943.c14b78","name":"","url":"/master/setupstart","method":"get","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["675e84b2.0eac2c"]]},{"id":"d9fc434b.7fd19","type":"function","z":"675c7943.c14b78","name":"qry3","func":"var hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar getData = function (callback) {\n    var res = {};\n    // var party;\n    // var asset;\n    // var agree;\n    db.serialize(function () {\n        try {\n            db.all(\"SELECT name, hashid FROM Party;\", function (err, row) {\n                res.party = row;\n            })\n            db.all(\"SELECT name, hashid FROM Agreement;\", function (err, row) {\n                res.agree = row;\n            })\n            db.all(\"SELECT name, hashid FROM Asset;\", function (err, row) {\n                res.asset = row;\n                //res.party = party;\n                //res.agree = agree;\n                //res.asset = asset;\n                callback(res);\n            })\n        } catch (err) {\n            callback(res);\n        }\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    // var msg1 = xmsg;\n    msg.ledger = data;\n    console.log(data);\n    node.send(msg, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":640,"wires":[["2503678b.6ecdf8"]]},{"id":"214d8b79.c406c4","type":"template","z":"675c7943.c14b78","name":"journal","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<title>dltlite journal entry</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-address-card-o,.fa-bank,.fa-legal,.fa-file {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-{{#payload}}{{#dell}}{{clr}}{{/dell}}{{/payload}} w3-card w3-left-align w3-large\">\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"/dltlite\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n    <a href=\"/dltlite\" class=\"w3-bar-item w3-button w3-padding-large\">Home</a>\n  </div>\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-{{#payload}}{{#dell}}{{clr}}{{/dell}}{{/payload}} w3-center\" style=\"padding:32px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\">dltlite journal entry</h1>\n  <h2>{{#payload}}{{#co}}{{name}}{{/co}}{{/payload}}</h2>\n  <p class=\"w3-xlarge\">append only * nimble * distributed ledger * high transactional</p>\n</header>\n\n<!-- Journal Grid -->\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"journal\">\n        <div class=\"w3-content\">\n          <div class=\"w3-twothird\">\n            <form class=\"w3-container w3-card-4\" id=\"formjournal\" name=\"formjournal\" action=\"journalend\" method=\"POST\">\n                <p><select class=\"w3-select\" name=\"txgiver\" id=\"txgiver\" required>\n                    <option value=\"\" disabled selected>Choose {{#payload}}{{#zp3}}{{giver}}{{/zp3}}{{/payload}}</option>\n                    {{#ledger}}\n                    {{#party}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/party}}\n                    {{/ledger}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txtaker\" id=\"txtaker\" required>\n                    <option value=\"\" disabled selected>Choose {{#payload}}{{#zp3}}{{taker}}{{/zp3}}{{/payload}}</option>\n                    {{#ledger}}\n                    {{#party}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/party}}\n                    {{/ledger}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txasset\" id=\"txasset\" required>\n                    <option value=\"\" disabled selected>Choose {{#payload}}{{#zp3}}{{asset}}{{/zp3}}{{/payload}}</option>\n                    {{#ledger}}\n                    {{#asset}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/asset}}\n                    {{/ledger}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txagree\" id=\"txagree\" required>\n                    <option value=\"\" disabled selected>Choose {{#payload}}{{#zp3}}{{agreement}}{{/zp3}}{{/payload}}</option>\n                    {{#ledger}}\n                    {{#agree}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/agree}}\n                    {{/ledger}}\n                </select></p>\n                <label class=\"w3-text-black\">Quantity</label>\n                  <input class=\"w3-input w3-border\" type=\"number\" name=\"txqnty\" id=\"txqnty\" required>\n                <label class=\"w3-text-blue\">Amount</label>\n                  <input class=\"w3-input w3-border\" type=\"number\" name=\"txamt\" id=\"txamt\" required>\n                <label class=\"w3-text-blue\">Non Tx. Amount</label>\n                  <input class=\"w3-input w3-border\" type=\"number\" name=\"nontxamt\" id=\"nontxamt\" required>\n                <p><select class=\"w3-select\" name=\"txsettle\" id=\"txsettle\" required>\n                  <option value=\"\" disabled selected>Choose settlement</option>\n                  {{#payload}}\n                  {{#zp2settle}}\n                  <option value=\"{{orig}}\">{{name}}</option>\n                  {{/zp2settle}}\n                  {{/payload}}\n                </select></p>\n                  <p>&nbsp;</p>\n                  <button class=\"w3-btn w3-xtra-large w3-{{#payload}}{{#dell}}{{clr}}{{/dell}}{{/payload}}\" id=\"journalbtn\">Submit Journal</button>\n            </form>\n      \n          </div>\n        </div>\n</div>\n      \n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n</script>\n\n</body>\n</html>\n","output":"str","x":950,"y":620,"wires":[["3893b72a.6462c8"]]},{"id":"78e65101.36e47","type":"debug","z":"675c7943.c14b78","name":"debug-journal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":740,"wires":[]},{"id":"c56cdf39.c8e63","type":"function","z":"675c7943.c14b78","name":"write-ledger","func":"var pld = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar columnPassword = \"helloworld\";\nlet hsns = hs.hashNSalt(columnPassword);\n\nvar giver=\"\", taker=\"\", asset=\"\", agree=\"\", qty = 0, value = 0, non_value=0, settle=\"\";\nvar putData = function (callback) {\n    db.serialize(function () {\n        giver = pld.txgiver;\n        taker = pld.txtaker;\n        asset = pld.txasset;\n        agree = pld.txagree;\n        qty = pld.txqnty;\n        value = pld.txamt;\n        non_value = pld.nontxamt;\n        settle = pld.settle;\n        var sqls = \"INSERT INTO LEDGER (hashid, salt, giver, taker, asset, agreement, tran_qnty, tran_amt, nontran_amt, journal_type, tran_type, settlement) \"+\n            \" VALUES (?,?,?,?,?,?,?,?,?,?,?,?)\"\n        db.run(sqls, hsns.passwordHash, hsns.salt,\n            giver, taker, asset, agree, qty, value, non_value, \"JOURNAL\", \"AQUISITION\", settle);\n        var xobj = {};\n        xobj.pw = hsns.passwordHash;\n        xobj.salt =  hsns.salt;\n        xobj.giver = giver;\n        xobj.taker = taker;\n        xobj.asset = asset;\n        xobj.agree = agree;\n        xobj.qty = qty;\n        xobj.value = value;\n        xobj.nonvalue = non_value;\n        xobj.jtype = \"JOURNAL\";\n        xobj.ttype = \"AQUISITION\";\n        xobj.settle = settle;\n        callback (xobj);\n    });\n}\n\nputData(function(data) {\n    db.close();\n    msg.ledger = data;\n    msg.topic = \"dkledger\";\n    node.send(msg);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":800,"wires":[["841470f5.b5a39","5ec9796a.a8e6a8"]]},{"id":"fe0c7487.0f3c18","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkledger","x":800,"y":800,"wires":[]},{"id":"a0d2f937.c3cb08","type":"http in","z":"675c7943.c14b78","name":"","url":"master/journalend","method":"post","upload":false,"swaggerDoc":"","x":130,"y":740,"wires":[["c56cdf39.c8e63","78e65101.36e47"]]},{"id":"f1bcab5e.d256a8","type":"file in","z":"675c7943.c14b78","name":"startfile","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":800,"y":140,"wires":[["dabe8c94.172a4"]]},{"id":"f1c60c6.e63d3f","type":"file","z":"675c7943.c14b78","name":"startfile","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":340,"y":80,"wires":[["8c02abf6.84ca38"]]},{"id":"dabe8c94.172a4","type":"json","z":"675c7943.c14b78","name":"","property":"payload","action":"","pretty":false,"x":890,"y":300,"wires":[["252ebb8e.197eb4"]]},{"id":"25bfe3e1.150abc","type":"function","z":"675c7943.c14b78","name":"enc flname","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload.filename;\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["696dd6e6.c5c168"]]},{"id":"67228330.e0050c","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["90350214.bddf2"]]},{"id":"1d7e86c0.aa0fe9","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":520,"wires":[["901e702e.86a27"]]},{"id":"e3f65533.70e4c8","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":600,"wires":[["83ecf6f5.ba6c48"]]},{"id":"841470f5.b5a39","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":800,"wires":[["fe0c7487.0f3c18"]]},{"id":"252ebb8e.197eb4","type":"change","z":"675c7943.c14b78","name":"","rules":[{"t":"set","p":"payload.config.lgr","pt":"msg","to":"lgr","tot":"global"},{"t":"set","p":"payload.config.redis","pt":"msg","to":"redis","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":300,"wires":[["bfd3b0d3.9144f"]]},{"id":"e5777d50.129f9","type":"http in","z":"675c7943.c14b78","name":"","url":"master/config","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1060,"wires":[["d94a19c.8c79ee8"]]},{"id":"d94a19c.8c79ee8","type":"template","z":"675c7943.c14b78","name":"config-template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Th<!DOCTYPE html>\n<html lang=\"en\">\n<title>dltlite configuration</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-file,.fa-bank {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-red w3-card w3-left-align w3-large\">\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-{{#dell}}{{clr}}{{/dell}}\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"/dltlite\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n    <a href=\"/dltlite\" class=\"w3-bar-item w3-button w3-padding-large\">Home</a>\n  </div>\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-red w3-center\" style=\"padding:64px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\">dltlite</h1>\n  <p class=\"w3-xlarge\"append only * nimble * high performance * encrypted * immutable</p>\n</header>\n\n<!-- First Grid -->\n<div class=\"w3-row-padding w3-padding-64 w3-container\">\n  <div class=\"w3-content\">\n    <div class=\"w3-twothird\">\n      <h1>dltlite configuration</h1>\n      <h5 class=\"w3-padding-32\">Please complete the configuration carefully.</h5>\n      <form class=\"w3-container w3-card-4\" id=\"formco\" name=\"formco\" action=\"zp9config\" method=\"POST\">\n        <label class=\"w3-text-black\">JSON Config File</label>\n        <textarea class=\"w3-input w3-border\" rows=\"18\" cols=\"70\" name=\"conf\" id=\"conf\" required>\n{\n    \"co\": {\n        \"name\": \"chainbelow\",\n        \"logo\": \"\"\n    },\n    \"skel\": {\n        \"zp0\": \"Party\",\n        \"zp1\": \"Asset\",\n        \"zp2\": \"Agreement\",\n        \"zp3\": \"Ledger\",\n        \"zp4\": \"Dashboard\"\n    },\n    \"dell\": {\n        \"clr\": \"blue\",\n        \"ip\": \"localhost\",\n        \"locn\": \"NYC, NY\",\n        \"geo\": \"\"\n    },\n    \"zp0type\": [\n        {\n            \"name\": \"Giver\",\n            \"orig\": \"Giver\"\n        },\n        {\n            \"name\": \"Taker\",\n            \"orig\": \"Taker\"\n        },\n        {\n            \"name\": \"Witness\",\n            \"orig\": \"Witness\"\n        },\n        {\n            \"name\": \"Third-Party\",\n            \"orig\": \"Third-Party\"\n        },\n        {\n            \"name\": \"Attorney\",\n            \"orig\": \"Attorney\"\n        },\n        {\n            \"name\": \"Referee\",\n            \"orig\": \"Referee\"\n        }\n    ],\n    \"zp1type\": [\n        {\n            \"name\": \"Tangible\",\n            \"orig\": \"Tangible\"\n        },\n        {\n            \"name\": \"Virtual\",\n            \"orig\": \"Virtual\"\n        },\n        {\n            \"name\": \"Digital\",\n            \"orig\": \"Digital\"\n        },\n        {\n            \"name\": \"Intangible\",\n            \"orig\": \"Intangible\"\n        },\n        {\n            \"name\": \"Loyalty\",\n            \"orig\": \"Loyalty\"\n        }\n    ],\n    \"zp2type\": [\n        {\n            \"name\": \"Binding\",\n            \"orig\": \"Binding\"\n        },\n        {\n            \"name\": \"Non Binding\",\n            \"orig\": \"Non Binding\"\n        },\n        {\n            \"name\": \"Traceable\",\n            \"orig\": \"Traceable\"\n        },\n        {\n            \"name\": \"Policy\",\n            \"orig\": \"Policy\"\n        }\n    ],\n    \"zp2settle\": [\n        {\n            \"name\": \"Cash\",\n            \"orig\": \"Cash\"\n        },\n        {\n            \"name\": \"Credit\",\n            \"orig\": \"Credit\"\n        },\n        {\n            \"name\": \"Points\",\n            \"orig\": \"Points\"\n        },\n        {\n            \"name\": \"Foreign Curr\",\n            \"orig\": \"Foreign Curr\"\n        },\n        {\n            \"name\": \"Barter\",\n            \"orig\": \"Barter\"\n        },\n        {\n            \"name\": \"Exchange\",\n            \"orig\": \"Exchange\"\n        }\n    ],\n    \"zp3\": {\n        \"giver\": \"giver\",\n        \"taker\": \"taker\",\n        \"asset\": \"asset\",\n        \"agreement\": \"agreement\"\n    }\n}        \n        </textarea>       \n        <button class=\"w3-btn w3-xtra-large w3-red\" id=\"cobtn\">Write</button>\n         \n        </form>\n    </div>\n\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-file w3-padding-64 w3-text-red\"></i>\n    </div>\n  </div>\n</div>\n\n<!-- Part 2 -->\n\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" >\n  <div class=\"w3-content\">\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-bank w3-padding-64 w3-text-red w3-margin-right\"></i>\n    </div>\n\n    <div class=\"w3-twothird\">\n      <h1>Examples</h1>\n      <h5 class=\"w3-padding-32\">These use cases showcase dltlite.</h5>\n\n      <form class=\"w3-container w3-card-4\" id=\"formzp5\" name=\"formzp5\" action=\"zp5config\" method=\"POST\">\n            <p><select class=\"w3-select\" name=\"zp5type\" id=\"zp5type\" required>\n                <option value=\"\" disabled selected>Choose example</option>\n                <option value=\"1\">Original</option>\n                <option value=\"2\">Auction</option>\n                <option value=\"3\">Lease</option>\n                <option value=\"4\">Lending</option>\n                <option value=\"5\">Medical Billing</option>\n                <option value=\"6\">Loyalty Rewards</option>\n                <option value=\"7\">Insurance Commision</option>\n                <option value=\"8\">Chat</option>\n            </select></p>\n            <p>&nbsp;</p>\n          <button class=\"w3-btn w3-xtra-large w3-red\" id=\"zp1btn\">Save Config</button>\n        </form>\n\n    </div>\n  </div>\n</div>\n \n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n\n// document on load\n$(document).ready( () => {\n});\n</script>\n\n</body>\n</html>\n","output":"str","x":420,"y":1060,"wires":[["bfde8756.808c18"]]},{"id":"196a19e3.f9f866","type":"file","z":"675c7943.c14b78","name":"startfile","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":500,"y":1260,"wires":[["5a3cf58e.e4ed9c","7a50ee88.13ce2","d94a19c.8c79ee8"]]},{"id":"bfde8756.808c18","type":"http response","z":"675c7943.c14b78","name":"","statusCode":"","headers":{},"x":610,"y":1060,"wires":[]},{"id":"22fda909.6fcbe6","type":"http in","z":"675c7943.c14b78","name":"","url":"master/zp9config","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1200,"wires":[["8ae633e4.c3bff"]]},{"id":"5a3cf58e.e4ed9c","type":"debug","z":"675c7943.c14b78","name":"debug-config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":1100,"wires":[]},{"id":"8ae633e4.c3bff","type":"function","z":"675c7943.c14b78","name":"objmaker","func":"var pld = msg.payload;\nvar fs = global.get('fsv');\nlet foo = env.get(\"USER\");\nlet dir = \"/data/\";\n\nif (!fs.existsSync(dir)){\n    fs.mkdirSync(dir);\n}\n\nmsg.filename = dir + \"dataknox.file\";\nvar obj = {};\ntry {\n    var npl = JSON.stringify(pld); //.replace(/[\\\\r]/g, \"\");\n    obj = JSON.parse(npl);\n    msg.payload = obj.conf;\n} catch (err) {\n    // do nothing;\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1200,"wires":[["196a19e3.f9f866"]]},{"id":"612ce764.8b6598","type":"function","z":"675c7943.c14b78","name":"filenamer","func":"var fs = global.get('fsv');\nlet foo = env.get(\"USER\");\nlet dir = \"/data/\";\n\nif (!fs.existsSync(dir)){\n    fs.mkdirSync(dir);\n}\n\nmsg.filename = dir + \"dataknox.file\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":40,"wires":[["f1c60c6.e63d3f"]]},{"id":"5ec9796a.a8e6a8","type":"function","z":"675c7943.c14b78","name":"filenamer","func":"let foo = env.get(\"USER\");\nmsg.filename = \"/data/dataknox.file\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":240,"wires":[["f1bcab5e.d256a8"]]},{"id":"675e84b2.0eac2c","type":"function","z":"675c7943.c14b78","name":"cleanup","func":"let foo = env.get(\"USER\");\nlet fs = global.get('fsv');\nvar filename = \"/data/lgr.db\";\nfs.unlink(filename,function(err) {\n        if (err) console.log(err);\n});\nmsg.payload.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["2d015b9f.673e54"]]},{"id":"7a50ee88.13ce2","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkconfig","x":640,"y":1180,"wires":[]},{"id":"2503678b.6ecdf8","type":"function","z":"675c7943.c14b78","name":"filenamer","func":"let foo = env.get(\"USER\");\nmsg.filename = \"/data/dataknox.file\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":680,"wires":[["99543fe.ba492c"]]},{"id":"99543fe.ba492c","type":"file in","z":"675c7943.c14b78","name":"startfile","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":660,"y":680,"wires":[["336b3005.b6124"]]},{"id":"336b3005.b6124","type":"json","z":"675c7943.c14b78","name":"","property":"payload","action":"","pretty":false,"x":810,"y":660,"wires":[["214d8b79.c406c4","78e65101.36e47"]]},{"id":"f5331ee0.2d2b8","type":"http in","z":"675c7943.c14b78","name":"","url":"master/zp5config","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1260,"wires":[["e002ef2a.d2503"]]},{"id":"e002ef2a.d2503","type":"function","z":"675c7943.c14b78","name":"examples","func":"var pld = msg.payload;\nvar z5 = pld.zp5type;\n\nvar fs = global.get('fsv');\nlet foo = env.get(\"USER\");\nlet dir = \"/data/\";\n\nif (!fs.existsSync(dir)){\n    fs.mkdirSync(dir);\n}\n\n// mde billing, loyalty rewards\nmsg.filename = dir + \"dataknox.file\";\nvar t1 = {\"co\":{\"name\":\"chainbelow\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Asset\",\"zp2\":\"Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Giver\",\"orig\":\"Giver\"},{\"name\":\"Taker\",\"orig\":\"Taker\"},{\"name\":\"Witness\",\"orig\":\"Witness\"},{\"name\":\"Third-Party\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Referee\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\": [{\"name\": \"Cash\",\"orig\": \"Cash\"},{\"name\": \"Credit\",\"orig\": \"Credit\"},{\"name\": \"Points\", \"orig\": \"Points\"},{\"name\": \"Foreign Curr\", \"orig\": \"Foreign Curr\"},{\"name\": \"Barter\", \"orig\": \"Barter\"},{\"name\": \"Exchange\", \"orig\": \"Exchange\"}],\"zp3\":{\"giver\":\"giver\",\"taker\":\"taker\",\"asset\":\"asset\",\"agreement\":\"agreement\"}};\nvar t3 = {\"co\":{\"name\":\"alontrus\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"People\",\"zp1\":\"Property\",\"zp2\":\"Lease/Rent\",\"zp3\":\"Transaction\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"red\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Lessee\",\"orig\":\"Giver\"},{\"name\":\"Lessor\",\"orig\":\"Taker\"},{\"name\":\"Notary\",\"orig\":\"Witness\"},{\"name\":\"Third-Party\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Arbitrator\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Building\",\"orig\":\"Tangible\"},{\"name\":\"Media\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intel-property\",\"orig\":\"Intangible\"}],\"zp2type\":[{\"name\":\"30-days\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\": [{\"name\": \"Cash\",\"orig\": \"Cash\"},{\"name\": \"Credit\",\"orig\": \"Credit\"},{\"name\": \"Points\", \"orig\": \"Points\"},{\"name\": \"Foreign Curr\", \"orig\": \"Foreign Curr\"},{\"name\": \"Barter\", \"orig\": \"Barter\"},{\"name\": \"Exchange\", \"orig\": \"Exchange\"}],\"zp3\":{\"giver\":\"lessee\",\"taker\":\"lessor\",\"asset\":\"property\",\"agreement\":\"agreement\"}};\nvar t4 = {\"co\":{\"name\":\"alontrus\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Asset\",\"zp2\":\"Lend-Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"green\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Lender\",\"orig\":\"Giver\"},{\"name\":\"Borrower\",\"orig\":\"Taker\"},{\"name\":\"Witness\",\"orig\":\"Witness\"},{\"name\":\"Third-Party\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Referee\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\": [{\"name\": \"Cash\",\"orig\": \"Cash\"},{\"name\": \"Credit\",\"orig\": \"Credit\"},{\"name\": \"Points\", \"orig\": \"Points\"},{\"name\": \"Foreign Curr\", \"orig\": \"Foreign Curr\"},{\"name\": \"Barter\", \"orig\": \"Barter\"},{\"name\": \"Exchange\", \"orig\": \"Exchange\"}],\"zp3\":{\"giver\":\"lender\",\"taker\":\"borrower\",\"asset\":\"property\",\"agreement\":\"agreement\"}};\nvar t5 = {\"co\":{\"name\":\"alontrus\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Treatment\",\"zp2\":\"Medical-Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Provider\",\"orig\":\"Giver\"},{\"name\":\"Patient\",\"orig\":\"Taker\"},{\"name\":\"Co-Patient\",\"orig\":\"Witness\"},{\"name\":\"Third-Party\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Referee\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\": [{\"name\": \"Cash\",\"orig\": \"Cash\"},{\"name\": \"Credit\",\"orig\": \"Credit\"},{\"name\": \"Points\", \"orig\": \"Points\"},{\"name\": \"Foreign Curr\", \"orig\": \"Foreign Curr\"},{\"name\": \"Barter\", \"orig\": \"Barter\"},{\"name\": \"Exchange\", \"orig\": \"Exchange\"}],\"zp3\":{\"giver\":\"provider\",\"taker\":\"patient\",\"asset\":\"treatment\",\"agreement\":\"agreement\"}};\nvar t6 = {\"co\":{\"name\":\"alontrus\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Rewards\",\"zp2\":\"Rewards-Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"green\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Donor\",\"orig\":\"Giver\"},{\"name\":\"Awardee\",\"orig\":\"Taker\"},{\"name\":\"Beneficiary\",\"orig\":\"Witness\"},{\"name\":\"Third-Party\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Referee\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\": [{\"name\": \"Cash\",\"orig\": \"Cash\"},{\"name\": \"Credit\",\"orig\": \"Credit\"},{\"name\": \"Points\", \"orig\": \"Points\"},{\"name\": \"Foreign Curr\", \"orig\": \"Foreign Curr\"},{\"name\": \"Barter\", \"orig\": \"Barter\"},{\"name\": \"Exchange\", \"orig\": \"Exchange\"}],\"zp3\":{\"giver\":\"donor\",\"taker\":\"awardee\",\"asset\":\"rewards\",\"agreement\":\"agreement\"}};\nvar t7 = {\"co\":{\"name\":\"alontrus\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Policy\",\"zp2\":\"Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Agent\",\"orig\":\"Giver\"},{\"name\":\"Insurance\",\"orig\":\"Taker\"},{\"name\":\"Customer\",\"orig\":\"Witness\"},{\"name\":\"Underwriter\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Reinsurance\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"},{\"name\":\"Loyalty\",\"orig\":\"Loyalty\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\":[{\"name\":\"Cash\",\"orig\":\"Cash\"},{\"name\":\"Credit\",\"orig\":\"Credit\"},{\"name\":\"Invoice\",\"orig\":\"Points\"},{\"name\":\"Foreign Curr\",\"orig\":\"Foreign Curr\"},{\"name\":\"Barter\",\"orig\":\"Barter\"},{\"name\":\"Exchange\",\"orig\":\"Exchange\"}],\"zp3\":{\"giver\":\"agent/cust\",\"taker\":\"insurance\",\"asset\":\"asset\",\"agreement\":\"agreement\"}};\n\nswitch (z5) {\n    case \"1\": msg.payload = t1; break;\n    case \"3\": msg.payload = t3; break;\n    case \"4\": msg.payload = t4; break;\n    case \"5\": msg.payload = t5; break;\n    case \"6\": msg.payload = t6; break;\n    case \"7\": msg.payload = t7; break;\n    default: msg.payload = t1; break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1260,"wires":[["196a19e3.f9f866"]]},{"id":"86330523.8cf848","type":"http in","z":"675c7943.c14b78","name":"","url":"/config/master","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["5ec9796a.a8e6a8"]]},{"id":"bf2b52ad.da36c","type":"http in","z":"675c7943.c14b78","name":"","url":"master/de","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1380,"wires":[["48be18ee.7198c8"]]},{"id":"48be18ee.7198c8","type":"template","z":"675c7943.c14b78","name":"demo-template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Th<!DOCTYPE html>\n<html lang=\"en\">\n<title>dataknox configuration</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-file,.fa-bank {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-red w3-card w3-left-align w3-large\">\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-{{#dell}}{{clr}}{{/dell}}\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"/dataknox\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n    <a href=\"/dataknox\" class=\"w3-bar-item w3-button w3-padding-large\">Home</a>\n  </div>\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-red w3-center\" style=\"padding:64px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\"><img src=\"https://www.chainbelow.org/img/dataknox_logo.png\" class=\"w3-image w3-grayscale\" style=\"width:33%\" /></h1>\n  <p class=\"w3-xlarge\">provenance * append only * high performance * encrypted * immutable</p>\n</header>\n\n<!-- First Grid -->\n<div class=\"w3-row-padding w3-padding-64 w3-container\">\n  <div class=\"w3-content\">\n    <div class=\"w3-twothird\">\n      <h1>Generate demo-data</h1>\n      <form class=\"w3-container w3-card-4\" id=\"formw\" name=\"formw\" action=\"de1\" method=\"POST\">\n        <button class=\"w3-btn w3-xtra-large w3-red\" id=\"wrbtn\">Write</button>\n      </form>\n    </div>\n\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-file w3-padding-64 w3-text-red\"></i>\n    </div>\n  </div>\n</div>\n\n<!-- Part 2 -->\n\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" >\n  <div class=\"w3-content\">\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-bank w3-padding-64 w3-text-red w3-margin-right\"></i>\n    </div>\n\n    <div class=\"w3-twothird\">\n      <h1>Demo read</h1>\n      <form class=\"w3-container w3-card-4\" id=\"formr\" name=\"formr\" action=\"de2\" method=\"POST\">\n        <label class=\"w3-text-black\">JSON Config File</label>\n        <textarea class=\"w3-input w3-border\" rows=\"18\" cols=\"70\" name=\"conf\" id=\"conf\" required>\n            {{rset}}\n        </textarea>       \n        <p>&nbsp;</p>\n        <button class=\"w3-btn w3-xtra-large w3-red\" id=\"rdbtn\">Read data</button>\n      </form>\n\n    </div>\n  </div>\n</div>\n \n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n\n// document on load\n$(document).ready( () => {\n});\n</script>\n\n</body>\n</html>\n","output":"str","x":380,"y":1380,"wires":[["4f753d08.e193f4"]]},{"id":"4f753d08.e193f4","type":"http response","z":"675c7943.c14b78","name":"","statusCode":"","headers":{},"x":590,"y":1380,"wires":[]},{"id":"1c2357a9.a19f08","type":"function","z":"675c7943.c14b78","name":"write-demo","func":"var pld = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\" + foo + \"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar columnPassword = \"helloworld\";\nlet hsns; // = hs.hashNSalt(columnPassword);\n\nvar wData = function (callback) {\n    db.serialize(function () {\n        // First Party\n        var ml = { \"name\": \"John Mcguire\", \"bday\": \"1976-03-02\", \"ptype\": \"TAKER\" };\n        var partyInput = [], j = 0;\n        ml.pw = ml.name.replace(/\\s+/g, '') + ml.bday + columnPassword;\n        hsns = hs.hashNSalt(ml.pw);\n        ml.pwHash = hsns.passwordHash;\n        ml.pwSalt = hsns.salt;\n        partyInput.push(ml);\n\n        db.run(\"Insert into party (name, hashid, salt, stdate, ptype) values \" +\n            \"(?,?,?,?,?)\", partyInput[j].name, partyInput[j].pwHash, partyInput[j].salt,\n            partyInput[j].bday, partyInput[j].ptype);\n\n        // 2nd party\n        ml = { \"name\": \"Jane Doe\", \"bday\": \"1962-11-28\", \"ptype\": \"TAKER\" };\n        ++j;\n        ml.pw = ml.name.replace(/\\s+/g, '') + ml.bday + columnPassword;\n        hsns = hs.hashNSalt(ml.pw);\n        ml.pwHash = hsns.passwordHash;\n        ml.pwSalt = hsns.salt;\n        partyInput.push(ml);\n\n        db.run(\"Insert into party (name, hashid, salt, stdate, ptype) values \" +\n            \"(?,?,?,?,?)\", partyInput[j].name, partyInput[j].pwHash, partyInput[j].salt,\n            partyInput[j].bday, partyInput[j].ptype);\n\n        // 3rd party\n        ml = { \"name\": \"James Bond\", \"bday\": \"1949-9-14\", \"ptype\": \"WITNESS\" };\n        ++j;\n        ml.pw = ml.name.replace(/\\s+/g, '') + ml.bday + columnPassword;\n        hsns = hs.hashNSalt(ml.pw);\n        ml.pwHash = hsns.passwordHash;\n        ml.pwSalt = hsns.salt;\n        partyInput.push(ml);\n\n        db.run(\"Insert into party (name, hashid, salt, stdate, ptype) values \" +\n            \"(?,?,?,?,?)\", partyInput[j].name, partyInput[j].pwHash, partyInput[j].salt,\n            partyInput[j].bday, partyInput[j].ptype);\n\n        // Asset # 1\n        let mpl = { \"name\": \"House # 1234\", \"location\": \"Sparta, New Jersey\", \"metadata\": \"\", \"qty\": \"1\", \"value\": \"100000\", \"atype\": \"TANGIBLE\" };\n        let assetInput = [];\n        j = 0; // reinitialize j\n        mpl.pwd = mpl.name.replace(/\\s+/g, '') + columnPassword;\n        hsns = hs.hashNSalt(mpl.pwd);\n        mpl.pwdHash = hsns.passwordHash;\n        mpl.pwdSalt = hsns.salt;\n        assetInput.push(mpl);\n        db.run(\"INSERT INTO ASSET('HASHID','SALT','NAME','LOCATION','METADATA','ATYPE','QUANTITY','ASSET_VALUE','ASSETTAG')\" +\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", assetInput[j].pwdHash, assetInput[j].pwdSalt, assetInput[j].name, assetInput[j].location,\n            assetInput[j].metadata, assetInput[j].atype, assetInput[j].qty, assetInput[j].value, assetInput[j].tag);\n\n        // Agree # 1\n        let mal = { \"name\": \"Agreement # 1234\", \"sla\": \"Immediate Possession\", \"warranty\": \"Limited\", \"agreed_value\": \"82000\", \"atype\": \"BINDING\", \"pvalue\": \"200000\", \"settle\": \"CASH\" };\n        let agInput = [];\n        j = 0;\n        mal.pwd = mal.name.replace(/\\s+/g, '') + columnPassword;\n        hsns = hs.hashNSalt(mal.pwd);\n        mal.pwdHash = hsns.passwordHash;\n        mal.pwdSalt = hsns.salt;\n        agInput.push(mal);\n\n        db.run(\"INSERT INTO AGREEMENT('HASHID','SALT','NAME','SLA','ATYPE','WARRANTY','AGREED_VALUE','PERCEIVED_VALUE','SETTLEMENT')\" +\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", agInput[j].pwdHash, agInput[j].pwdSalt, agInput[j].name, agInput[j].sla,\n            agInput[j].atype, agInput[j].warranty, agInput[j].agreed_value, assetInput[j].pvalue, assetInput[j].settle);\n\n        var IMAX = 2000;\n        var sqls = \"INSERT INTO LEDGER (hashid, prevhashid, salt, giver, taker, asset, agreement, tran_qnty, tran_amt, nontran_amt, journal_type, tran_type, settlement)\" +\n            \" VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?) \";\n\n        let prevhash = \"\";\n        let harray = [];\n        for (var i = 0; i < IMAX; i++) {\n            hsns = hs.hashNSalt(columnPassword);\n            let pw = hsns.passwordHash;\n            let salt = hsns.salt;\n            let n = Math.round(Math.random() * 2);\n            let giver = partyInput[n].pwHash;\n            let taker = \"\";\n            while (true) {\n                n = Math.round(Math.random() * 2);\n                taker = partyInput[n].pwHash;\n                if (taker !== giver) break;\n            }\n            let asset = assetInput[0].pwdHash;\n            let agree = agInput[0].pwdHash;\n            let qty = 1;\n            let value = (Math.random() * 100000).toFixed(2);\n            let nonvalue = (Math.random() * 100000).toFixed(2);\n            \n            harray[i] = { \"pw\": pw, \"ph\": prevhash };\n            prevhash = pw;\n            db.each(sqls, harray[i].pw, harray[i].ph, salt, giver, taker, asset, agree, qty, value, nonvalue, \"JOURNAL\", \"AQUISITION\", \"CASH\");\n        }\n        callback ({});\n    });\n}\n\nwData(function (data) {\n    db.close();\n    node.send(msg);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":410,"y":1440,"wires":[["48be18ee.7198c8"]]},{"id":"a002cd02.f1275","type":"http in","z":"675c7943.c14b78","name":"","url":"master/de1","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1420,"wires":[["1c2357a9.a19f08"]]},{"id":"1a4e2f66.c86011","type":"debug","z":"675c7943.c14b78","name":"debug-demo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":1420,"wires":[]},{"id":"839fe34f.0f7ec","type":"http in","z":"675c7943.c14b78","name":"","url":"master/de2","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1460,"wires":[["f7c6bd6d.84036"]]},{"id":"f7c6bd6d.84036","type":"function","z":"675c7943.c14b78","name":"read-demo","func":"var pld = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\" + foo + \"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar columnPassword = \"helloworld\";\nlet hsns; // = hs.hashNSalt(columnPassword);\n\nvar rData = function (callback) {\n  db.serialize(function () {\n    var sqlddl = \"SELECT * FROM LEDGER\";\n    var data = {};\n    db.all(sqlddl, (err, result) => {\n        data = result;\n        callback(data);\n    });\n    // callback(data);\n  })        \n}\n\nrData(function (data) {\n    db.close();\n    msg.rset = JSON.stringify(data, null, 2);\n    node.send(msg);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":410,"y":1480,"wires":[["1a4e2f66.c86011","48be18ee.7198c8"]]},{"id":"e8d6f9d1.c5f128","type":"http in","z":"675c7943.c14b78","name":"","url":"/master/zp6start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":880,"wires":[["ea840c5d.ca7d5"]]},{"id":"ea840c5d.ca7d5","type":"function","z":"675c7943.c14b78","name":"patient-maker","func":"let mpl = msg.payload;\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nlet patInput = {};\npatInput.patid = mpl.patid;\npatInput.patstat = mpl.patstat;\npatInput.patres = mpl.patres;\nvar columnPassword = \"helloworld\";\npatInput.patxid = \"abcdefghijklmnop\" + patInput.patid.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(patInput.patxid);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO PATIENT('TXID','SALT','STATUS','RESOURCE')\"+\n            \" VALUES (?,?,?,?)\", hsns.passwordHash, hsns.salt, patInput.patstat, patInput.patres);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":920,"wires":[["2ed700cc.f5de7","96ca9300.433be","5ec9796a.a8e6a8"]]},{"id":"2ed700cc.f5de7","type":"function","z":"675c7943.c14b78","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\npld = JSON.stringify(pld);\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":550,"y":880,"wires":[["5516ae2b.e53e2"]]},{"id":"5516ae2b.e53e2","type":"dblite-redis-out","z":"675c7943.c14b78","server":"20d5f788.cb8598","command":"publish","name":"","topic":"dkpatient","x":740,"y":880,"wires":[]},{"id":"79732c44.b9f604","type":"comment","z":"675c7943.c14b78","name":"Newly added devb Jan 2020","info":"","x":140,"y":840,"wires":[]},{"id":"96ca9300.433be","type":"debug","z":"675c7943.c14b78","name":"debug-patient","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":940,"wires":[]},{"id":"d57f1b36.a404f8","type":"template","z":"675c7943.c14b78","name":"reckon","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<title>dataknox recocilation</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-address-card-o,.fa-bank,.fa-legal,.fa-file {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-{{#payload}}{{#dell}}{{clr}}{{/dell}}{{/payload}} w3-card w3-left-align w3-large\">\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"/dataknox\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n    <a href=\"/dataknox\" class=\"w3-bar-item w3-button w3-padding-large\">Home</a>\n  </div>\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-{{#payload}}{{#dell}}{{clr}}{{/dell}}{{/payload}} w3-center\" style=\"padding:32px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\">dataknox reconcilation (beta)</h1>\n  <h2>{{#payload}}{{#co}}{{name}}{{/co}}{{/payload}}</h2>\n  <p class=\"w3-xlarge\">append only * distributed ledger * high transactional</p>\n</header>\n\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"loader\">\n    <form class=\"w3-container w3-card-4\" id=\"formldr\" name=\"formldr\" action=\"ldrend\" method=\"POST\">\n        <button class=\"w3-btn w3-xtra-large w3-{{#payload}}{{#dell}}{{clr}}{{/dell}}{{/payload}}\" id=\"journalbtn\">Load Data</button>\n    </form>\n</div>\n\n<!-- Recon Grid -->\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"reckon\">\n        <div class=\"w3-content\">\n          <div class=\"w3-twothird\">\n            <form class=\"w3-container w3-card-4\" id=\"formreckon\" name=\"formreckon\" action=\"reckonend\" method=\"POST\">\n                <p><select class=\"w3-select\" name=\"txpivot\" id=\"txpivot\" required>\n                    <option value=\"\" disabled selected>Choose Pivot</option>\n                    {{#ledger}}\n                    {{#party}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/party}}\n                    {{/ledger}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txrapid\" id=\"txrapid\" required>\n                    <option value=\"\" disabled selected>Choose Report</option>\n                    <option value=\"RP\">Rapid</option>\n                    <option value=\"SB\">Substitution</option>\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txparty1\" id=\"txparty1\">\n                    <option value=\"\" disabled selected>Choose Party 1</option>\n                    {{#ledger}}\n                    {{#party}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/party}}\n                    {{/ledger}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txparty2\" id=\"txparty2\">\n                    <option value=\"\" disabled selected>Choose Party 2</option>\n                    {{#ledger}}\n                    {{#party}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/party}}\n                    {{/ledger}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txasset\" id=\"txasset\">\n                    <option value=\"\" disabled selected>Choose Asset</option>\n                    {{#ledger}}\n                    {{#asset}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/asset}}\n                    {{/ledger}}\n                </select></p>\n                <p><select class=\"w3-select\" name=\"txagree\" id=\"txagree\">\n                    <option value=\"\" disabled selected>Choose Agreement</option>\n                    {{#ledger}}\n                    {{#agree}}\n                    <option value=\"{{HASHID}}\">{{NAME}}</option>\n                    {{/agree}}\n                    {{/ledger}}\n                </select></p>\n                  <button class=\"w3-btn w3-xtra-large w3-{{#payload}}{{#dell}}{{clr}}{{/dell}}{{/payload}}\" id=\"subbtn\">Reconcile</button>&nbsp;\n            </form>\n      \n          </div>\n        </div>\n</div>\n\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"loader\">\n{{#payload}}\n<h1>Pivot: {{piv}}</h1>\n    <div class=\"w3-content\">\n        <table class=\"w3-table-all\">\n            <tr class=\"w3-red\">\n                <th>Date</th>\n                <th>Txn</th>\n                <th>Giver</th>\n                <th>Taker</th>\n                <th class=\"w3-center\">Tx Given</th>\n                <th class=\"w3-center\">Tx Taken</th>\n                <th class=\"w3-center\">NTx ToGive</th>\n                <th class=\"w3-center\">NTx ToTake</th>\n            </tr>\n{{#rset}}\n            <tr> \n                <td>{{Date}}</td>\n                <td>{{TxHash}}</td>\n                <td>{{g}}</td>\n                <td>{{t}}</td>\n                <td style=\"text-align:right\">{{given}}</td>\n                <td style=\"text-align:right\">{{taken}}</td>\n                <td style=\"text-align:right\">{{togive}}</td>\n                <td style=\"text-align:right\">{{totake}}</td>\n            </tr>\n{{/rset}}            \n        </table>\n    </div>\n{{/payload}}    \n</div>\n      \n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n</script>\n\n</body>\n</html>\n","output":"str","x":350,"y":1560,"wires":[["9e39d701.357098","1913b07f.a0163"]]},{"id":"c70974c2.be85d8","type":"http in","z":"675c7943.c14b78","name":"","url":"master/reckon","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1560,"wires":[["d57f1b36.a404f8"]]},{"id":"9e39d701.357098","type":"http response","z":"675c7943.c14b78","name":"","statusCode":"","headers":{},"x":530,"y":1560,"wires":[]},{"id":"94fb0e25.df67f","type":"http in","z":"675c7943.c14b78","name":"","url":"master/reckonend","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1660,"wires":[["8b0b4d48.d0846","6e9c0260.c49e4c"]]},{"id":"8b0b4d48.d0846","type":"function","z":"675c7943.c14b78","name":"reckon-data","func":"var pld = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\" + foo + \"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar columnPassword = \"helloworld\";\nlet hsns; // = hs.hashNSalt(columnPassword);\nlet pivot = pld.txpivot;\nvar piv = \"\";\nlet substitute = false;\nif (pld.txrapid == \"SB\") substitute = true;\n\ngetData = function (callback) {\n    var res = [];\n    var party = [];\n    var result = [];\n    db.serialize(function () {\n        let sqls = \"SELECT ID as TxID, HASHID as TxHash, \" +\n            \"GIVER, TAKER, ASSET as Asset, AGREEMENT as Agreement, \" +\n            \"TRAN_QNTY as Qnty, TRAN_AMT as Amt, NONTRAN_AMT as NonTxAmt, \" +\n            \"SETTLEMENT as Settlement, TRAN_TYPE as Type, LD_DATE as Date \" +\n            \"FROM ledger \" +\n            \"WHERE (GIVER = '\"+pivot+\"' OR TAKER = '\"+pivot+\"')\" +\n            \"ORDER BY ledger.LD_DATE \" +\n            \"\";\n        if (substitute) {\n            sqls = \"SELECT L.ID as TxID, L.HASHID as TxHash, \" +\n            \"L.GIVER, L.TAKER, A.NAME as Asset, G.NAME as Agreement, \" +\n            \"L.TRAN_QNTY as Qnty, L.TRAN_AMT as Amt, L.NONTRAN_AMT as NonTxAmt, \" +\n            \"L.SETTLEMENT as Settlement, L.TRAN_TYPE as Type, L.LD_DATE as Date \" +\n            \"FROM ledger L \" +\n            \"INNER JOIN asset A ON (A.HASHID = L.ASSET) \" +\n            \"INNER JOIN agreement G ON (G.HASHID = L.AGREEMENT) \" +\n            \"WHERE (GIVER = '\"+pivot+\"' OR TAKER = '\"+pivot+\"')\" +\n            \"ORDER BY L.LD_DATE \" +\n            \"\";\n        }\n        \n        let nTxId = 0;\n        let cnt = 0;\n\n        db.all(\"SELECT name, hashid FROM Party;\", function (err, row) {\n            party = row;\n        })\n\n        db.each(sqls, function (err, row) {\n            res.push(row);\n        }, function () { // calling function when all rows have been pulled\n            db.close(); //closing connection\n            var pty = party;\n            var rkn = res;\n            var nt1 = 0.0, sumnt1 = 0.0, nt2 = 0.0, sumnt2 = 0.0;\n            var t1 = 0.0, sumt1 = 0.0, t2 = 0.0, sumt2 = 0.0;\n            for (var i=0; i < rkn.length; i++) {\n                var tx = rkn[i].TxHash;\n                rkn[i].TxHash = tx.substring(1, 22) + \"...\";\n                var g = rkn[i].GIVER;\n                var t = rkn[i].TAKER;\n                if (substitute === true) {\n                    // console.log('hit de puttar');\n                    for (var j=0; j < pty.length; j++) {\n                        if (rkn[i].GIVER == pty[j].HASHID) g = pty[j].NAME;\n                        if (rkn[i].TAKER == pty[j].HASHID) t = pty[j].NAME; \n                    }\n                }\n                for (var k=0; k < pty.length; k++) {\n                    if (pivot == pty[k].HASHID) piv = pty[k].NAME;\n                }\n                rkn[i].g = g;\n                rkn[i].t = t;\n                if (substitute !== true) {\n                    // console.log('hit de puttar 2');\n                    rkn[i].g = g.substring(1, 22) + \"...\";\n                    rkn[i].t = t.substring(1, 22) + \"...\";\n                }\n                if (rkn[i].GIVER == pivot) {\n                    rkn[i].given = Number(rkn[i].Amt).toFixed(4);\n                    rkn[i].taken = Number(0).toFixed(4);\n                    rkn[i].togive = Number(rkn[i].NonTxAmt).toFixed(4);\n                    rkn[i].totake = Number(0).toFixed(4);\n                } else {\n                    rkn[i].given = Number(0).toFixed(4);\n                    rkn[i].taken = Number(rkn[i].Amt).toFixed(4);\n                    rkn[i].togive = Number(0).toFixed(4);\n                    rkn[i].totake = Number(rkn[i].NonTxAmt).toFixed(4);\n                }\n                nt1 = Number(rkn[i].given);\n                t1 = Number(rkn[i].togive);\n                nt2 = Number(rkn[i].taken);\n                t2 = Number(rkn[i].totake);\n                sumnt1 = sumnt1 + nt1;\n                sumt1 += t1;\n                sumnt2 = sumnt2 + nt2;\n                sumt2 += t2;\n            }\n            var total = {\"Date\":\"Total\", \"g\":\"\", \"t\":\"\", \"TxHash\": \"\", \n            \"togive\":Number(sumt1).toFixed(4), \"totake\":Number(sumt2).toFixed(4),\n            \"given\":Number(sumnt1).toFixed(4), \"taken\":Number(sumnt2).toFixed(4)};            \n            rkn.push(total);\n            callback(rkn);\n        });\n    });\n}\n\ngetData(function (data) {\n    msg.payload.pivot = pivot;\n    msg.payload.piv = piv;\n    msg.payload.rset = data;\n    node.send(msg);\n    node.done();\n});\n\n\n// return;","outputs":1,"noerr":0,"x":370,"y":1700,"wires":[["d57f1b36.a404f8","3e768059.f39d6"]]},{"id":"1913b07f.a0163","type":"debug","z":"675c7943.c14b78","name":"debug-reckon","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":1620,"wires":[]},{"id":"24df31cd.a85dae","type":"http in","z":"675c7943.c14b78","name":"","url":"master/ldrend","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1620,"wires":[["6e6113e9.60586c"]]},{"id":"6e6113e9.60586c","type":"function","z":"675c7943.c14b78","name":"qry3-reuse","func":"var hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar getData = function (callback) {\n    var res = {};\n    db.serialize(function () {\n        try {\n            db.all(\"SELECT name, hashid FROM Party;\", function (err, row) {\n                res.party = row;\n            })\n            db.all(\"SELECT name, hashid FROM Agreement;\", function (err, row) {\n                res.agree = row;\n            })\n            db.all(\"SELECT name, hashid FROM Asset;\", function (err, row) {\n                res.asset = row;\n                callback(res);\n            })\n        } catch (err) {\n            callback(res);\n        }\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    msg.ledger = data;\n    console.log(data);\n    node.send(msg, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":370,"y":1620,"wires":[["d57f1b36.a404f8"]]},{"id":"3e768059.f39d6","type":"debug","z":"675c7943.c14b78","name":"debug-reckon-data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":1700,"wires":[]},{"id":"6e9c0260.c49e4c","type":"debug","z":"675c7943.c14b78","name":"debug-reckonend-data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":1780,"wires":[]},{"id":"cc68d1b6.19499","type":"http in","z":"643885a.c2cfe7c","name":"","url":"/master/api/party/","method":"post","upload":true,"swaggerDoc":"","x":150,"y":40,"wires":[["dd49231f.8df72"]]},{"id":"dd49231f.8df72","type":"function","z":"643885a.c2cfe7c","name":"party-input","func":"var m = msg;\nvar pi = msg.payload;\nvar msg1={}, msg2={};\n// {\"partyname\":\"John Mcguire\",\"stdate\":\"1976-03-02\",\"endate\":\"\",\"ptype\":\"Taker\"};\nif (m.req.headers.entry === \"xyz\") {\n    msg1 = m;\n    m = null;\n    var ml = {};\n    ml.zp0name = pi.partyname;\n    ml.zp0stdate = pi.stdate;\n    ml.zp0type = (pi.type).toUpperCase();\n    msg1.payload = ml;\n    return msg1;    \n}\nelse {\n    msg2 = m;\n    msg2.payload = {};\n    return msg2;\n}\n\n","outputs":2,"noerr":0,"x":410,"y":40,"wires":[["3059e573.8a574a","a1af3861.cc1968"],["4f30cb54.e31854","7eb8267b.3e2e68"]]},{"id":"a1af3861.cc1968","type":"http response","z":"643885a.c2cfe7c","name":"","statusCode":"","headers":{},"x":730,"y":320,"wires":[]},{"id":"4f30cb54.e31854","type":"debug","z":"643885a.c2cfe7c","name":"debugger-post","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":40,"wires":[]},{"id":"7eb8267b.3e2e68","type":"link out","z":"643885a.c2cfe7c","name":"link-party","links":["5639b17c.6444f"],"x":455,"y":100,"wires":[]},{"id":"5639b17c.6444f","type":"link in","z":"675c7943.c14b78","name":"party-in","links":["7eb8267b.3e2e68"],"x":35,"y":380,"wires":[["d4475f32.d6a3e"]]},{"id":"3059e573.8a574a","type":"debug","z":"643885a.c2cfe7c","name":"msg header missing debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":80,"wires":[]},{"id":"9773c3fc.e534","type":"http in","z":"643885a.c2cfe7c","name":"","url":"/master/api/asset","method":"post","upload":true,"swaggerDoc":"","x":140,"y":200,"wires":[["808c628.218e1a"]]},{"id":"2ced8ae5.50f6b6","type":"http in","z":"643885a.c2cfe7c","name":"","url":"/master/api/agreement","method":"post","upload":true,"swaggerDoc":"","x":160,"y":260,"wires":[["2d59c6ac.1a55ea"]]},{"id":"76ccd8e2.86cd58","type":"http in","z":"643885a.c2cfe7c","name":"","url":"/master/api/ledger-entry","method":"get","upload":false,"swaggerDoc":"","x":160,"y":320,"wires":[["cd7be6eb.9ed908"]]},{"id":"dfc552c6.0f175","type":"http in","z":"643885a.c2cfe7c","name":"","url":"/master/api/fhir","method":"post","upload":false,"swaggerDoc":"","x":140,"y":380,"wires":[[]]},{"id":"808c628.218e1a","type":"function","z":"643885a.c2cfe7c","name":"asset-input","func":"var m = msg;\nvar pi = msg.payload;\nvar msg1={}, msg2={};\n// {\"name\":\"Devbnj\",\"location\":\"Sparta, New Jersey\",\"metadata\":\"\",\"qty\":\"1\",\"value\":\"100000\",\"atype\":\"Tangible\"};\nif (m.req.headers.entry === \"xyz\") {\n    var ml = {};\n    msg1 = m;\n    m = null;\n    ml.name = pi.name;\n    ml.location = pi.location;\n    var atype = 'TANGIBLE';\n    ml.zp1type = (pi.atype).toUpperCase();\n    ml.atype = (pi.atype).toUpperCase();\n    ml.qty = pi.qty;\n    ml.value = pi.value;\n    ml.metadata = pi.metadata;\n    ml.tag = pi.tag;\n    msg1.payload = ml;\n    return msg1;    \n}\nelse {\n    msg2 = m;\n    msg2.payload = {};\n    return msg2;\n}\n\n","outputs":2,"noerr":0,"x":410,"y":200,"wires":[["d38c95c.9c2aa68"],["a1af3861.cc1968"]]},{"id":"d38c95c.9c2aa68","type":"link out","z":"643885a.c2cfe7c","name":"asset-out","links":["d89df558.74daa8"],"x":455,"y":140,"wires":[]},{"id":"d89df558.74daa8","type":"link in","z":"675c7943.c14b78","name":"asset-in","links":["d38c95c.9c2aa68"],"x":35,"y":460,"wires":[["bbcbf891.4bec68"]]},{"id":"2d59c6ac.1a55ea","type":"function","z":"643885a.c2cfe7c","name":"agreement-input","func":"var m = msg;\nvar mpl = msg.payload;\nvar msg1={}, msg2={};\n// {\"name\":\"Devbnj\",\"sla\":\"Immediate\",\"warranty\":\"Limited\",\"agreed_value\":\"82000\",\"agtype\":\"Binding\",\"p_value\":\"92000\",\"settle\":\"CASH\"};\nif (m.req.headers.entry === \"xyz\") {\n    var ml = {};\n    msg1 = m;\n    m = null;\n\n    ml.name = mpl.name;\n    ml.sla = mpl.sla;\n    ml.zp2type = mpl.agtype.toUpperCase();\n    ml.warranty = mpl.warranty;\n    ml.agreed_value = mpl.agreed_value;\n    ml.p_value = mpl.p_value;\n    ml.settle = mpl.settle.toUpperCase();\n    \n    msg1.payload = ml;\n    return msg1;    \n}\nelse {\n    msg2 = m;\n    msg2.payload = {};\n    return msg2;\n}\n\n","outputs":2,"noerr":0,"x":430,"y":260,"wires":[["beda4806.439e58"],["a1af3861.cc1968"]]},{"id":"beda4806.439e58","type":"link out","z":"643885a.c2cfe7c","name":"agree-out","links":["28010be9.4bbcd4"],"x":655,"y":260,"wires":[]},{"id":"28010be9.4bbcd4","type":"link in","z":"675c7943.c14b78","name":"agree-in","links":["beda4806.439e58"],"x":35,"y":540,"wires":[["ccc10ea0.3eb37"]]},{"id":"cd7be6eb.9ed908","type":"function","z":"643885a.c2cfe7c","name":"ledger-qry3","func":"var m = msg;\n\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\n/*\nif (m.req.headers.entry !== \"xyz\") {\n    msg.payload = {};\n    return msg;\n}    \n*/\n\nvar getData = function (callback) {\n    var res = {};\n    // var party;\n    // var asset;\n    // var agree;\n    db.serialize(function () {\n        try {\n            db.all(\"SELECT name, hashid FROM Party;\", function (err, row) {\n                res.party = row;\n            })\n            db.all(\"SELECT name, hashid FROM Agreement;\", function (err, row) {\n                res.agree = row;\n            })\n            db.all(\"SELECT name, hashid FROM Asset;\", function (err, row) {\n                res.asset = row;\n                //res.party = party;\n                //res.agree = agree;\n                //res.asset = asset;\n                callback(res);\n            })\n        } catch (err) {\n            callback(res);\n        }\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    msg.payload = data;\n    // console.log(data);\n    node.send(msg, false);\n    node.done();\n});\n\n","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["a1af3861.cc1968"]]},{"id":"ba7b67bb.d9daf8","type":"inject","z":"643885a.c2cfe7c","name":"template-insurance","props":[{"p":"payload","v":"{\"co\":{\"name\":\"chainbelow\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Policy\",\"zp2\":\"Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Agent\",\"orig\":\"Giver\"},{\"name\":\"Insurance\",\"orig\":\"Taker\"},{\"name\":\"Customer\",\"orig\":\"Witness\"},{\"name\":\"Underwriter\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Reinsurance\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"},{\"name\":\"Loyalty\",\"orig\":\"Loyalty\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\":[{\"name\":\"Cash\",\"orig\":\"Cash\"},{\"name\":\"Credit\",\"orig\":\"Credit\"},{\"name\":\"Invoice\",\"orig\":\"Points\"},{\"name\":\"Foreign Curr\",\"orig\":\"Foreign Curr\"},{\"name\":\"Barter\",\"orig\":\"Barter\"},{\"name\":\"Exchange\",\"orig\":\"Exchange\"}],\"zp3\":{\"giver\":\"agent/cust\",\"taker\":\"insurance\",\"asset\":\"asset\",\"agreement\":\"agreement\"}}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"co\":{\"name\":\"chainbelow\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Policy\",\"zp2\":\"Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Agent\",\"orig\":\"Giver\"},{\"name\":\"Insurance\",\"orig\":\"Taker\"},{\"name\":\"Customer\",\"orig\":\"Witness\"},{\"name\":\"Underwriter\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Reinsurance\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"},{\"name\":\"Loyalty\",\"orig\":\"Loyalty\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\":[{\"name\":\"Cash\",\"orig\":\"Cash\"},{\"name\":\"Credit\",\"orig\":\"Credit\"},{\"name\":\"Invoice\",\"orig\":\"Points\"},{\"name\":\"Foreign Curr\",\"orig\":\"Foreign Curr\"},{\"name\":\"Barter\",\"orig\":\"Barter\"},{\"name\":\"Exchange\",\"orig\":\"Exchange\"}],\"zp3\":{\"giver\":\"agent/cust\",\"taker\":\"insurance\",\"asset\":\"asset\",\"agreement\":\"agreement\"}}","payloadType":"json","x":130,"y":460,"wires":[["bf657a4c.8f2ce8"]]},{"id":"36b07c97.92a274","type":"link in","z":"675c7943.c14b78","name":"templates-in","links":["bf657a4c.8f2ce8"],"x":55,"y":40,"wires":[["612ce764.8b6598"]]},{"id":"1303732e.7c8dad","type":"inject","z":"643885a.c2cfe7c","name":"template-default","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"co\":{\"name\":\"chainbelow\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Asset\",\"zp2\":\"Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Giver\",\"orig\":\"Giver\"},{\"name\":\"Taker\",\"orig\":\"Taker\"},{\"name\":\"Witness\",\"orig\":\"Witness\"},{\"name\":\"Third-Party\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Referee\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"},{\"name\":\"Loyalty\",\"orig\":\"Loyalty\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\":[{\"name\":\"Cash\",\"orig\":\"Cash\"},{\"name\":\"Credit\",\"orig\":\"Credit\"},{\"name\":\"Points\",\"orig\":\"Points\"},{\"name\":\"Foreign Curr\",\"orig\":\"Foreign Curr\"},{\"name\":\"Barter\",\"orig\":\"Barter\"},{\"name\":\"Exchange\",\"orig\":\"Exchange\"}],\"zp3\":{\"giver\":\"giver\",\"taker\":\"taker\",\"asset\":\"asset\",\"agreement\":\"agreement\"}}","payloadType":"json","x":120,"y":500,"wires":[["bf657a4c.8f2ce8"]]},{"id":"add9ec0b.b7139","type":"inject","z":"643885a.c2cfe7c","name":"template-lease","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"co\":{\"name\":\"alontrus\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"People\",\"zp1\":\"Property\",\"zp2\":\"Lease/Rent\",\"zp3\":\"Transaction\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"red\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Lessee\",\"orig\":\"Giver\"},{\"name\":\"Lessor\",\"orig\":\"Taker\"},{\"name\":\"Notary\",\"orig\":\"Witness\"},{\"name\":\"Third-Party\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Arbitrator\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Building\",\"orig\":\"Tangible\"},{\"name\":\"Media\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intel-property\",\"orig\":\"Intangible\"}],\"zp2type\":[{\"name\":\"30-days\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\":[{\"name\":\"Cash\",\"orig\":\"Cash\"},{\"name\":\"Credit\",\"orig\":\"Credit\"},{\"name\":\"Points\",\"orig\":\"Points\"},{\"name\":\"Foreign Curr\",\"orig\":\"Foreign Curr\"},{\"name\":\"Barter\",\"orig\":\"Barter\"},{\"name\":\"Exchange\",\"orig\":\"Exchange\"}],\"zp3\":{\"giver\":\"lessee\",\"taker\":\"lessor\",\"asset\":\"property\",\"agreement\":\"agreement\"}}","payloadType":"json","x":120,"y":540,"wires":[["bf657a4c.8f2ce8"]]},{"id":"7b93db8b.16a3f4","type":"inject","z":"643885a.c2cfe7c","name":"template-lend","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"co\":{\"name\":\"alontrus\",\"logo\":\"https://example.com/img/logo.img\"},\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Asset\",\"zp2\":\"Lend-Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"green\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Lender\",\"orig\":\"Giver\"},{\"name\":\"Borrower\",\"orig\":\"Taker\"},{\"name\":\"Witness\",\"orig\":\"Witness\"},{\"name\":\"Third-Party\",\"orig\":\"Third-Party\"},{\"name\":\"Attorney\",\"orig\":\"Attorney\"},{\"name\":\"Referee\",\"orig\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\",\"orig\":\"Tangible\"},{\"name\":\"Virtual\",\"orig\":\"Virtual\"},{\"name\":\"Digital\",\"orig\":\"Digital\"},{\"name\":\"Intangible\",\"orig\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\",\"orig\":\"Binding\"},{\"name\":\"Non Binding\",\"orig\":\"Non Binding\"},{\"name\":\"Traceable\",\"orig\":\"Traceable\"},{\"name\":\"Policy\",\"orig\":\"Policy\"}],\"zp2settle\":[{\"name\":\"Cash\",\"orig\":\"Cash\"},{\"name\":\"Credit\",\"orig\":\"Credit\"},{\"name\":\"Points\",\"orig\":\"Points\"},{\"name\":\"Foreign Curr\",\"orig\":\"Foreign Curr\"},{\"name\":\"Barter\",\"orig\":\"Barter\"},{\"name\":\"Exchange\",\"orig\":\"Exchange\"}],\"zp3\":{\"giver\":\"lender\",\"taker\":\"borrower\",\"asset\":\"property\",\"agreement\":\"agreement\"}}","payloadType":"json","x":110,"y":580,"wires":[["bf657a4c.8f2ce8"]]},{"id":"bf657a4c.8f2ce8","type":"link out","z":"643885a.c2cfe7c","name":"templates-out","links":["36b07c97.92a274"],"x":380,"y":520,"wires":[]},{"id":"9bf798f3.a7c5e8","type":"comment","z":"675c7943.c14b78","name":"configuration section","info":"","x":130,"y":1020,"wires":[]}]