docker/worker/.flows_worker.json.backup
[{"id":"5f660750.ff4b78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f3cf06d.83712","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"93c96974.769e18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f4d4cedd.f6327","type":"tab","label":"Flow Prod Worker","disabled":false,"info":""},{"id":"541c4bf2.265634","type":"dblite-redisConfig","z":"","name":"master-redis","options":"47.254.67.33","cluster":false,"optionsType":"str"},{"id":"3701d7e9.29d168","type":"dblite-redisConfig","z":"","name":"master-redis","options":"47.254.67.33","cluster":false,"optionsType":"str"},{"id":"20d5f788.cb8598","type":"dblite-redisConfig","z":"","name":"master-redis","options":"47.254.67.33","cluster":false,"optionsType":"str"},{"id":"21ee0afd.a98e56","type":"dblite-redisConfig","z":"","name":"remote","options":"{\"port\":6379,\"host\":\"47.254.67.33\",\"password\":\"Sanskr1t1ngT0Englize\"}","cluster":false,"optionsType":"json"},{"id":"d052b556.86e658","type":"ui_group","z":"","name":"Report","tab":"4407636c.3340ec","order":1,"disp":true,"width":"15","collapse":false},{"id":"4407636c.3340ec","type":"ui_tab","z":"","name":"From Master","icon":"device_hub","order":4,"disabled":false,"hidden":false},{"id":"fdc050a2.d5ce5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8e691577.130818","type":"ui_group","z":"","name":"Charts","tab":"4407636c.3340ec","order":2,"disp":true,"width":"6","collapse":false},{"id":"bb048200.84494","type":"http in","z":"5f660750.ff4b78","name":"","url":"/master-hold","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["5b9d8173.3e00f"]]},{"id":"ea66a7cb.d7d908","type":"template","z":"5f660750.ff4b78","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<title>dataknox master</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lato\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Montserrat\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Lato\", sans-serif}\n.w3-bar,h1,button {font-family: \"Montserrat\", sans-serif}\n.fa-address-card-o,.fa-bank,.fa-legal,.fa-file {font-size:200px}\n</style>\n<body>\n\n<!-- Navbar -->\n{{#payload}}\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-{{#dell}}{{clr}}{{/dell}} w3-card w3-left-align w3-large\">\n    {{#skel}}\n    <a class=\"w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-{{#dell}}{{clr}}{{/dell}}\" href=\"javascript:void(0);\" onclick=\"myFunction()\" title=\"Toggle Navigation Menu\"><i class=\"fa fa-bars\"></i></a>\n    <a href=\"#\" class=\"w3-bar-item w3-button w3-padding-large w3-white\">Home</a>\n    <a href=\"#{{zp0}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp0}}</a>\n    <a href=\"#{{zp1}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp1}}</a>\n    <a href=\"#{{zp2}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp2}}</a>\n    <a href=\"#{{zp3}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp3}}</a>\n    <a href=\"#{{zp4}}\" class=\"w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white\">{{zp4}}</a>\n  </div>\n\n  <!-- Navbar on small screens -->\n  <div id=\"navDemo\" class=\"w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large\">\n    <a href=\"#{{zp0}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp0}}</a>\n    <a href=\"#{{zp1}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp1}}</a>\n    <a href=\"#{{zp2}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp2}}</a>\n    <a href=\"#{{zp3}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp3}}</a>\n    <a href=\"#{{zp4}}\" class=\"w3-bar-item w3-button w3-padding-large\">{{zp4}}</a>\n  </div>\n  {{/skel}}\n</div>\n\n<!-- Header -->\n<header class=\"w3-container w3-{{#dell}}{{clr}}{{/dell}} w3-center\" style=\"padding:64px 16px\">\n  <h1 class=\"w3-margin w3-jumbo\">dataknox</h1>\n  <p class=\"w3-xlarge\">provenance * append only * high performance * encrypted * immutable</p>\n  <button class=\"w3-button w3-black w3-padding-large w3-large w3-margin-top\" onclick=\"document.getElementById('getstart').style.display='block'\" style=\"font-weight:900;\">Get Started</button>\n</header>\n\n<!-- Modal -->\n<div id=\"getstart\" class=\"w3-modal\">\n    <div class=\"w3-modal-content w3-card-4 w3-animate-top\">\n      <header class=\"w3-container w3-theme-l1\"> \n        <span onclick=\"document.getElementById('getstart').style.display='none'\"\n        class=\"w3-button w3-display-topright\">×</span>\n        <h4>Getting Started</h4>\n        <h5>Setup will create new database files (both) in master \n          and worker nodes and setup a new database with tables. \n          Give it about 5 secs to complete <i class=\"fa fa-refresh\"></i></h5>\n      </header>\n      <div class=\"w3-padding\">\n        <p>Are you sure, you want to initialize the network?</p>\n        <p><a class=\"w3-btn w3-hover-purple\" href=\"setupstart\">GO</a></p>\n      </div>\n      <footer class=\"w3-container w3-theme-l1\">\n        <p>Chainbelow Dataknox Engine</p>\n      </footer>\n    </div>\n</div>\n{{#dell}}\n<div class=\"w3-container w3-padding 64\">\n    <h2 class=\"w3-center\">This server's ip {{ip}}, running at {{loc}}, geo {{geo}}, timezone {{tz}}</h2>\n</div>\n{{/dell}}\n\n<!-- First Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-padding-64 w3-container\" id=\"{{zp0}}\">\n  <div class=\"w3-content\">\n    <div class=\"w3-twothird\">\n      <h1>{{zp0}}</h1>\n      <h5 class=\"w3-padding-32\">{{zp0}} represents the 'person' aspect of the {{zp3}}. \n          {{zp0}} is the human role in the transaction. The {{zp0}} \n          repository maintains the parties involved whose identities are carefully hashed.</h5>\n      <form class=\"w3-container w3-card-4\" id=\"formzp0\" name=\"formzp0\" action=\"zp0start\" method=\"POST\">\n        <label class=\"w3-text-black\">Name</label>\n        <input class=\"w3-input w3-border\" type=\"text\" name=\"zp0name\" id=\"zp0name\" required>\n         \n        <label class=\"w3-text-blue\">Start date</label>\n        <input class=\"w3-input w3-border\" type=\"date\" name=\"zp0stdate\" id=\"zp0stdate\" required>\n\n        <label class=\"w3-text-blue\">End date</label>\n        <input class=\"w3-input w3-border\" type=\"date\" name=\"zp0endate\" id=\"zp0endate\">\n\n        <label class=\"w3-text-blue\">Classification</label>\n        <p><select class=\"w3-select\" name=\"zp0type\" id=\"zp0type\" required>\n            <option value=\"\" disabled selected>Choose {{zp0}} type</option>\n            {{/skel}}\n            {{#zp0type}}\n            <option value=\"{{name}}\">{{name}}</option>\n            {{/zp0type}}\n        </select></p>\n        <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp0btn\">Register</button>\n         \n        </form>\n    </div>\n\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-address-card-o w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}}\"></i>\n    </div>\n  </div>\n</div>\n\n<!-- Second Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp1}}\">\n{{/skel}}\n  <div class=\"w3-content\">\n    <div class=\"w3-third w3-center\">\n      <i class=\"fa fa-bank w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n    </div>\n\n    {{#skel}}\n    <div class=\"w3-twothird\">\n      <h1>{{zp1}}</h1>\n      <h5 class=\"w3-padding-32\">{{zp1}}s are exchanged between parties for money or other {{zp1}}s. \n          {{zp1}}s could be tangible or intangible. {{zp1}}s have a perceived monetary value.</h5>\n\n      <form class=\"w3-container w3-card-4\" id=\"formzp1\" name=\"formzp1\" action=\"zp1start\" method=\"POST\">\n            <label class=\"w3-text-black\">Name</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"name\" id=\"name\" required>\n            <label class=\"w3-text-blue\">Location</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"location\" id=\"location\" required>\n            <label class=\"w3-text-blue\">Metadata</label>\n            <input class=\"w3-input w3-border\" type=\"text\" name=\"metadata\" id=\"metadata\">\n            <label class=\"w3-text-blue\">Quantity</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"qty\" id=\"qty\" required>\n            <label class=\"w3-text-blue\">Value</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"value\" id=\"value\" required>\n            <label class=\"w3-text-blue\">Tag</label>\n            <input class=\"w3-input w3-border\" type=\"number\" name=\"tag\" id=\"tag\">\n            <p><select class=\"w3-select\" name=\"zp1type\" id=\"zp1type\" required>\n                <option value=\"\" disabled selected>Choose {{zp1}} type</option>\n                {{/skel}}\n                {{#zp1type}}\n                <option value=\"{{name}}\">{{name}}</option>\n                {{/zp1type}}\n            </select></p>\n            <p>&nbsp;</p>\n          <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp1btn\">Register</button>\n        </form>\n\n    </div>\n  </div>\n</div>\n\n<!-- Third Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-padding-64 w3-container\" id=\"{{zp2}}\">\n        <div class=\"w3-content\">\n          <div class=\"w3-twothird\">\n            <h1>{{zp2}}</h1>\n            <h5 class=\"w3-padding-32\">{{zp2}} represents the contract between \n                {{zp0}}(s) involved, negotiated value of the {{zp1}}, terms and conditions, policies and warranty.</h5>\n      \n            <form class=\"w3-container w3-card-4\" id=\"formzp2\" name=\"formzp2\" action=\"zp2start\" method=\"POST\">\n              <label class=\"w3-text-black\">Name</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"name\" id=\"name\" required>\n               \n              <label class=\"w3-text-blue\">SLA</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"sla\" id=\"sla\">\n      \n              <label class=\"w3-text-blue\">Warranty</label>\n              <input class=\"w3-input w3-border\" type=\"text\" name=\"warranty\" id=\"warranty\">\n      \n              <label class=\"w3-text-blue\">Agreed Value</label>\n              <input class=\"w3-input w3-border\" type=\"number\" name=\"agreed_value\" id=\"agreed_value\" required>\n\n              <p><select class=\"w3-select\" name=\"zp2type\" id=\"zp2type\" required>\n                  <option value=\"\" disabled selected>Choose {{zp2}} type</option>\n                  {{/skel}}\n                  {{#zp2type}}\n                  <option value=\"{{name}}\">{{name}}</option>\n                  {{/zp2type}}\n              </select></p>\n\n              <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"zp2btn\">Register</button>\n            </form>\n          </div>\n      \n          <div class=\"w3-third w3-center\">\n            <i class=\"fa fa-legal w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}}\"></i>\n          </div>\n        </div>\n</div>\n\n<!-- Fourth Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp3}}\">\n{{/skel}}  \n        <div class=\"w3-content\">\n          <div class=\"w3-third w3-center\">\n            <i class=\"fa fa-file w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n          </div>\n          {{#skel}}\n          <div class=\"w3-twothird\">\n            <h1>{{zp3}}</h1>\n            <h5 class=\"w3-padding-32\">{{zp3}}(s) are transactions between parties on {{zp1}}(s) based on {{zp2}}. \n                {{zp3}}(s) are append only. {{zp3}}(s) maintain the hash keys of the parties, \n                {{zp1}}(s) and {{zp2}}(s) involved. </h5>\n            {{/skel}}\n            <form class=\"w3-container w3-card-4\" id=\"formzp3\" name=\"formzp3\" action=\"zp3start\" method=\"POST\">\n                <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"jbutton\">Load</button>\n            </form>\n      \n          </div>\n        </div>\n</div>\n\n<!-- Fifth Grid -->\n{{#skel}}\n<div class=\"w3-row-padding w3-light-grey w3-padding-64 w3-container\" id=\"{{zp4}}\">\n  {{/skel}}\n    <div class=\"w3-content\">\n      <div class=\"w3-third w3-center\">\n        <i class=\"fa fa-bank w3-padding-64 w3-text-{{#dell}}{{clr}}{{/dell}} w3-margin-right\"></i>\n      </div>\n      {{#skel}}\n      <div class=\"w3-twothird\">\n        <h1>{{zp4}}</h1>\n        <h5 class=\"w3-padding-32\">Ledger analytics.</h5>\n        {{/skel}}\n        <form class=\"w3-container w3-card-4\" id=\"formanal\" name=\"formanal\" action=\"analstart\" method=\"POST\">\n          <button class=\"w3-btn w3-xtra-large w3-{{#dell}}{{clr}}{{/dell}}\" id=\"fetchbtn\">Fetch Data</button>\n        </form>\n        <p>&nbsp;</p>\n        <div id=\"chart_div\" style=\"width: 400px; height: 240px;\"></div>  \n      </div>\n    </div>\n</div>\n{{/payload}}\n  \n<div class=\"w3-container w3-black w3-center w3-opacity w3-padding-64\">\n    <h1 class=\"w3-margin w3-xlarge\">Copyright 2019, Chainbelow Inc. All Rights Reserved.</h1>\n    <h4>Chainbelow is a not for profit organization.</h4>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-64 w3-center w3-opacity\">  \n  <div class=\"w3-xlarge w3-padding-32\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n </div>\n</footer>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n\n<script>\n// Used to toggle the menu on small screens when clicking on the menu button\nfunction myFunction() {\n  var x = document.getElementById(\"navDemo\");\n  if (x.className.indexOf(\"w3-show\") == -1) {\n    x.className += \" w3-show\";\n  } else { \n    x.className = x.className.replace(\" w3-show\", \"\");\n  }\n}\n\n// document on load\n$(document).ready( () => {\n});\n</script>\n\n</body>\n</html>\n","output":"str","x":600,"y":60,"wires":[["c0e27ddb.b13e3"]]},{"id":"c0e27ddb.b13e3","type":"http response","z":"5f660750.ff4b78","name":"","statusCode":"","headers":{},"x":690,"y":280,"wires":[]},{"id":"286eaf3e.abc6c","type":"http in","z":"5f660750.ff4b78","name":"","url":"partystart","method":"post","upload":false,"swaggerDoc":"","x":100,"y":260,"wires":[["c0e27ddb.b13e3","22199645.ba9f1a"]]},{"id":"22199645.ba9f1a","type":"debug","z":"5f660750.ff4b78","name":"debug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":320,"wires":[]},{"id":"5306bf6d.249bc","type":"http in","z":"5f660750.ff4b78","name":"","url":"assetstart","method":"post","upload":false,"swaggerDoc":"","x":100,"y":300,"wires":[["c0e27ddb.b13e3","22199645.ba9f1a"]]},{"id":"b1c2493f.08de88","type":"http in","z":"5f660750.ff4b78","name":"","url":"agreestart","method":"post","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["c0e27ddb.b13e3","22199645.ba9f1a"]]},{"id":"9683dbc0.3f51a8","type":"http in","z":"5f660750.ff4b78","name":"","url":"journalstart","method":"post","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["c0e27ddb.b13e3","22199645.ba9f1a"]]},{"id":"27822d7e.4714f2","type":"http request","z":"5f660750.ff4b78","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.geoplugin.net/json.gp?ip=47.90.204.172","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":380,"wires":[[]]},{"id":"386a6f11.7e1c3","type":"function","z":"5f660750.ff4b78","name":"","func":"var ip = location.host;\nmsg.payload = ip;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["3ff2bb9b.ca4a84"]]},{"id":"f1f359ed.0884e8","type":"inject","z":"5f660750.ff4b78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["386a6f11.7e1c3"]]},{"id":"3ff2bb9b.ca4a84","type":"debug","z":"5f660750.ff4b78","name":"debug2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":420,"wires":[]},{"id":"44e254a9.07717c","type":"debug","z":"4f3cf06d.83712","name":"debug3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":140,"wires":[]},{"id":"7d4ad89d.d05f48","type":"function","z":"4f3cf06d.83712","name":"enc","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dlencrypt(pld);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[[]]},{"id":"b6889f79.e17b8","type":"comment","z":"4f3cf06d.83712","name":"Config: 3 masters 3 workers | 2 Masters (Virginia), 1 Master (SFO)","info":"","x":280,"y":60,"wires":[]},{"id":"a73decda.585ff","type":"comment","z":"4f3cf06d.83712","name":"Master 1 (Virginia)","info":"","x":130,"y":100,"wires":[]},{"id":"64d15eeb.637a1","type":"function","z":"4f3cf06d.83712","name":"party-maker","func":"var ml = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar partyInput = {};\nvar columnPassword = \"helloworld\";\npartyInput.name = ml.name;\npartyInput.bday = ml.stdate;\nvar ptype = 'GIVER';\nif (ml.taker) ptype = 'TAKER'; \nelse if (ml.attorney) ptype = 'ATTORNEY';\nelse if (ml.thirdparty) ptype = 'THIRDPARTY';\nelse if (ml.referee) ptype = 'REFEREE'\npartyInput.ptype = ptype;\npartyInput.pw = partyInput.name.replace(/\\s+/g,'') + \n    partyInput.bday + columnPassword;\nlet hsns = hs.hashNSalt(partyInput.pw);\n\nasync function putData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"Insert into party (name, hashid, salt, ptype) values \"+\n            \"(?,?,?,?)\", partyInput.name, hsns.passwordHash, hsns.salt, partyInput.ptype);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\nputData().then (function(data) {\n    // console.log(data);\n    // msg.payload = data;\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":90,"y":320,"wires":[[]]},{"id":"ea1aa454.02d468","type":"function","z":"4f3cf06d.83712","name":"asset-maker","func":"let mpl = msg.payload;\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nlet assetInput = {};\nassetInput.name = mpl.name;\nassetInput.location = mpl.location;\nvar atype = 'TANGIBLE';\nif (mpl.virtual) atype = 'VIRTUAL';\nif (mpl.digital) atype = 'DIGITAL';\nif (mpl.intangible) atype = 'INTANGIBLE';\nassetInput.atype = atype;\nassetInput.qty = mpl.qty;\nassetInput.value = mpl.value;\nassetInput.metadata = mpl.metadata;\nassetInput.tag = mpl.tag;\nvar columnPassword = \"helloworld\";\nassetInput.pwd = assetInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(assetInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO ASSET('HASHID','SALT','NAME','LOCATION','METADATA','ATYPE','QUANTITY','ASSET_VALUE','ASSETTAG')\"+\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, assetInput.name, assetInput.location, \n            assetInput.metadata, assetInput.atype, assetInput.qty, assetInput.value, assetInput.tag);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    // msg.payload = data;\n    node.log(data);\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[[]]},{"id":"ec7902c5.79054","type":"function","z":"4f3cf06d.83712","name":"agree-maker","func":"let mpl = msg.payload;\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nlet agInput = {};\nagInput.name = mpl.name;\nagInput.sla = mpl.sla;\nvar atype = 'BINDING';\nif (mpl.nonbinding) atype = 'NONBINDING';\nif (mpl.traceable) atype = 'TRACEABLE';\nif (mpl.policy) atype = 'POLICY';\nagInput.atype = atype;\nagInput.warranty = mpl.warranty;\nagInput.value = mpl.value;\nvar columnPassword = \"helloworld\";\nagInput.pwd = agInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(agInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO AGREEMENT('HASHID','SALT','NAME','SLA','ATYPE','WARRANTY','AGREED_VALUE')\"+\n            \" VALUES (?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, agInput.name, agInput.sla, \n            agInput.atype, agInput.warranty, agInput.value);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":320,"wires":[[]]},{"id":"3afb2a79.f62496","type":"debug","z":"4f3cf06d.83712","name":"debug-ddl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":260,"wires":[]},{"id":"92a86a88.c1aa88","type":"function","z":"4f3cf06d.83712","name":"ledger ddl","func":"var dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\ndb.serialize(function() {\n    try {\n        var sqlddl = \"CREATE TABLE IF NOT EXISTS PARTY(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, PTYPE TEXT CHECK (PTYPE IN ('GIVER','TAKER','WITNESS','ATTORNEY','THIRDPARTY','REFEREE')), STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, ENDDATE DATETIME); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS ASSET(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, LOCATION TEXT NOT NULL, METADATA TEXT NOT NULL, ATYPE TEXT CHECK (ATYPE IN ('TANGIBLE','VIRTUAL','DIGITAL','INTANGIBLE')), ASSETTAG TEXT, QUANTITY REAL NOT NULL, ASSET_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME, BOMPORTFOLIO TEXT ); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS AGREEMENT(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, SLA TEXT, WARRANTY TEXT, ATYPE TEXT CHECK (ATYPE IN ('BINDING','NONBINDING','TRACEABLE','POLICY')), AGREED_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS LEDGER(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, GIVER TEXT, TAKER TEXT, ASSET TEXT, AGREEMENT TEXT, TRAN_AMT REAL, TRAN_QNTY REAL, JOURNAL_TYPE TEXT CHECK (JOURNAL_TYPE IN ('JOURNAL', 'VOUCHER', 'IOU', 'REDEMPTION', 'LEASE')), TRAN_TYPE TEXT CHECK (TRAN_TYPE IN ('REWARD', 'AQUISITION', 'LEND', 'BORROW', 'WIN', 'MERGE', 'VIEW', 'VOTE')), LD_DATE DATETIME DEFAULT CURRENT_TIMESTAMP); \"; \n        db.run(sqlddl);\n    } catch (err) {\n        db.close();\n        return msg;\n    }\n});\n\ndb.close();\nmsg.payload = \"done\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["3afb2a79.f62496"]]},{"id":"b9244023.35857","type":"inject","z":"4f3cf06d.83712","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["31758d1f.fb1a92"]]},{"id":"7c7da59.900255c","type":"function","z":"4f3cf06d.83712","name":"getData","func":"var x = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar getData = function (callback) {\n    db.serialize(function () {\n        var cntasset = 0;\n        var cntlgr = 0;\n        var cntag = 0;\n        var cntparty = 0;\n        var budget = 0;\n        var actual = 0;\n        var agreed = 0;\n        try {\n        db.all(\"SELECT count(asset_value) as c, sum(asset_value) as v FROM asset\", function (err, row1) {\n            cntasset = row1[0].c;\n            budget = row1[0].v;\n            console.log(row1);\n        });\n        db.all(\"SELECT count(agreed_value) as c2, sum(agreed_value) as v2 FROM agreement\", function (err, row3) {\n            cntag = row3[0].c2;\n            agreed = row3[0].v2;\n            console.log(row3);\n        });\n        db.all(\"SELECT count(name) as c3 FROM party\", function (err, row4) {\n            cntparty = row4[0].c3;\n            console.log(row4);\n        });\n        db.all(\"SELECT count(tran_amt) as c1, sum(tran_amt) as v1 FROM ledger\", function (err, row2) {\n            cntlgr = row2[0].c1;\n            actual = row2[0].v1;\n            console.log(row2);\n            callback({'budget': budget, 'actual': actual, 'agreed': agreed, \"cparty\": cntparty,\n                \"casset\": cntasset, \"cagree\": cntag, \"cledger\": cntlgr\n            })\n        });\n        } catch (err) {\n            db.close();\n            return msg;\n        }\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    var percent1 = (Number(data.actual) / Number(data.budget) *10);\n    var percent2 = (Number(data.actual) / Number(data.agreed) *10);\n    console.log(data);\n    var msg1 = {};\n    msg1.value1 = percent1;\n    msg1.value2 = percent2;\n    msg1.payload = {'Parties': data.cparty, 'Assets': data.casset, 'Agreements': data.cagree,\n    'Journals': data.cledger};\n    node.send(msg1, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":560,"y":320,"wires":[[]]},{"id":"31758d1f.fb1a92","type":"file","z":"4f3cf06d.83712","name":"cleanup","filename":"/home/devb/sqlite/sqlite-sync/data/lgr.db","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":280,"y":200,"wires":[["31b8140e.e2f81c"]]},{"id":"31b8140e.e2f81c","type":"delay","z":"4f3cf06d.83712","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":200,"wires":[["92a86a88.c1aa88"]]},{"id":"be840c0a.d11d9","type":"inject","z":"4f3cf06d.83712","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["fdcdcd92.66cfe"]]},{"id":"fdcdcd92.66cfe","type":"file","z":"4f3cf06d.83712","name":"","filename":"/home/devb/sqlite/sqlite-sync/data/lgr.db","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":380,"y":380,"wires":[["f1624764.65ec78"]]},{"id":"f1624764.65ec78","type":"debug","z":"4f3cf06d.83712","name":"debug7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":380,"wires":[]},{"id":"64d78d93.235584","type":"debug","z":"4f3cf06d.83712","name":"debug001","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":640,"wires":[]},{"id":"2642b43d.a31b4c","type":"debug","z":"4f3cf06d.83712","name":"debug002","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":440,"wires":[]},{"id":"aead563c.143778","type":"debug","z":"4f3cf06d.83712","name":"debug003","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":480,"wires":[]},{"id":"1b898249.9b0a7e","type":"function","z":"4f3cf06d.83712","name":"qry3","func":"var x = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar getData = function (callback) {\n    var res = [];\n    var party;\n    var asset;\n    var agree;\n    db.serialize(function () {\n        try {\n            db.all(\"SELECT name, hashid FROM Party;\", function (err, row) {\n                party = row;\n            })\n            db.all(\"SELECT name, hashid FROM Agreement;\", function (err, row) {\n                agree = row;\n            })\n            db.all(\"SELECT name, hashid FROM Asset;\", function (err, row) {\n                asset = row;\n            })\n            db.all(\"PRAGMA table_info(Asset);\", function (err, row) {\n                res.party = party;\n                res.agree = agree;\n                res.asset = asset;\n                callback(res);\n            })\n        } catch (err) {\n            callback({});\n        }\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    console.log(data);\n    var msg1 = {};\n    msg1.party = data.party;\n    msg1.asset = data.asset;\n    msg1.agree = data.agree;\n    node.send(msg1, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":90,"y":500,"wires":[["2642b43d.a31b4c","2e477f37.999c2"]]},{"id":"2e477f37.999c2","type":"function","z":"4f3cf06d.83712","name":"transpose","func":"'use strict;'\n\nif (msg.party === \"undefined\") return;\npt = msg.party;\nas = msg.asset;\nag = msg.agree;\n\nvar optpt = [], optas = [], optag = [];\n\nfor (var i=0; i<pt.length; i++) {\n    var xptn = \"{\\\"\"+pt[i].NAME+\"\\\": \\\"\"+pt[i].HASHID+\"\\\"}\";\n    var obj = JSON.parse(xptn);\n    optpt.push(obj); \n}\n// console.log(optpt);\n\nfor (i=0; i<as.length; i++) {\n    xptn = \"{\\\"\"+as[i].NAME+\"\\\": \\\"\"+as[i].HASHID+\"\\\"}\";\n    obj = JSON.parse(xptn);\n    optas.push(obj); \n}\n\nfor (i=0; i<ag.length; i++) {\n    xptn = \"{\\\"\"+ag[i].NAME+\"\\\": \\\"\"+ag[i].HASHID+\"\\\"}\";\n    obj = JSON.parse(xptn);\n    optag.push(obj); \n}\n\nvar msg1 = {\"options\": optpt};\nvar msg2 = {\"options\": optpt};\nvar msg3 = {\"options\": optas};\nvar msg4 = {\"options\": optag};\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"x":280,"y":540,"wires":[["aead563c.143778"],[],[],[]]},{"id":"b64b1707.559608","type":"join","z":"4f3cf06d.83712","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":560,"wires":[["8b503da2.7ec05"]]},{"id":"e84812e.02c5df","type":"function","z":"4f3cf06d.83712","name":"complete","func":"msg.complete = true;\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":600,"wires":[["b64b1707.559608"]]},{"id":"97869c5e.fb258","type":"function","z":"4f3cf06d.83712","name":"enabler","func":"msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":80,"y":460,"wires":[["1b898249.9b0a7e"]]},{"id":"cdd384a9.d5d768","type":"function","z":"4f3cf06d.83712","name":"disabler","func":"msg.enabled = false\nreturn msg;","outputs":1,"noerr":0,"x":80,"y":420,"wires":[[]]},{"id":"8b503da2.7ec05","type":"function","z":"4f3cf06d.83712","name":"write-ledger","func":"var inmsg = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar columnPassword = \"helloworld\";\nlet hsns = hs.hashNSalt(columnPassword);\n\nvar giver=\"\", taker=\"\", asset=\"\", agree=\"\", qty = 0, value = 0;\nvar putData = function (callback) {\n    db.serialize(function () {\n        for (var i=0; i<inmsg.length; i++) {\n            var row = inmsg[i];\n            if (row.topic == \"giver\") giver = row.payload;\n            if (row.topic == \"taker\") taker = row.payload;\n            if (row.topic == \"dasset\") asset = row.payload;\n            if (row.topic == \"agree\") agree = row.payload;\n            if (row.topic == \"qty\") qty = row.payload;\n            if (row.topic == \"value\") value = row.payload;\n        }\n        var sqls = \"INSERT INTO LEDGER (hashid, salt, giver, taker, asset, agreement, tran_qnty, tran_amt, journal_type, tran_type) \"+\n            \" VALUES (?,?,?,?,?,?,?,?,?,?)\"\n        db.run(sqls, hsns.passwordHash, hsns.salt,\n            giver, taker, asset, agree, qty, value, \"JOURNAL\", \"AQUISITION\");\n        var xobj = {};\n        xobj.pw = hsns.passwordHash;\n        xobj.salt =  hsns.salt;\n        xobj.giver = giver;\n        xobj.taker = taker;\n        xobj.asset = asset;\n        xobj.agree = agree;\n        xobj.qty = qty;\n        xobj.value = value;\n        xobj.jtype = \"JOURNAL\";\n        xobj.ttype = \"AQUISITION\";\n        callback (xobj);\n    });\n}\n\nputData(function(data) {\n    db.close();\n    var msg1 = {};\n    msg1.payload = data;\n    msg1.topic = \"dkledger\";\n    node.send(msg1);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[["64d78d93.235584"]]},{"id":"27f55ac3.c58bf6","type":"function","z":"4f3cf06d.83712","name":"force sync dumper","func":"'use strict;'\n\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\nvar doDump = function (callback) {\n    db.serialize(function() {\n        try {\n            var party, asset, agree, ledger = {};\n            var sql = \"SELECT * FROM party;\";\n            db.all(sql, function(err, result) {\n                party = result;\n            });\n            sql = \"SELECT * FROM asset;\";\n            db.all(sql, function(err, result) {\n                asset = result;\n            });\n            sql = \"SELECT * FROM agreement;\";\n            db.all(sql, function(err, result) {\n                agree = result;\n            });\n            sql = \"SELECT * FROM ledger;\";\n            db.all(sql, function(err, result) {\n                ledger = result;\n                var comps = {};\n                comps.party = party;\n                comps.asset = asset;\n                comps.agree = agree;\n                comps.ledger = ledger;\n                callback(comps);\n            });\n        } catch (err) {\n            db.close();\n            console.log(err);\n        }\n    });\n}\n\ndoDump(function(data) {\n    db.close();\n    var msg1 = {};\n    msg1.topic = 'sync';\n    msg1.payload = JSON.stringify(data);\n    node.send(msg1);\n    node.done();\n});\n\n","outputs":1,"noerr":0,"x":330,"y":640,"wires":[["64d78d93.235584"]]},{"id":"7cf5ce6e.aea24","type":"inject","z":"93c96974.769e18","name":"drop party","topic":"","payload":"drop table party;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["e2aa3185.bdba4"]]},{"id":"f416ff6.9aca2","type":"inject","z":"93c96974.769e18","name":"select party","topic":"","payload":"select * from party;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["e2aa3185.bdba4"]]},{"id":"c50ed00.bc9883","type":"debug","z":"93c96974.769e18","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":40,"wires":[]},{"id":"24e8e03.bbca72","type":"inject","z":"93c96974.769e18","name":"select asset","topic":"","payload":"Select * from asset;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["e2aa3185.bdba4"]]},{"id":"52c570ba.63652","type":"inject","z":"93c96974.769e18","name":"select agreement","topic":"","payload":"select * from agreement;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["e2aa3185.bdba4"]]},{"id":"804edba2.09cbb8","type":"inject","z":"93c96974.769e18","name":"pragma party","topic":"","payload":"PRAGMA table_info(party);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["e2aa3185.bdba4"]]},{"id":"efffde7a.f8382","type":"inject","z":"93c96974.769e18","name":"pragma asset","topic":"","payload":"PRAGMA table_info(asset);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["e2aa3185.bdba4"]]},{"id":"32fb96bb.624d6a","type":"inject","z":"93c96974.769e18","name":"pragma ledger","topic":"","payload":"PRAGMA table_info(ledger);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":468,"y":383,"wires":[["e2aa3185.bdba4"]]},{"id":"908ffa9.10aac08","type":"inject","z":"93c96974.769e18","name":"pragma agreement","topic":"","payload":"PRAGMA table_info(agreement);","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":220,"wires":[["e2aa3185.bdba4"]]},{"id":"2972ec25.d9bea4","type":"inject","z":"93c96974.769e18","name":"select ledger","topic":"","payload":"select * from ledger;","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["e2aa3185.bdba4"]]},{"id":"e2aa3185.bdba4","type":"function","z":"93c96974.769e18","name":"Sql Qry","func":"// console.log('pld', pld);\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\nvar rset = [];\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            var pld = msg.payload;\n            db.each(pld, function (err, row) {\n                res.push(row);\n            }, function() {\n                resolve (res);\n            })\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    // console.log(data);\n    msg.payload = data;\n    // msg.complete = true;\n    node.send(msg);\n});\n\nreturn\n\n","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["c50ed00.bc9883"]]},{"id":"3a66d179.bab7ee","type":"inject","z":"5f660750.ff4b78","name":"inject","topic":"","payload":"{\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Asset\",\"zp2\":\"Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Giver\"},{\"name\":\"Taker\"},{\"name\":\"Witness\"},{\"name\":\"Third-Party\"},{\"name\":\"Attorney\"},{\"name\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\"},{\"name\":\"Virtual\"},{\"name\":\"Digital\"},{\"name\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\"},{\"name\":\"Non Binding\"},{\"name\":\"Traceable\"},{\"name\":\"Policy\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["52b165d3.18bb4c"]]},{"id":"52b165d3.18bb4c","type":"file","z":"5f660750.ff4b78","name":"file1","filename":"/home/devbnjhp/.node-red/file1.file","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":270,"y":40,"wires":[["22199645.ba9f1a"]]},{"id":"5b9d8173.3e00f","type":"file in","z":"5f660750.ff4b78","name":"file1","filename":"/home/devbnjhp/.node-red/file1.file","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":160,"wires":[["4e1ac056.10f9a"]]},{"id":"4e1ac056.10f9a","type":"json","z":"5f660750.ff4b78","name":"","property":"payload","action":"","pretty":false,"x":450,"y":60,"wires":[["ea66a7cb.d7d908"]]},{"id":"e4c4975a.85c088","type":"inject","z":"5f660750.ff4b78","name":"","topic":"","payload":"{\"skel\":{\"zp0\":\"Party\",\"zp1\":\"Asset\",\"zp2\":\"Agreement\",\"zp3\":\"Ledger\",\"zp4\":\"Dashboard\"},\"dell\":{\"clr\":\"blue\",\"ip\":\"localhost\",\"locn\":\"Sparta, NJ\",\"geo\":\"\"},\"zp0type\":[{\"name\":\"Giver\"},{\"name\":\"Taker\"},{\"name\":\"Witness\"},{\"name\":\"Third-Party\"},{\"name\":\"Attorney\"},{\"name\":\"Referee\"}],\"zp1type\":[{\"name\":\"Tangible\"},{\"name\":\"Virtual\"},{\"name\":\"Digital\"},{\"name\":\"Intangible\"}],\"zp2type\":[{\"name\":\"Binding\"},{\"name\":\"Non Binding\"},{\"name\":\"Traceable\"},{\"name\":\"Policy\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["52b165d3.18bb4c"]]},{"id":"9c421a59.f316b8","type":"debug","z":"f4d4cedd.f6327","name":"debug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":340,"wires":[]},{"id":"a138c17e.f284f","type":"debug","z":"f4d4cedd.f6327","name":"debug2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":220,"wires":[]},{"id":"30a10cd.954aaf4","type":"redis-instance","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","name":"Redis Near","topic":"redis","location":"flow","block":false,"x":700,"y":40,"wires":[]},{"id":"fac1c0e5.06fd4","type":"comment","z":"f4d4cedd.f6327","name":"Config: 3 masters 3 workers | 2 workers (Virginia), 1 worker (SFO)","info":"","x":250,"y":40,"wires":[]},{"id":"202e1db4.ab3462","type":"function","z":"f4d4cedd.f6327","name":"party-maker","func":"var ml = msg.payload;\n// var xy = {\"partyname\":\"John Mcguire\",\"stdate\":\"1976-03-02\",\"endate\":\"\",\"ptype\":\"Taker\"};\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar partyInput = {};\nvar columnPassword = \"helloworld\";\npartyInput.name = ml.zp0name;\npartyInput.bday = ml.zp0stdate;\nvar ptype = 'GIVER';\nptype = (ml.zp0type).toUpperCase(); \npartyInput.ptype = ptype;\npartyInput.pw = partyInput.name.replace(/\\s+/g,'') + \n    partyInput.bday + columnPassword;\nlet hsns = hs.hashNSalt(partyInput.pw);\n\nasync function putData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"Insert into party (name, hashid, salt, stdate, ptype) values \"+\n            \"(?,?,?,?,?)\", partyInput.name, hsns.passwordHash, hsns.salt, \n            partyInput.bday, partyInput.ptype);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\nputData().then (function(data) {\n    // console.log(data);\n    // msg.payload = data;\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["9c421a59.f316b8"]]},{"id":"56789719.d7d5c8","type":"function","z":"f4d4cedd.f6327","name":"asset-maker","func":"let mpl = msg.payload;\n// let xt = {\"name\":\"Devbnj\",\"location\":\"Sparta, New Jersey\",\"metadata\":\"\",\"qty\":\"1\",\"value\":\"100000\",\"atype\":\"Tangible\"};\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nlet assetInput = {};\nassetInput.name = mpl.name;\nassetInput.location = mpl.location;\nvar atype = 'TANGIBLE';\natype = mpl.zp1type.toUpperCase();\nassetInput.atype = atype;\nassetInput.qty = mpl.qty;\nassetInput.value = mpl.value;\nassetInput.metadata = mpl.metadata;\nassetInput.tag = mpl.tag;\nvar columnPassword = \"helloworld\";\nassetInput.pwd = assetInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(assetInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO ASSET('HASHID','SALT','NAME','LOCATION','METADATA','ATYPE','QUANTITY','ASSET_VALUE','ASSETTAG')\"+\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, assetInput.name, assetInput.location, \n            assetInput.metadata, assetInput.atype, assetInput.qty, assetInput.value, assetInput.tag);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    // msg.payload = data;\n    node.log(data);\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["9c421a59.f316b8"]]},{"id":"712c100f.84172","type":"function","z":"f4d4cedd.f6327","name":"agree-maker","func":"let mpl = msg.payload;\n// var st = {\"name\":\"Devbnj\",\"sla\":\"Immediate\",\"warranty\":\"Limited\",\"agreed_value\":\"82000\",\"agtype\":\"Binding\"};\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nlet agInput = {};\nagInput.name = mpl.name;\nagInput.sla = mpl.sla;\nvar atype = 'BINDING';\natype = (mpl.zp2type).toUpperCase();\nagInput.atype = atype;\nagInput.warranty = mpl.warranty;\nagInput.value = mpl.agreed_value;\nagInput.p_value = mpl.p_value;\nagInput.settle = mpl.settle;\n\nvar columnPassword = \"helloworld\";\nagInput.pwd = agInput.name.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(agInput.pwd);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO AGREEMENT('HASHID','SALT','NAME','SLA','ATYPE','WARRANTY','AGREED_VALUE','PERCEIVED_VALUE','SETTLEMENT')\"+\n            \" VALUES (?,?,?,?,?,?,?,?,?)\", hsns.passwordHash, hsns.salt, agInput.name, agInput.sla, \n            agInput.atype, agInput.warranty, agInput.value, agInput.p_value, agInput.settle);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["9c421a59.f316b8"]]},{"id":"196d387d.59ec78","type":"function","z":"f4d4cedd.f6327","name":"getParty","func":"var dt = msg.payload;\nvar options = [];\nvar row;\nfor (var i =0; i < dt.length; i++) {\n    row = dt[i];\n    var optsData = \"{\\\"\"+row.NAME+\"\\\": \\\"\"+row.HASHID+\"\\\"}\";\n    console.log('optsData', optsData);\n    var obj = JSON.parse(optsData);\n    options.push(obj);\n}\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":540,"wires":[[]]},{"id":"ec7fa308.90ff1","type":"function","z":"f4d4cedd.f6327","name":"ledger ddl","func":"var pld = msg.payload;\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\ndb.serialize(function() {\n    var sqlddl = \"CREATE TABLE IF NOT EXISTS PARTY(ID \" +\n        \"INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, \" +\n        \"SALT TEXT, NAME TEXT NOT NULL, PTYPE TEXT \" +\n        \"CHECK (PTYPE IN ('GIVER','TAKER','WITNESS','ATTORNEY', \" +\n        \"'THIRDPARTY','REFEREE')), STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, \" +\n        \"ENDDATE DATETIME); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS ASSET(ID \" +\n        \"INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, \" +\n        \"SALT TEXT, NAME TEXT NOT NULL, LOCATION TEXT NOT NULL, METADATA TEXT \" +\n        \"NOT NULL, ATYPE TEXT CHECK (ATYPE IN ('TANGIBLE','VIRTUAL', \" +\n        \"'DIGITAL','INTANGIBLE','LOYALTY')), ASSETTAG TEXT, QUANTITY REAL NOT NULL, \" +\n        \"ASSET_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, \" +\n        \"EXPDATE DATETIME, BOMPORTFOLIO TEXT ); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS AGREEMENT(ID INTEGER PRIMARY \" +\n        \"KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT \" +\n        \"NOT NULL, SLA TEXT, WARRANTY TEXT, ATYPE TEXT CHECK (ATYPE IN ('BINDING', \" +\n        \"'NONBINDING','TRACEABLE','POLICY')), AGREED_VALUE REAL \" +\n        \"NOT NULL, PERCEIVED_VALUE REAL, SETTLEMENT TEXT CHECK (SETTLEMENT IN \" +\n        \"('CASH', 'CREDIT', 'POINTS', 'FOREIGN CURR', 'BARTER', 'EXCHANGE')), \" +\n        \"STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE \" +\n        \"DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS LEDGER(ID INTEGER PRIMARY \" +\n        \"KEY AUTOINCREMENT, HASHID TEXT UNIQUE, PREVHASHID TEXT, SALT TEXT, GIVER TEXT, \" +\n        \"TAKER TEXT, ASSET TEXT, AGREEMENT TEXT, TRAN_AMT REAL, TRAN_QNTY \" +\n        \"REAL, NONTRAN_AMT REAL, SETTLEMENT TEXT CHECK (SETTLEMENT IN \" +\n        \"('CASH', 'CREDIT', 'POINTS', 'FOREIGN CURR', 'BARTER', 'EXCHANGE','PAYABLE','RECEIVABLE')), \" +\n        \"JOURNAL_TYPE TEXT CHECK (JOURNAL_TYPE IN ('JOURNAL', 'ADJUST', \" +\n        \"'VOUCHER', 'IOU', 'REDEMPTION', 'LEASE', 'INVOICE', 'CR.NOTE', 'DB.NOTE')), TRAN_TYPE TEXT CHECK \" +\n        \"(TRAN_TYPE IN ('REWARD', 'AQUISITION', 'LEND', 'BORROW', 'WIN', \" +\n        \"'MERGE', 'VIEW', 'VOTE')), LD_DATE DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n    db.run(sqlddl);\n    sqlddl = \"CREATE TABLE IF NOT EXISTS patient (id INTEGER primary key, \" +\n        \"txid TEXT not null, salt TEXT, ts REAL DEFAULT current_timestamp, \" +\n        \"resource_type text default 'Patient', status INTEGER not null, \" +\n        \"resource text not null); \";\n    db.run(sqlddl);\n    \n});\n\ndb.close();\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["a138c17e.f284f"]]},{"id":"2a43b7bf.786938","type":"dblite-redis-in","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","command":"subscribe","name":"","topic":"dksetup","timeout":0,"x":70,"y":220,"wires":[["55abb314.2f73bc"]]},{"id":"b00700ec.c6e79","type":"dblite-redis-in","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","command":"subscribe","name":"","topic":"dkparty","timeout":0,"x":70,"y":340,"wires":[["40fe391b.a06268"]]},{"id":"b4a2ac5e.18095","type":"dblite-redis-in","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","command":"subscribe","name":"","topic":"dkasset","timeout":0,"x":70,"y":420,"wires":[["5bfed49d.faa97c"]]},{"id":"c959699c.303538","type":"dblite-redis-in","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","command":"subscribe","name":"","topic":"dkagree","timeout":0,"x":80,"y":480,"wires":[["41ad1ab6.1a4824"]]},{"id":"f9388509.8dc378","type":"function","z":"f4d4cedd.f6327","name":"write-ledger","func":"var row = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar pw=\"\",salt=\"\",giver=\"\",taker=\"\",asset=\"\",agree=\"\",qty=0,value=0,settle=\"\";\nvar putData = function (callback) {\n    pw = row.pw;\n    salt = row.salt;\n    giver = row.txgiver;\n    taker = row.txtaker;\n    asset = row.txasset;\n    agree = row.txagree;\n    qty = row.txqty;\n    value = row.txamt;    \n    settle = row.settle;\n    db.serialize(function () {\n        var sqls = \"INSERT INTO LEDGER (hashid, salt, giver, taker, asset, agreement, tran_qnty, tran_amt, journal_type, tran_type, settlement) \"+\n            \" VALUES (?,?,?,?,?,?,?,?,?,?,?)\"\n        db.run(sqls, pw, salt, giver, taker, asset, \n            agree, qty, value, \"JOURNAL\", \"AQUISITION\", settle);\n        // stmt.finalize();\n        callback (row);\n    });\n}\n\nputData(function(data) {\n    db.close();\n    var msg1 = {};\n    msg1.payload = data;\n    node.send(msg1);\n    node.done();\n});\n\nreturn;","outputs":1,"noerr":0,"x":650,"y":500,"wires":[["9c421a59.f316b8"]]},{"id":"1d2dba5b.7b6fc6","type":"dblite-redis-in","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","command":"subscribe","name":"","topic":"dkledger","timeout":0,"x":80,"y":560,"wires":[["4c608aad.1a32e4"]]},{"id":"5394dd6f.af8b84","type":"ui_button","z":"f4d4cedd.f6327","name":"","group":"d052b556.86e658","order":2,"width":0,"height":0,"passthru":false,"label":"Fetch Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":920,"wires":[["66a11a50.ca1334"]]},{"id":"66a11a50.ca1334","type":"function","z":"f4d4cedd.f6327","name":"getData","func":"var x = msg.payload;\nvar hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nvar getData = function (callback) {\n    db.serialize(function () {\n        var cntasset = 0;\n        var cntlgr = 0;\n        var cntag = 0;\n        var cntparty = 0;\n        var budget = 0;\n        var actual = 0;\n        var agreed = 0;\n        db.all(\"SELECT count(asset_value) as c, sum(asset_value) as v FROM asset\", function (err, row1) {\n            cntasset = row1[0].c;\n            budget = row1[0].v;\n            console.log(row1);\n        });\n        db.all(\"SELECT count(agreed_value) as c2, sum(agreed_value) as v2 FROM agreement\", function (err, row3) {\n            cntag = row3[0].c2;\n            agreed = row3[0].v2;\n            console.log(row3);\n        });\n        db.all(\"SELECT count(name) as c3 FROM party\", function (err, row4) {\n            cntparty = row4[0].c3;\n            console.log(row4);\n        });\n        db.all(\"SELECT count(tran_amt) as c1, sum(tran_amt) as v1 FROM ledger\", function (err, row2) {\n            cntlgr = row2[0].c1;\n            actual = row2[0].v1;\n            console.log(row2);\n            callback({'budget': budget, 'actual': actual, 'agreed': agreed, \"cparty\": cntparty,\n                \"casset\": cntasset, \"cagree\": cntag, \"cledger\": cntlgr\n            })\n        });\n    });\n}\n\ngetData(function(data) {\n    db.close();\n    var percent1 = 0; percent2 = 0;\n    try {\n        percent1 = (Number(data.actual) / Number(data.budget) *10);\n        percent2 = (Number(data.actual) / Number(data.agreed) *10);\n    } catch (err) {\n        percent1 = 0;\n        percent2 = 0;\n    }\n    console.log(data);\n    var msg1 = {};\n    msg1.value1 = percent1;\n    msg1.value2 = percent2;\n    msg1.payload = {'Parties': data.cparty, 'Assets': data.casset, 'Agreements': data.cagree,\n    'Journals': data.cledger};\n    node.send(msg1, false);\n    node.done();\n});\n\n// return;","outputs":1,"noerr":0,"x":260,"y":920,"wires":[["cea29bf7.5fe9f8","9ea68ed2.7b23d","8863c407.272908"]]},{"id":"cea29bf7.5fe9f8","type":"ui_gauge","z":"f4d4cedd.f6327","name":"","group":"8e691577.130818","order":5,"width":0,"height":0,"gtype":"gage","title":"Actual vs Asset value","label":"units","format":"{{value2}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":880,"wires":[]},{"id":"9ea68ed2.7b23d","type":"ui_gauge","z":"f4d4cedd.f6327","name":"","group":"8e691577.130818","order":4,"width":0,"height":0,"gtype":"gage","title":"Actual vs Agreed","label":"units","format":"{{value1}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":920,"wires":[]},{"id":"8863c407.272908","type":"ui_text","z":"f4d4cedd.f6327","group":"d052b556.86e658","order":3,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-center","x":560,"y":840,"wires":[]},{"id":"b1c67f4e.54b73","type":"ui_text","z":"f4d4cedd.f6327","group":"d052b556.86e658","order":4,"width":"12","height":"5","name":"","label":"Data","format":"{{msg.payload}}","layout":"row-left","x":550,"y":720,"wires":[]},{"id":"8c453d6c.34f07","type":"dblite-redis-in","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","command":"subscribe","name":"","topic":"sync","timeout":0,"x":70,"y":960,"wires":[["646eaeb4.77763"]]},{"id":"646eaeb4.77763","type":"function","z":"f4d4cedd.f6327","name":"undumper","func":"'use strict;'\n\nvar strpld = msg.payload;\nvar pld = JSON.parse(strpld);\nvar dblite3 = global.get('dblite3').verbose();\nvar db = new dblite3.Database('/home/devb/sqlite/sqlite-sync/data/lgr.db');\n\ndb.serialize(function() {\n    try {\n        var sqlddl = \"CREATE TABLE IF NOT EXISTS PARTY(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, PTYPE TEXT CHECK (PTYPE IN ('GIVER','TAKER','WITNESS','ATTORNEY','THIRDPARTY','REFEREE')), STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, ENDDATE DATETIME); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS ASSET(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, LOCATION TEXT NOT NULL, METADATA TEXT NOT NULL, ATYPE TEXT CHECK (ATYPE IN ('TANGIBLE','VIRTUAL','DIGITAL','INTANGIBLE')), ASSETTAG TEXT, QUANTITY REAL NOT NULL, ASSET_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME, BOMPORTFOLIO TEXT ); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS AGREEMENT(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, NAME TEXT NOT NULL, SLA TEXT, WARRANTY TEXT, ATYPE TEXT CHECK (ATYPE IN ('BINDING','NONBINDING','TRACEABLE','POLICY')), AGREED_VALUE REAL NOT NULL, STDATE DATETIME DEFAULT CURRENT_TIMESTAMP, EXPDATE DATETIME DEFAULT CURRENT_TIMESTAMP); \";\n        db.run(sqlddl);\n        sqlddl = \"CREATE TABLE IF NOT EXISTS LEDGER(ID INTEGER PRIMARY KEY AUTOINCREMENT, HASHID TEXT UNIQUE, SALT TEXT, GIVER TEXT, TAKER TEXT, ASSET TEXT, AGREEMENT TEXT, TRAN_AMT REAL, TRAN_QNTY REAL, JOURNAL_TYPE TEXT CHECK (JOURNAL_TYPE IN ('JOURNAL', 'VOUCHER', 'IOU', 'REDEMPTION', 'LEASE')), TRAN_TYPE TEXT CHECK (TRAN_TYPE IN ('REWARD', 'AQUISITION', 'LEND', 'BORROW', 'WIN', 'MERGE', 'VIEW', 'VOTE')), LD_DATE DATETIME DEFAULT CURRENT_TIMESTAMP); \"; \n        db.run(sqlddl);\n    } catch (err) {\n        // ignore;\n    }    \n\n    try {\n        var party;\n        var sql = \"INSERT OR IGNORE INTO party (name, hashid, salt, ptype, stdate, enddate) values (?,?,?,?,?,?)\";\n        for (var i=0; i<pld.party.length; i++) {\n            party = pld.party[i];\n            db.run(sql, party.NAME, party.HASHID, party.SALT, party.PTYPE, party.STDATE, party.ENDDATE);  \n        }\n\n        var agree;\n        sql = \"insert or ignore into agreement (HASHID,SALT,NAME,SLA,WARRANTY,ATYPE,AGREED_VALUE,STDATE, EXPDATE) \" +\n            \"values (?,?,?,?,?,?,?,?,?)\"; \n        for (i=0; i<pld.agree.length; i++) {\n            agree = pld.agree[i];\n            db.run(sql, agree.HASHID, agree.SALT, agree.NAME, agree.SLA, agree.WARRANTY, \n            agree.ATYPE, agree.AGREED_VALUE, agree.STDATE, agree.EXPDATE);\n        }\n\n        var lgr;\n        sql = \"insert or ignore into ledger(HASHID,SALT,GIVER,TAKER,ASSET,AGREEMENT,TRAN_AMT,TRAN_QNTY,JOURNAL_TYPE,TRAN_TYPE,LD_DATE) \" +\n            \"values (?,?,?,?,?,?,?,?,?,?,?)\"; \n        for (i=0; i<pld.ledger.length; i++) {\n            lgr = pld.ledger[i];\n            db.run(sql, lgr.HASHID, lgr.SALT, lgr.GIVER, lgr.TAKER, lgr.ASSET, \n            lgr.AGREEMENT, lgr.TRAN_AMT, lgr.TRAN_QNTY, lgr.JOURNAL_TYPE, lgr.TRAN_TYPE, lgr.LD_DATE);\n        }\n\n        var asset;\n        sql = \"INSERT or IGNORE into asset (hashid,salt,name,LOCATION,METADATA,ATYPE,QUANTITY,ASSET_VALUE,ASSETTAG,STDATE,EXPDATE,BOMPORTFOLIO) \" +\n            \"values (?,?,?,?,?,?,?,?,?,?,?,?)\"; \n        for (i=0; i<pld.asset.length; i++) {\n            asset = pld.asset[i];\n            db.run(sql, asset.HASHID, asset.SALT, asset.NAME, asset.LOCATION, asset.METADATA, asset.ATYPE, asset.QUANTITY, asset.ASSET_VALUE, \n            asset.ASSETTAG, asset.STDATE, asset.EXPDATE, asset.BOMPORTFOLIO);\n        }\n\n    } catch (err) {\n        console.log(err);\n        // ignore\n    }\n});\n\ndb.close();\nmsg.payload = pld;\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":960,"wires":[["2389af98.2106d"]]},{"id":"2389af98.2106d","type":"debug","z":"f4d4cedd.f6327","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":960,"wires":[]},{"id":"f2547fcd.862d","type":"delay","z":"f4d4cedd.f6327","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":220,"wires":[["ec7fa308.90ff1"]]},{"id":"c69d1207.8a8e","type":"http in","z":"f4d4cedd.f6327","name":"","url":"worker","method":"get","upload":false,"swaggerDoc":"","x":100,"y":640,"wires":[["9a40a75d.7960d8"]]},{"id":"9a40a75d.7960d8","type":"template","z":"f4d4cedd.f6327","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{result}}\n","output":"str","x":500,"y":600,"wires":[["444c0e31.dede3","9c421a59.f316b8"]]},{"id":"444c0e31.dede3","type":"http response","z":"f4d4cedd.f6327","name":"","statusCode":"","headers":{},"x":750,"y":580,"wires":[]},{"id":"98255c8c.bb108","type":"function","z":"f4d4cedd.f6327","name":"toString","func":"var pld = msg.payload;\nvar str = JSON.stringify(pld, null, 2);\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":660,"wires":[["b1c67f4e.54b73"]]},{"id":"55abb314.2f73bc","type":"function","z":"f4d4cedd.f6327","name":"dec","func":"var dlc = global.get('dlcrypto');\nlet fs = global.get('fsv');\nvar pld = msg.payload;\nvar denc = dlc.dldecrypt(pld);\nlet foo = env.get(\"USER\");\nfs.unlink(denc,function(err) {\n    if (err) console.log(err);\n});  \nmsg.payload = denc; \nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["f2547fcd.862d","98255c8c.bb108"]]},{"id":"40fe391b.a06268","type":"function","z":"f4d4cedd.f6327","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nenc = JSON.parse(enc);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["202e1db4.ab3462","98255c8c.bb108"]]},{"id":"5bfed49d.faa97c","type":"function","z":"f4d4cedd.f6327","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nenc = JSON.parse(enc);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":190,"y":420,"wires":[["56789719.d7d5c8","98255c8c.bb108"]]},{"id":"41ad1ab6.1a4824","type":"function","z":"f4d4cedd.f6327","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nenc = JSON.parse(enc);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":480,"wires":[["712c100f.84172","98255c8c.bb108"]]},{"id":"4c608aad.1a32e4","type":"function","z":"f4d4cedd.f6327","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar denc = dlc.dldecrypt(pld);\ndenc = JSON.parse(denc);\nmsg.payload = denc; \nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["f9388509.8dc378","aad74918.dc3bb8"]]},{"id":"c07bcf9b.ac371","type":"dblite-redis-in","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","command":"subscribe","name":"","topic":"dkconfig","timeout":0,"x":80,"y":160,"wires":[["c77c6897.075ac8"]]},{"id":"c77c6897.075ac8","type":"function","z":"f4d4cedd.f6327","name":"filenamer","func":"var fs = global.get('fsv');\nlet foo = env.get(\"USER\");\nlet dir = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/\";\n\nif (!fs.existsSync(dir)){\n    fs.mkdirSync(dir);\n}\n\nmsg.filename = dir + \"dataknox.file\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["51b474ae.15ebac"]]},{"id":"51b474ae.15ebac","type":"file","z":"f4d4cedd.f6327","name":"startfile","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":400,"y":160,"wires":[["c359b0ab.60761","cbe3dcb2.50c"]]},{"id":"c359b0ab.60761","type":"debug","z":"f4d4cedd.f6327","name":"debug-ddl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":260,"wires":[]},{"id":"cbe3dcb2.50c","type":"json","z":"f4d4cedd.f6327","name":"","property":"payload","action":"","pretty":false,"x":590,"y":160,"wires":[["2fd4784f.ac4bf8"]]},{"id":"2fd4784f.ac4bf8","type":"change","z":"f4d4cedd.f6327","name":"","rules":[{"t":"set","p":"payload.config.lgr","pt":"msg","to":"lgr","tot":"global"},{"t":"set","p":"payload.config.redis","pt":"msg","to":"redis","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["c359b0ab.60761"]]},{"id":"aad74918.dc3bb8","type":"function","z":"f4d4cedd.f6327","name":"lgr-concat","func":"var pld = msg.payload;\n\nvar temp = pld.txgiver;\ntemp = temp.substring(1, 22) + \"...\";\nmsg.payload.txgiver = temp;\n\ntemp = pld.txtaker;\ntemp = temp.substring(1, 22) + \"...\";\nmsg.payload.txtaker = temp;\n\ntemp = pld.txasset;\ntemp = temp.substring(1, 22) + \"...\";\nmsg.payload.txasset = temp;\n\ntemp = pld.txagree;\ntemp = temp.substring(1, 22) + \"...\";\nmsg.payload.txagree = temp;\n\npld = msg.payload;\nvar str = JSON.stringify(pld, null, 2);\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":700,"wires":[["2389af98.2106d","b1c67f4e.54b73"]]},{"id":"d67370ed.560e7","type":"function","z":"f4d4cedd.f6327","name":"cleaner","func":"msg.payload = \"\";\nmsg.value1 = 0;\nmsg.value2 = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":760,"wires":[["b1c67f4e.54b73","8863c407.272908","cea29bf7.5fe9f8","9ea68ed2.7b23d"]]},{"id":"5ce6c92.6b75c38","type":"ui_button","z":"f4d4cedd.f6327","name":"","group":"d052b556.86e658","order":1,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":760,"wires":[["d67370ed.560e7"]]},{"id":"e6721188.2fd44","type":"dblite-redis-in","z":"f4d4cedd.f6327","server":"21ee0afd.a98e56","command":"subscribe","name":"","topic":"dkpatient","timeout":0,"x":80,"y":100,"wires":[["c16f2044.5ebba"]]},{"id":"c16f2044.5ebba","type":"function","z":"f4d4cedd.f6327","name":"dec","func":"var dlc = global.get('dlcrypto');\nvar pld = msg.payload;\nvar enc = dlc.dldecrypt(pld);\nenc = JSON.parse(enc);\nmsg.payload = enc; \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["6128ac8d.09f544","98255c8c.bb108"]]},{"id":"6128ac8d.09f544","type":"function","z":"f4d4cedd.f6327","name":"patient-maker","func":"let mpl = msg.payload;\nlet hs = global.get('hashnsalt');\nvar dblite3 = global.get('dblite3').verbose();\nlet foo = env.get(\"USER\");\nvar lgrname = \"/home/\"+foo+\"/sqlite/sqlite-sync/data/lgr.db\";\nvar db = new dblite3.Database(lgrname);\n\nlet patInput = {};\npatInput.patid = mpl.patid;\npatInput.patstat = mpl.patstat;\npatInput.patres = mpl.patres;\nvar columnPassword = \"helloworld\";\npatInput.patxid = \"abcdefghijklmnop\" + patInput.patid.replace(/\\s+/g,'') + columnPassword;\nlet hsns = hs.hashNSalt(patInput.patxid);\n\nasync function getData() {\n    var res = [];\n    let promise = new Promise((resolve, reject) => {    \n        db.serialize(function () {\n            db.run(\"INSERT INTO PATIENT('TXID','SALT','STATUS','RESOURCE')\"+\n            \" VALUES (?,?,?,?)\", hsns.passwordHash, hsns.salt, patInput.patstat, patInput.patres);\n        })\n    })\n\n    let result = await promise;\n    return result;\n}\n\ngetData().then (function(data) {\n    node.log(data);\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["a1752e02.c470b"]]},{"id":"a1752e02.c470b","type":"debug","z":"f4d4cedd.f6327","name":"debugpat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":100,"wires":[]}]